[2019-09-28 10:57] nicolodavis commented on #479
I think we both said the same thing at the same time (Option 2 in my reply) :)

[2019-09-28 10:59] nicolodavis commented on #479
Just to clarify, I don't think we'd be removing anything from the current API.  We are just extending the value syntax to also support objects in addition to stage names.  Is that what you were thinking also?

[2019-09-28 11:01] delucis commented on #479
Yes exactly. Ok, that looks like the best choice to me too. I think the main use case for this kind of thing would be player-specific move limits derived from game state (dice rolls, territory controlled, card played, etc.)

[2019-09-28 11:04] nicolodavis commented on #479
OK great, let's do that then.

[2019-09-28 11:12] nicolodavis commented on #479
Separately, I realized one difficulty in defining the semantics of setStage and setActivePlayers.

The concept of `playerID` only makes sense when a specific player calls this event directly or inside a move.

However, you can also call the event from inside a phase's `onBegin` for example. There is no concept of a turn or a currentPlayer at this point yet. We should probably prevent the event fro

[2019-09-28 11:17] delucis commented on #479
Oh right. When `setActivePlayers` is called with `turn.activePlayers`, `playerID` is already set to `currentPlayer` though, right?

[2019-09-29 14:13] nicolodavis commented on #479
Yes, but only because we pass in `currentPlayer` explicitly to the [call](https://github.com/nicolodavis/boardgame.io/blob/master/src/core/turn-order.js#L211).

[2019-09-29 15:25] nicolodavis opened #482 "events.js does not handle any events that are further generated in the code that it runs"
For example:

[code]

This is due to the fact that events are processed only [once](https://github.com/nicolodavis/boardgame.io/blob/master/src/core/reducer.js#L191).

[2019-09-30 02:29] #459 closed

[2019-09-30 14:34] #479 closed

[2019-10-01 04:38] nicolodavis commented on #429
Should we look into [JSON Web Tokens](https://jwt.io/) for auth stuff in general?

[2019-10-01 04:51] nicolodavis commented on #354
Perhaps we should use a generic `render` callback of some sort that the user can use to the render the game using any technology of their choice?

#### Current State

We pass in the React components to the lobby directly (which is itself a React component).  The Lobby then knows which component to render based on the game selected.

[code]

#### Proposal

Once we migrate the Lobby to Svelte (or ev

[2019-10-01 10:26] delucis commented on #354
Is [`src/lobby/connection.js`](https://github.com/nicolodavis/boardgame.io/blob/master/src/lobby/connection.js) currently useable as a vanilla “lobby client”? Mirroring trying to develop the vanilla game client (supporting events etc.), it would be nice if there was something users could plug their own lobby rendering into that provides the basic API (list, join, leave, etc.)

[2019-10-01 10:49] delucis commented on #354
Also, looking at [this](https://github.com/jesseskinner/svelte-react), it looks like an extra dependency might be needed to allow a Svelte Lobby to handle React components (and more dependencies for more frameworks). Maybe it would be better to have framework-specific packages that sit on top of the vanilla client and lobby APIs and provide components in React, Vue, etc.? (Svelte Client and Lobby

[2019-10-01 11:58] nicolodavis commented on #354
Why would we need to pull in `react-svelte`?  Wouldn't the React dependencies be the responsibility of the developer using boardgame.io?

[code]

[2019-10-01 12:15] delucis commented on #354
Ohhhh, I see — `react-svelte` is if you need to use React in your Svelte app before compiling it. Then the above looks great!

Do you think there should be some documentation on how to use `LobbyConnection` directly for those who don’t want to use the provided component?

[2019-10-01 12:17] nicolodavis commented on #354
`LobbyConnection` is just a simple REST client that invokes our API.  Do you think there is much value in making that externally visible?  I would think that people would prefer to use their favorite library to call our REST API directly as opposed to using our client wrapper.

[2019-10-01 12:35] nicolodavis commented on #354
My thinking was that we just provide the REST API (which can be consumed in many ways).  In addition to that, we also provide a default lobby implementation (that can be styled).  If someone wants to build a completely different lobby, they can go ahead and build that on top of our REST API.

Maybe what we should be focusing on is making our existing lobby generic enough that people won't see the

[2019-10-02 03:13] nicolodavis commented on #383
Sorry about not getting back to this thread sooner.

Sounds like we have a couple of things that we could do here:

#### Singleplayer

This is where you have the game running completely client-side with no server.  You just need the bot to make a move at the appropriate time.  A simple solution would be to automate calling `step()` at the right time (similar to the code [here](https://github.com/f

[2019-10-02 03:44] nicolodavis commented on #367
Closing this now that v0.33 is out.  Feel free to reopen if you find that the new release doesn't fix your problem.

[2019-10-02 03:44] #367 closed

[2019-10-02 03:45] #242 closed

[2019-10-02 13:43] MichalPP opened #486 "moves not changing G if in stage"
I have a very simple game: roll dice (1-6) then move by 1-6 positions.

I created two moves (rollDice and move) and two stages (stageDice and stageMove). works fine.

however, if I restrict stages to use only some moves, the moves don't work. so

`turn: { stages: stageMove{  } }`
works fine (G is changing), but
`turn: { stages: stageMove{ moves: { move: G => G } } }`
does not (G remains unchanged)

[2019-10-02 14:03] nicolodavis commented on #486
It would be much easier to debug if you provide a https://codesandbox.io/ link.

[2019-10-02 14:04] delucis commented on #486
@MichalPP Do you have some more detailed code? The following should work:

[code]

You do need to make sure the player is actually in one of the stages, otherwise there are no moves for them to make. The following would set the player to `stageDice` at the start of each turn:

[code]

[2019-10-02 14:29] nicolodavis commented on #394
Closing this now that v0.33 is out.  Feel free to reopen if you find that the issue you're dealing with still persists.

[2019-10-02 14:29] #394 closed

[2019-10-02 14:30] #366 closed

[2019-10-02 14:31] nicolodavis commented on #308
This should be fixed in v0.33.  Feel free to re-open if you still have problems with this.

[2019-10-02 14:31] #308 closed

[2019-10-02 14:35] nicolodavis commented on #426
I'm afraid this use-case doesn't map very well to the way this framework is designed (which expects all the game state to be available, rather than being queried during play).  Feel free to continue to discussion on Gitter.

[2019-10-02 14:35] #426 closed

[2019-10-02 14:36] nicolodavis commented on #365
Haven't seen this error myself, and given that there isn't a sure way to reproduce it, I'll close this for now.  Feel free to re-open if you see this after upgrading to v0.33.

[2019-10-02 14:36] #365 closed

[2019-10-02 14:40] MichalPP commented on #486
I had to keep the moves in moves section (I reuse them in different stages). I suspect the form of restricting the moves in stages is causing problems (@delucis  format works):

[code]

If you don't see any error in the above syntax, I will strip out a minimalistic demo of my game (currently it's bit longer).

[2019-10-02 14:41] #344 closed

[2019-10-02 14:53] #258 closed

[2019-10-02 15:52] delucis commented on #486
If you need the moves for different stages, the best approach is to declare the function once and re-use it:

[code]

If you’re still having trouble, a minimal demo would be great.

[2019-10-02 15:59] MichalPP commented on #486
@delucis thanks, it's working like charm.

I will create some PR for documentation.

[2019-10-02 15:59] #486 closed

[2019-10-02 16:04] blunket commented on #344
Hey @nicolodavis.
Totally understandable for now, though I wonder how this will work with AI implementation given that it's not intended to be a valid move.

[2019-10-02 16:06] blunket commented on #477
Could this also be used as a "surrender" event?

Or can we make the turnOrder removal optional and/or add a callback for after this?

[2019-10-02 16:22] blunket commented on #460
Yesss, I want this. Can this be opt-in, though? Preferably on a per-game basis?

I assume we'd have a pre-built chat component for the front-end while offering options to implement your own front-end (similar to the current lobby discussion).

[2019-10-03 00:17] nicolodavis commented on #486
What specifically is missing in the documentation that you want to fix?

[2019-10-03 16:29] Pong420 opened #487 "setActivePlayers function in onBegin hooks only work once"
[code]

in the next turn `ctx.activePlayers` will be null

[2019-10-03 18:07] delucis commented on #487
This might be related to #482. I haven’t tested if `setActivePlayers` works in `onBegin`.

That said, at least for your example, you could achieve this more simply like this:

[code]

[2019-10-04 01:23] Pong420 commented on #487
it works, thanks so much

[2019-10-04 01:46] nicolodavis commented on #487
I don't think #482 is involved here (that bug only kicks in if an event does something like ending the turn (or phase) which further triggers an `onEnd` that contains another event).

@delucis has already pointed out the more idiomatic way of doing this, but I'm still curious why the original example does not work.

[2019-10-04 02:05] Pong420 commented on #487
For your reference,
I have try `setActivePlayers` in below example.
[code]
The player who last takes the move in the previous phase is in `main` stage but not the `ctx.currentPlayer`

[2019-10-05 04:22] nicolodavis commented on #460
Yes I'd hope that we made this purely opt in.  We can also implement (as a first step) a purely ephemeral chat that uses the existing socket layer.  That way you don't have to worry about storage, which might be exactly what some people want.

[2019-10-05 04:27] nicolodavis commented on #477
I think a surrender event might be better implemented as a plugin because it needs to store state (while the pass event is stateless).

[2019-10-05 04:28] nicolodavis commented on #477
What do you mean by making the removal from playOrder optional?  I would think that it is necessary to do that to implement a pass move, no?

[2019-10-05 04:31] nicolodavis commented on #344
Can you elaborate? A bot would never make invalid moves in the first place (i.e you would not have it end the turn before the condition has been fulfilled), so I'm not sure if we need this for AI purposes.

[2019-10-05 05:25] blunket commented on #344
Oh, okay, I'm sorry! Thanks for explaining.

[2019-10-06 20:20] danielimmke commented on #477
I'd like to work on this. I've been onboarding onto the codebase and think I could have a PR within the week for it.

[2019-10-06 22:21] delucis opened #488 "Consider re-ordering processing of setActivePlayers value argument"
Currently arguments to `setActivePlayers` are processed in the following order:

1. `value`
2. `player`
3. `others`
4. `all`

[Source →](https://github.com/nicolodavis/boardgame.io/blob/e5fd40b16a961e026f451bf07fada6f2e1864ff8/src/core/turn-order.js#L63-L107)

This is “safe” in the sense that each argument that applies to a larger set of players follows the previous smaller argument, so if an `all

[2019-10-07 05:08] Stefan-Hanke commented on #451
@tsioap Refering to the PR - this is not only about the directory separator. I've just clone this repo, and `npm start` didn't work - because the `bash` command was not found (it is installed though). I'm not sure what scripting language to use for cross-platform purposes. Since NodeJS must be installed, maybe `dev.sh` could be converted to a JS script? Or maybe inline it completely into `package.

[2019-10-07 05:13] Stefan-Hanke commented on #451
As a sidenote, maybe a CI job running on windows could take care that some scenarios do not break to begin with.

[2019-10-07 05:39] nicolodavis commented on #451
Yes, we'd have to make it a cross-platform script, similar to https://github.com/nicolodavis/boardgame.io/blob/master/scripts/clean.js

Welcome back @Stefan-Hanke!  Long time no see.

[2019-10-07 05:42] nicolodavis commented on #477
Thanks @danielimmke.  Looking forward to it.

[2019-10-07 07:53] MichalPP commented on #486
I was working with tic-tac-toe tutorial (which is excellent, thank you). there the moves are defined within the moves section of the game.

in the stage documentation, there is documentation on how to restrict moves within the stage. but there is no mention that the moves must be defined as global functions, not within moves section of the game (which should just link the function, not define it).

[2019-10-07 11:28] delucis commented on #486
@MichalPP Good to understand that that’s not clear. I’m not sure your changes in #491 are the best way to go. I think we need to clarify that `moves` inside a stage are _functions_ not references by name to the main `moves` section.

The moves inside a stage don’t _have_ to be global, it’s just that if you’re using a move across different places, it’s convenient to declare the function once and re

[2019-10-07 11:47] MichalPP commented on #486
yes, clarify that stage-moves are functions not name references.

btw, i've spent some time trying to reference from stage-moves with links like `this.game.props.moves.rollDice` and similar. of course, it did not work :)

knowing that copy/pasting context of a function into two places is bad, i would just stress the first example in the documentation.

[2019-10-07 14:17] danielimmke commented on #477
Hey @nicolodavis thanks for replying. I have a very basic version of this working but wanted to make sure I 100% understood the requirements before submitting a PR. A "Pass" to me is just the same as ending a turn without doing anything. So I created a new event but copied the EndTurn method and removed the check that stops EndTurn from happening (around the comment `// Prevent ending the turn if

[2019-10-07 23:39] tisoap commented on #451
Ah, I understand now. I did work for me because I use [Git Bash for Windows](https://gitforwindows.org/). I agree a Node script would be the best choice to make it cross platform regardless of terminal used, I'll look into converting it.

[2019-10-08 12:48] nicolodavis commented on #488
Sounds good to me.

[2019-10-08 12:48] #488 closed

[2019-10-08 12:57] nicolodavis commented on #477
@danielimmke A pass is similar to a no-op move that merely calls `endTurn` (and you can in fact create a move to do exactly this).  However, it also accomplishes another important thing which is to remove the player from `playOrder`.  This will cause the turn to skip over the player the next time it comes around.  It's also possible to simulate this using a move and a custom turn order, but we're

[2019-10-08 12:58] nicolodavis commented on #451
Thanks @tisoap.  Feel free to update the existing PR or open a new one if you prefer.

[2019-10-08 16:27] Stefan-Hanke commented on #451
@nicolodavis thanks - hope that I can contribute on a somewhat regular basis. Let's see how things are going.

[2019-10-09 02:30] nicolodavis commented on #451
Your contributions are much appreciated.  As always, the current areas of focus are documented in the [roadmap](https://github.com/nicolodavis/boardgame.io/blob/master/roadmap.md).  The large ones are the ability to add bots to games, the game lobby and the Svelte migration.

[2019-10-15 02:51] #451 closed

[2019-10-15 06:58] MichalPP commented on #486
@nicolodavis maybe documentation like: `if you have moves defined within stages, you can remove global moves definition. `

the doc part saying `This moves section completely overrides the global moves section for players in that stage (players are not allowed to make any moves from the global moves section while they are in that stage).` implied to me, that each stage-move has to be a global move

[2019-10-15 16:13] danmkent commented on #439
I'm playing around with things in this area. Since my PR (https://github.com/nicolodavis/boardgame.io/pull/493) was kindly accepted, the Simulate function is now exported, so it is easy to write code that uses the boardgame.io AI framework to run simulations.

At the most basic, you just need to configure a game object and then have a loop with a bot and a call to Simulate in it:

`for(let i=0; i<

[2019-10-15 16:38] nicolodavis commented on #439
@danmkent Nice!  We should probably create a nicer public API rather than use the internal ones like `InitializeGame` (although that's fine in the meantime).

In the ideal world, you should be able to do:

[code]

[2019-10-15 16:45] danmkent opened #494 "Enable collection of more game data when simulating"
There are lots of analysis options that would be opened up if it was possible to collect more information about what happens during games when using Simulate.

For example, if the sequence of moves could be accessed, it would mean that we could see how often different kinds of moves are used. If mid-game states could be accessed then things like average scores at different points in the game could

[2019-10-15 22:59] danmkent commented on #439
I'd be happy to contribute to this area. This is one of the main aspects of boardgame.io that I expect to make use of, so it would be great to firm up the API.

There are lots of stats that can be collected regardless of the details of the game being simulated, so it would definitely make sense to have Simulate return them.

I created a separate issue (https://github.com/nicolodavis/boardgame.io/i

[2019-10-16 08:14] nicolodavis commented on #494
Just collecting the ideas we have so far:

#### Default stats that we export if no configuration is passed

[code]

1. Minimum, maximum and average number of turns per phase / game.
2. Minimum, maximum and average number of moves per turn.
3. Counters for each move played.
4. Same numbers, but reported per player.

#### Customization

Maybe let's have a `stats` object that's passed around that can

[2019-10-16 11:04] danmkent commented on #494
The ability to inject an arbitrary function to add things to the stats object that will be returned would be perfect.

I like the idea of mirroring the API of the game object with the same set of lifecycle events to hook into.

I probably wouldn't use the trigger API (I'd want to be explicit about when I am collecting stats) but I can imagine people preferring that.

I think the return object from

[2019-10-16 11:19] nicolodavis commented on #494
Yep, I agree that we should return an object that contains the stats, game state and other stuff.

I also like the idea of using a minimal set of stats as the default.

[2019-10-18 00:24] ethanx94 opened #496 "[Enhancement] Subrepo for Server"
I wanted to extend the server code with my own fork but it would be ideal if I could just fork the server by itself as a submodule. I know there was some talk of server enhancements recently. Would it be a good idea to split the server into its own separate repo?

[2019-10-18 02:31] nicolodavis commented on #496
I'm open to splitting out the different components into separate repos eventually, but not at the moment.  I'd like to keep everything in one repo until we release v1.0.

What extension to the server are you planning?  Is there anything we can add to it that would prevent the need to fork it?

[2019-10-18 02:31] #496 closed

[2019-10-22 08:17] nicolasca opened #497 "Understanding of concepts of phases | turns | stages"
I have read the blog post about stages, the documentation, and looked some examples in the repo, and i'm quite sure I don't fully understand the way to use all this correctly.
Here is the flow of my game:

* Phase to draft a deck
  - player 1 and player 2 draft simulteanously
* Phase in game area
  - Army deployment
     + Player 1 deploys 1 unit
     + Player 2 deploys 1 unit
     *Repeat until i

[2019-10-22 08:24] nicolodavis commented on #497
It looks to me that all the periods in your game are phases.  Is there any difficulty that you had in applying the "phase" concept to your game?

I would probably do something like this:

[code]

When the `fight` phase loops back, you can increment a `round` counter in `G` that can then be used to determine if you should bail out after the 8th time.

[2019-10-22 08:38] nicolasca commented on #497
Ah all right.
Yes for me would be nice and clear to use this way, and I see that for now I don't need stages.
I didn't know if it could be correct (as a code pattern) to put everything "flat", as phases, and iterate only on some of them. But I think it fits very well in fact with the game flow.

Thanks for this clarification.
And again, the library you developed is very cool. I will follow it clos

[2019-10-22 08:40] nicolodavis commented on #497
Glad to be of help.  Feel free to ask any questions you have have on our [Gitter](https://gitter.im/boardgame-io/General) channel or here.

[2019-10-22 08:40] #497 closed

[2019-10-23 23:27] ethanx94 commented on #496
Probably quite a few things, right now in my app I just do and import and export of the server but no way to dig into the core. So the fork isn’t as much out of a specific enhancement rather than having some finer control to add more endpoints, etc.

There actually was one enhancement I was working on to simplify the game codes though. Our users just share these back and forth but I notice that so

[2019-10-24 05:31] nicolodavis commented on #496
The Koa app is exposed to the user of the `Server` call, so you can add as many endpoints as you like without needing access to the library code.

[2019-10-26 22:55] delucis opened #499 "Svelte debug panel doesn’t toggle player"
First, great work getting the debug panel over into Svelte!

I’ve just installed v0.34.1 and I can’t seem to toggle the client’s player using the debug panel as I could previously.

### Old debug panel

![old-debug-panel](https://user-images.githubusercontent.com/357379/67626957-b427ec00-f853-11e9-86a4-116818ee6a6d.gif)

### New debug panel

![new-debug-panel](https://user-images.githubusercontent

[2019-10-27 06:40] nicolodavis commented on #499
I just forgot to Port this feature over :)

[2019-10-27 10:40] nicolodavis commented on #499
I'm going to be spending more time on the debug panel in the next week so this should be fixed soon.

[2019-10-27 14:46] amitport commented on #418
working on this

[2019-10-27 18:26] delucis commented on #499
Nice — for now I'm using an old branch of mine so no rush on my end.

[2019-10-28 02:51] ethanx94 commented on #496
That’s interesting. Though I’m not sure how to hook into the endpoints the server provides...how would someone go about adding a new GET route? Another property on the Server object? If I provide a route with the same name as a built in route could I override it completely?
![A21C7ECF-258D-4B08-98B1-0BBB441196C4](https://user-images.githubusercontent.com/4449468/67648484-2b20bb80-f90c-11e9-995a-2a

[2019-10-29 01:06] danielimmke opened #501 "Lint/Test errors"
Hey Nicolo, I am trying to work on my branch but getting some errors after pulling master in.

boardgame.io/src/client/client.test.js
  17:10  error  'RandomBot' is defined but never used  no-unused-vars

And also:

● Validation Error:

  Module jest-transform-svelte in the transform option was not found.

When running Jest tests. I'm sure you would find these eventually but logging them just in c

[2019-10-29 02:25] nicolodavis commented on #501
Thanks!

The RandomBot error should be fixed.

I'm not sure the `jest-transform-svelte` thing is an actual problem.  My suspicion is that you haven't done an `npm install` after the dependency was added.  Can you re-run `npm install` and check if it works?

[2019-10-29 02:31] danielimmke commented on #501
Yup - that was it. Thanks!

[2019-10-29 02:31] #501 closed

[2019-10-29 17:07] sageguy09 opened #503 "LobbyAPI requires refresh to see if another player has joined"
Within a Lobby implementation, a user can create a game/room. Upon creation, the user is only able to see if another player has joined by refreshing the page.

Requesting that the default transport logic via socket.io include an update to allow updating of the create game/room line to reflect when another player has joined.

[2019-10-29 17:11] sageguy09 commented on #503
a potential alternative to this would be to allow users that create games, to be able to join the created room before another player has joined. This would require Lobby to support adding a `loading` option to `importedGames`

[2019-10-29 20:15] sageguy09 opened #504 "Broken Link on Server documentation"
A link listed in the `Server` document contains a broken link pointing to Rest API. The link is in the second paragraph and is poiting to : `https://boardgame.io/documentation/#/api/API`

[2019-10-30 07:10] #418 closed

[2019-10-30 07:13] nicolodavis commented on #503
I believe this is already captured in #354.  Please add to that issue if there is anything not captured there.

[2019-10-30 07:13] #503 closed

[2019-10-30 07:15] nicolodavis commented on #504
Thanks!  This should now be fixed.

[2019-10-30 07:15] #504 closed

[2019-10-30 13:11] amitport opened #506 "'parcel' is not recognized as an internal or external command"
when running `npm run dev:client`
(probably should be added to devDependencies

[2019-10-30 13:14] amitport commented on #506
oh I guess should have run `npm run dev`

[2019-10-30 13:14] #506 closed

[2019-11-05 22:57] somebody-vip opened #511 "Confused at master (server) and client deployment"
Hi,

As as a novice beginner at Node and npm programming, I have just prototyped a small boardgame using boardgame.io after spending many hours. Testing on the local mockup server was so far so good. What I do is I run "**node -r esm src/server.js**" to launch a server (master) and run "**npm start**" to launch a local client.

But I now am facing some trouble in my attempt to  actually deploy the

[2019-11-06 05:23] nicolodavis commented on #511
Hi @somebody-vip.

Here is what the two layers do:

1. The **client layer** is the code that will run on the user's browser.  You have to deploy it to a web server somewhere (this is the web page that they visit).

2. The **server layer** is a sort of controller that acts as an intermediary during multiplayer sessions.  When a client makes a move, it sends it to this server, which then notifies ot

[2019-11-06 05:23] #511 closed

[2019-11-06 18:05] somebody-vip commented on #511
Thanks, Nicolo! Your explanation makes sense to me!

[2019-11-06 20:01] MitchellJeppson opened #512 "CodeSandbox in documentation broken"
The documentation page for multiplayer links to a code sandbox and states "Complete code from this section is available on CodeSandbox. To run it, click on the download button, then run the server and client as described above."

When you follow those steps and start the server using
`$ node -r esm src/server.js`

You get the following error:

SyntaxError: The requested module 'file:///game/node_m

[2019-11-07 00:23] delucis commented on #512
Sounds like the CodeSandbox is out of date. The `Game` constructor was removed in v0.33 as documented in [the migration guide](https://nicolodavis.com/blog/boardgame.io-0.33/).

[2019-11-07 18:47] MitchellJeppson commented on #512
Thanks for the quick response. It looks like you can just remove the entire import statement. Is there anything else I can do to propose the change? Or is that CodeSandbox handled separately?

[2019-11-08 02:54] nicolodavis commented on #512
I usually just update the code in CodeSandbox and then change the link on the doc page.  Feel free to do this if you have time.  Otherwise, I'll get to it after the next release.

[2019-11-09 01:08] delucis commented on #487
Just a quick note to say I ran into this myself today. I had a situation where I wanted to configure turn active players conditionally, based on game state. In a simplified form:

[code]

But this always results in `ctx.activePlayers === null`

I guess this would also come up if you wanted to pass different values to `setActivePlayers` based on some game state.

I’ll try to dig into why this is ha

[2019-11-09 11:49] delucis opened #513 "Events documentation vs implementation"
The [Events documentation](https://boardgame.io/documentation/#/events) states that both `endStage` and `endPhase` can be passed `next` options to set which stage or phase will follow. However, if you look at how they are implemented, `EndStageEvent` and `EndPhaseEvent` don’t actually pass those arguments on:

https://github.com/nicolodavis/boardgame.io/blob/9d74966ad4656021c971b012e59973ebedcc618

[2019-11-09 17:54] delucis commented on #487
So, the events flow is a nightmare to debug, but I can confirm what @Pong420 reported, that the `playerID` used by events dispatched in `turn.onBegin` seems to be stale. If `currentPlayer` has been incremented, `playerID` here will still be `currentPlayer - 1`.

I _think_ the bug is that `playerID` here is provided by the `Events` class when it creates the event action:

https://github.com/nicolod

[2019-11-11 15:52] nicolodavis commented on #487
Thanks for looking into this!  A bit busy this week, so will take a look over the weekend.

[2019-11-12 02:18] nicolodavis commented on #513
Ah yes, I think we should update the documentation to remove references to `next` when it comes to `EndStage` and `EndPhase`.

[2019-11-12 23:17] delucis commented on #513
Going to fix this, I realised the docs are actually referring to `next` options _in the game config_, which is correct… I’ll close this since I just misread it, but I’ll also see if there’s a way to improve it to avoid that confusion.

[2019-11-12 23:17] #513 closed

[2019-11-14 17:04] nearwood commented on #439
This is awesome, good work. I also would love to run some stats on some simple board games.

[2019-11-14 21:58] nearwood commented on #476
Heh, I had the same idea: #419. I don't have time to work on it though.

[2019-11-15 00:54] nicolodavis commented on #476
Btw this has already been implemented and will be available in the next release.

[2019-11-15 14:00] #476 closed

[2019-11-15 14:57] SaFrMo opened #516 "Allow debug panel in NODE_ENV=production"
Hey! Absolutely love this framework - thank you so much for all your work on it!

I'm using this on top of Nuxt and want to create a static page using `nuxt generate`, which doesn't allow me to change `NODE_ENV`. I want to include the vanilla debug panel in this static page, but there's no way to do so since it's guarded by `NODE_ENV !== 'production'`.

Can there be a `forceDebug` option or someth

[2019-11-15 15:18] nicolodavis commented on #516
Hey @SaFrMo!

There is one other consideration: we don't want the Debug Panel code to even appear in the final bundle of a game that doesn't need it.  So, the option to include / strip it has to be available at bundling time (which is what `process.env.NODE_ENV` does).

One way to solve this might be:

[code]

What do you think?

[2019-11-15 16:47] SaFrMo commented on #516
@nicolodavis Noted, that reasoning absolutely makes sense - and I love that solution, that'd work perfectly! Is that a quick change on your end or something you'd like a PR for? Thanks for the quick response, much appreciated!

[2019-11-18 05:53] nicolodavis commented on #516
It's an easy change that I can make in the next couple of weeks when I have some time.

[2019-11-18 13:44] SaFrMo commented on #516
Fantastic, thank you so much!

[2019-11-20 17:17] nearwood opened #517 "currentPlayer not advancing using TurnOrder.DEFAULT at phase end."
I think I've found a new issue in v0.33 and newer. The current player is retained during the end of one phase and beginning of another one. I'm using `TurnOrder.DEFAULT`.

[Here's a CodeSandbox](https://codesandbox.io/s/headless-morning-3y8bo?expanddevtools=1&fontsize=14&hidenavigation=1&moduleview=1&previewwindow=tests&theme=dark) of the issue reproduced with Jest, with the relevant code reproduc

[2019-11-20 22:38] nearwood opened #518 "Server export difference in v0.34.x"
It looks like the exports were changed and maybe Server is not longer exported. Using this small example:

[code]
With:
* Node v13.1.0
* boardgame.io v0.34.2
* esm v3.2.25

Results in:

[code]

It looks like it may not be exported anymore:

[code]

But I was able to find it at :
[code]

So you can use `const Server = require('boardgame.io/dist/server').Server;` but that is weird. Advise on proper

[2019-11-20 22:44] nicolodavis commented on #518
Ah, this is a bug because I forgot to consider `server.js` in https://github.com/nicolodavis/boardgame.io/blob/master/scripts/proxy-dirs.js

[2019-11-21 01:53] nearwood commented on #518
Cool. Looks like I can just add it to subpackages.js? Easy first PR!

[2019-11-21 02:42] nicolodavis commented on #518
Sure, feel free to send a PR.

It's not as simple as adding it to `subpackages.js` though.  The other subpackages are generated in `dist/esm` and `dist/cjs`.  What we do to wire them both is to generate a `package.json` file with a `module` and `main` field pointing to each.

So, we'd generate something like:
`client/package.json`
`core/package.json`
`ai/package.json`
...

at the top level.

The s

[2019-11-21 03:00] nearwood commented on #518
Ok, I understand the submodule generation at at least a high level. But, it looks like Rollup is having issues with the typescript in the server module. I see there's a typescript plugin to convert it but something appears to be missing.

[2019-11-21 03:03] nicolodavis commented on #518
But you are able to see dist/server.js and even import it in your client
code, so why do you think the typescript compilation isn't working?

On Thu, Nov 21, 2019, 11:00 AM Nick Earwood <notifications@github.com>
wrote:

[2019-11-21 03:05] nearwood commented on #518
Yes, I was able to get it working on a packaged version from npm. Here, I am trying to build it locally to create a PR. I think I just figured it out though, just a matter of changing some filenames.

[2019-11-21 03:39] nearwood commented on #518
Ok, created #519, let me know if it needs any changes.

[2019-11-21 12:06] #518 closed

[2019-11-21 12:06] nicolodavis commented on #518
Thanks for the PR @nearwood!

[2019-11-22 00:12] delucis commented on #517
I implemented this behaviour in #444. The default maintains the current player at the start of a new phase partly because before v0.33 phases didn’t end turns and they were effectively unrelated to turns (so an unchanged `currentPlayer` was consistent with previous behaviour).

If you want the current player to be incremented in a new phase, you can set a suitable `first` option in that phase’s `t

[2019-11-22 01:44] nicolodavis commented on #517
I think that given that phases now end turns, we should rethink this default.

My intuition tells me that these are the most common turn orders in games:

1. Simple round robin (which also advances when the phase ends).
2. Round robin that always starts from 0.
3. Round robin that starts from a game specific "starting player".

[2019-11-22 16:38] nearwood commented on #517
Ok, I think I may have gotten the heart of issue slightly incorrect, from what @delucis said. So now turns are ended but the currentPlayer is not incremented?

Prior to 0.33 my turns ended regardless of when the phase ended, which is the desired behavior.

Now the end of a phase also ends a turn. I think the confusion is that since I was testing in my local game with 2 players it was actually incr

[2019-11-22 16:49] delucis commented on #517
Yes, now the `endPhase` event automatically ends the current turn first — allowing use of `turn.onEnd` — before ending the phase. The `currentPlayer` in the first turn of the new phase is derived from the `turn.order.first` function (as shown in my example above). Because `TurnOrder.DEFAULT` is what it is currently, using that explicitly (or implicitly by not setting a turn order), will not increm

[2019-11-23 03:14] nearwood commented on #517
Could the turning ending behavior be behind a flag for the phase? `autoEndTurn: {bool}` or something like that, defaulting to `false` to retain pre-0.33 behavior)?

That way `TurnOrder.DEFAULT` won't need to be changed, and the prior behavior for phases also works, everyone's happy?

[2019-11-23 03:15] nearwood commented on #517
Could the newer turn ending phase behavior be behind a flag? `autoEndTurn: {bool}` or something like that, defaulting to `false` to retain pre-0.33 behavior?

That way `TurnOrder.DEFAULT` won't need to be changed, and the prior behavior for phases also works, everyone's happy?

[2019-11-23 03:51] nearwood commented on #517
This doesn't work quite right for me, I only have one phase that starts at the beginning of the game and repeats until game end. I need just the turn that was ended by the phase to be incremented to the next player. Overriding `order.first` causes off-by-one issues at the start of my game. I could code them out but, I think putting this behavior behind a phase prop is still the best option.

I tho

[2019-11-23 04:12] nearwood commented on #517
Reading over the changes in #444 and the comments, I may still be off mark.

Perhaps another angle makes more sense: What if the `moveLimit` is reached at the same time the phase ends? What's the order of precedence?

[2019-11-23 08:38] delucis commented on #517
Yes you’re right that my suggested fix only works for non-starting phases. Hmm. 🤔

I think a `first` that might actually work could look something like this (haven’t had a chance to test it):
[code]

Events in hooks are also currently broken (#482) which is why `endTurn` in `phase.onEnd` isn't working, but it also seems a little hacky to have to do that in any case.

[2019-11-23 19:30] nearwood commented on #517
Yes, that works but I was trying to say the new behavior (the phase ending a turn) should behind a feature flag, to avoid having to change TurnOrder.DEFAULT, etc.

RE: Events in hooks: Thanks, that explains it.

[2019-11-23 21:09] delucis commented on #517
Right — the confusing thing is that the turns _are_ currently ended, it’s just that then the first player in the new phase is the same as the last player in the previous phase. So technically two turns for the same player split by the phase change. Given how confusing and uncommon that behaviour probably is, it doesn’t seem like a good default!

[2019-11-23 23:49] nearwood commented on #517
Dope, that's right. Forgot about that. Yeah it is confusing. I guess the issue is I was expecting the `turn.order.next` to be called at that last turn in a phase.

[2019-11-24 15:15] #517 closed

[2019-11-26 20:47] MitchellJeppson opened #522 "Server location incorrect"
The doc import for server is:

    const Server = require('boardgame.io/server').Server;

 but this module does not exist. By contrast this line does work;

    const Server = require('boardgame.io/dist/server').Server;

Is this just a missed doc update or something larger?

[2019-11-26 23:44] nicolodavis commented on #522
This was a bug that has been fixed and will be available in the next
release.  The docs are correct.

On Wed, Nov 27, 2019, 4:47 AM Mitchell Jeppson <notifications@github.com>
wrote:

[2019-11-27 13:39] nicolodavis commented on #487
Just to confirm, we still don't know what the cause of the original problem (of `activePlayers` being `null` on the second turn) is, correct?

[2019-11-27 14:01] nicolodavis commented on #516
This is implemented in https://github.com/nicolodavis/boardgame.io/commit/e7d47ee85fea676b4f30efa1e10607958e5398af and will be available in the next release.

[2019-11-27 14:01] #516 closed

[2019-11-27 14:01] delucis commented on #487
Correct, but I’m almost certain it is in fact #482.

I think the `setActivePlayers` in `turn.onBegin` is not being processed because the turn was ended via a move. In the absence of `turn.activePlayers`,  `activePlayers` is reset to `null` at the start of a turn and then because the events called in the `onBegin` function are never processed, `activePlayers` remains `null`.

[2019-11-27 14:23] #522 closed

[2019-11-27 17:40] SaFrMo commented on #516
Wonderful, thank you so much for this!

[2019-11-27 17:42] MitchellJeppson opened #524 "Multiplayer Client gives error "Type Error: multiplayer is not a function""
If I create a Client with the multiplayer property set to `{ server: "http://localhost:8000" } ` I get the error above. If I set the multiplayer property to `SocketIO({server: "http://localhost:8000"}` it runs correctly. The docs show the former, is this just a doc issue or a bug?

[2019-11-27 19:57] MitchellJeppson commented on #524
I should mention this was working before I upgraded to the newest version today.

[2019-11-27 20:41] delucis commented on #524
This was changed in #502, so I think the issue is that the docs need updating.

[2019-11-28 15:08] nicolodavis opened #526 "endTurn inside onBegin doesn't work"
[code]

This [check](https://github.com/nicolodavis/boardgame.io/blob/master/src/core/events.js#L49) prevents the `endTurn` because the `Events` class is attached at a point where the turn was 0 [here](https://github.com/nicolodavis/boardgame.io/blob/master/src/core/initialize.js#L36), but by the time the event is processed the turn is incremented to 1.

[2019-11-28 15:22] nicolodavis commented on #524
The docs are now updated.

[2019-11-28 15:22] #524 closed

[2019-11-28 15:40] delucis commented on #526
Won’t this actually impact `endTurn` in all `onBegin` hooks? I think the `Events` used in `onBegin` will always be instantiated in the previous turn during a game.

[2019-11-28 16:12] #482 closed

[2019-11-28 16:12] #487 closed

[2019-12-02 18:51] #512 closed

[2019-12-03 03:42] nearwood commented on #319
So I looked a bit more into this now that I'm getting ready to deploy my game.

The API server does use CORS:

https://github.com/nicolodavis/boardgame.io/blob/35cb2be20082d0788e1b05960a55c4d3a542d324/src/server/api.ts#L295

It is setup to use the default config from the [@koa/cors](https://www.npmjs.com/package/@koa/cors) library, (eg. allows all hosts). This can be acceptable because it supports

[2019-12-12 03:50] #477 closed

[2019-12-12 10:57] delucis commented on #429
JWT could be interesting. For now, might the following make sense to prevent leaking credentials?

1. Set seat credentials when a player _joins_ a game, instead of initialising them all when the game is created.

2. By default generate credentials using `shortid` as currently, but allow the credentials function to be customised, calling it with relevant request information. You can already customi

[2019-12-13 23:27] vipher800 opened #530 "pluginplayer test KO"
Your test (pluginplayer.test.js) is OK
[code]

but with Phases, it seems that **G.players = {}**
[code]

[2019-12-15 15:05] nicolodavis commented on #429
@delucis Sounds good!

[2019-12-17 07:41] delucis commented on #429
Cool. It'll probably take me a little while to get to all of this, but I've found another bug with the database caching that's an easy fix, so I'll take care of that in the next couple of days.

[2019-12-17 07:42] nicolodavis commented on #429
Thanks for looking into this, Chris!

On Tue, Dec 17, 2019, 3:41 PM Chris Swithinbank <notifications@github.com>
wrote:

[2019-12-22 22:52] michatrautweiler opened #533 "Support objects in G by MCTS bot"
While the random bot (and local multiplayer mode) supports JS objects in G, the MCTS bot does not seem to honor turn limits and legal moves anymore. See tictactoe sample with cells moved to class Model:

[code]

[![Edit boardgame.io](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/boardgameio-zhvzl?fontsize=14&hidenavigation=1&theme=dark)

The moves made by a user

[2019-12-26 06:45] JoHuang opened #534 "Horizontal scaling"
Hi

Does this framework support horizontal scaling?
Which means
1. stateless multiple node.js instances behind a load balancer.
2. central state storage (ex. MongoDB, redis , ...)

It seems that single point of failure might happen in this framework?
Correct me if I'm wrong.
Thanks

[2019-12-26 07:03] jasonharrison commented on #534
Hi Jo,

We do support external databases such as MongoDB (they are set through ENV).  See:

[2019-12-26 07:09] jasonharrison commented on #534
Hi Jo,

1) it is possible to run multiple BGIO servers behind a load balancer, however, you may run into issues with socket.io's websocket broadcasts.  It may be possible to overcome this (for example, with https://github.com/socketio/socket.io-redis ), but I have not looked into what this would entail.

Note that games and content can be served separately from BGIO (and served on multiple servers

[2019-12-27 04:51] JoHuang commented on #534
For 1), if I have A, B, C 3 servers behind a load balancer, players a, b, c connected to A, B, C respectively. Can these 3 players play the same game?

If the answer is true. I have another question about 2), especially for MongoDB implementation.
There is a LRU for preventing race condition, but the LRU is only used locally. Is that be able to prevent race condition caused by different servers?

[2019-12-27 13:43] nicolodavis commented on #534
@JoHuang There is another issue open to discuss this: #277

You can try to use a load balancer with sticky connections to ensure that all the traffic for a particular game goes to the same server, but I think it would be better if we added support for something like SocketCluster.

[2019-12-27 14:01] nicolodavis commented on #533
In general you should not be using classes (or functions) in your game state.  The game state needs to be a plain JSON object so that it can be serialized / deserialized.

The MCTS implementation runs many simulations on the game state and probably overwrites the model since the same object is passed around by reference.

[2019-12-27 14:01] #533 closed

[2019-12-27 14:11] nicolodavis commented on #534
@JoHuang Is this something that you'd like to contribute to?  We could definitely use some help in this area.

[2019-12-27 17:16] JoHuang commented on #534
Thanks for reply.
So the MongoDB implementation is only for record / backup, players have to connect to the server/instance to join the same game.

I'm still evaluating this framework. For now I'm not sure if I would put effect on it.

To achieve horizontal scaling, there are 2 todo items:

1. Stateless node.js instances behind load balancer. (load & save to database for every move)
2. Atomic upda

[2020-01-01 03:02] leocaseiro commented on #534
For Socket.io, you can sticky lazy loading with socket.io-redis, as mentioned before by @jasonharrison.

Read more here: https://socket.io/docs/using-multiple-nodes/#Sticky-load-balancing

In that case, redis will pass events between nodes.

Here is an example https://github.com/socketio/socket.io/tree/master/examples/cluster-haproxy

[2020-01-01 03:03] leocaseiro commented on #534
one more nice arcticle https://medium.com/containers-on-aws/scaling-a-realtime-chat-app-on-aws-using-socket-io-redis-and-aws-fargate-4ed63fb1b681

[2020-01-01 13:49] nicolodavis commented on #534
Thanks for sharing @leocaseiro

[2020-01-10 04:37] filipelinhares commented on #530
I think the problem is here:
https://github.com/nicolodavis/boardgame.io/blob/b3e0bdcc7537ce318adcdc15628f206321a88ea0/src/plugins/plugin-player.js#L35-L36

`...G.players` must be the last:

[code]

[2020-01-11 18:32] adngdb opened #536 "How to manipulate secret data in moves?"
I have a random deck of cards stored in the `secret` key of `G`. This is good because I don't want any players to be able to know what their next cards will be.

Now I want to give players a way to draw a card. My intuition was to do something like this:

[code]

However, this raises `TypeError: G.secret is undefined` when the move is called, which makes sense.

How can I solve this problem? Is th

[2020-01-12 06:51] nicolodavis commented on #536
Yes, you can set `optimistic = false` on the move (we should really rename this to something more intuitive).

[code]

[2020-01-13 09:17] adngdb commented on #536
Thank you! More than the name though, I wonder it is documented? I believe I have read the entire documentation and I don't think I have seen this mentioned. Did I just miss it?

[2020-01-14 14:26] nicolodavis commented on #536
Ah, sorry about that.  Updated the docs.

[2020-01-14 14:26] #536 closed

[2020-01-14 14:27] nicolodavis commented on #536
I've renamed the option to `client`, which will show up in the next release.

[2020-01-14 15:26] adngdb commented on #536
Thank you! :heart:

[2020-01-16 18:00] gk-patel commented on #534
I am not an expert for Scaling, but let me give a try.

We generate a session-id/hash for each Online session, we could use this hash to reroute the user to a specific instance. Thus what we need is an algorithm that maps hash to number between 1 to n, where n is the number of servers. This way we can make sure that users are routed to the same host.

[2020-01-16 19:29] leocaseiro commented on #534
That’s exactly what this lib does, using IP address for hashing. Although it’s no longer maintained: https://github.com/wzrdtales/socket-io-sticky-session

There’s also an explanation in details here:  https://github.com/elad/node-cluster-socket.io

[2020-01-17 03:23] JoHuang commented on #534
It means hosts are stateful, and the hosts can not come and go anytime as long as there are users connected. So single point of failure could be a potential issue, and scaling down is limited.
It could be a solution for now, but maybe not the final goal IMHO.

[2020-01-17 10:20] gk-patel commented on #534
@JoHuang you are right. I think that is the reason why some solutions suggested above use an ACID database like Redis. Nevertheless, this hash-based routing could still work in an environment where new nodes can be spawned if it is known that a node has failed and the new node can get old data from redis/database. (again, I am not an expert, I was just giving a suggestion, thanks)

[2020-01-20 20:34] pociej opened #537 "Multiplayer confusion"
I have a feeling that `multiplayer` is not proper name of the field. Maybe i missed something but let me show the case. I have single player game, but i want game to be refresh resistant, so once browser is refreshed i see game in same state after refresh. Only way i see for this is to use `Client({ numPlayers : 1, multiplayer : { server : my_server_url }})`. May case is not a multiplayer at all b

[2020-01-20 21:15] pociej opened #538 "CLient side setup"
I have the case where initial setup is generated client side, based on things that server is completly not aware of. Problem is that `setup` is defined on `Game` object that is imported by both client and server so only way to have dynamic client side generated setup is to have artificial `setSetup` move and call it.  Isn't better to expose setup api to be pure client side and then overwrite the s

[2020-01-23 13:22] nicolodavis commented on #537
I agree that this field can be confusing if not used in a true multiplayer game.  However, "multiplayer" is such an entrenched term in the video game community that I think it's better to keep it and document the fact that it just means "networked" rather than "more than one player".

[2020-01-23 13:22] #537 closed

[2020-01-23 23:43] delucis commented on #538
`setup` has to be run on the server to ensure it is consistent and predictable. If you need some additional user input to correctly set up a game, you can use the `setupData` argument to your `setup` function ([docs](https://boardgame.io/documentation/#/api/Game)).

Using the Lobby REST API, you can send this `setupData` along with your game-creation request ([docs](url)). (This is not currently s

[2020-01-24 20:05] gk-patel commented on #57
Are you sure that spectoator view is still allowed, considering,

https://github.com/nicolodavis/boardgame.io/blob/master/src/server/api.ts#L163

[2020-01-24 22:10] delucis commented on #57
@gk-patel The `/join` endpoint is only for active players when they first join a game. Spectators should use the `/games/:name/:id` endpoint ([source](https://github.com/nicolodavis/boardgame.io/blob/5c9430f0f482f23d98e9aa5636125ae67fd48bb0/src/server/api.ts#L143)).

[2020-01-25 20:59] pociej commented on #538
@delucis Sorry that i didn't properly describe the full case. I opened two issues one after another and i had context of #537 when was posting this. You are 100% right that in case of real multiplayer game it has to be set server side to be sure of data consistency between player. However in case i described in #537 there is only one player. But we still have to use `multiplayer` just with `numPla

[2020-01-26 13:11] delucis commented on #538
@pociej If you’re storing game state in a database somewhere (so players can save games etc.), I think you’d still be better off generating and validating that state on the server, rather than posting the state object directly from the client. You can do that either with a `setup` move or with `setupData`, depending on your exact needs.

If there’s only one player, you can already use `setupData`

[2020-01-28 08:02] pociej commented on #319
@nicolodavis Issue now is back. It was working now without touching server it stopped (black magic?) and i see now : Access to fetch at 'http://178.128.155.17/socket.io/?EIO=3&transport=polling&t=M_h8Avg&b64=1' from origin 'http://zz.mindlab.pl' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, se

[2020-01-29 11:35] pociej opened #540 "How Game state is loaded from DB?"
Hi, sorry its rather support question than issue.  I'm plying a bit with multiplayer with mongo. Very strange thing happens on client i see G in some unexpected state, i checked the mongo DB to check which document was loaded, and surprise, there is no document witch marching state, so it seems that G state was modified somehow before was load client side and im trying to find out how thats possib

[2020-01-29 12:31] delucis commented on #540
@pociej Everything is handled by the server instance:

#### Creating a game

1. A user asks the Server to create a game (via the Lobby API).

2. The Server creates a game instance, using your game’s setup function, and stores metadata and initial game state in your Database.

#### Joining a game

3. A user asks to join a specific game ID and player ID (via the Lobby API).

4. The Server updates th

[2020-01-29 12:51] pociej commented on #540
@delucis thx for reply. Anyways i dont see most important thing in this answer. Is there some caching ? And if so how to disable it? I want to be able to remove document from database directly and make sure that server is notified so next time i open client i see the state up to date with DB.

[2020-01-29 13:04] delucis commented on #540
Sorry perhaps my reply was a little long, see under the notes section:

There isn’t currently a way to completely disable this, but you can pass `cacheSize` to the database constructor:

[code]

Unfortunately, setting this to `0` will actually create an infinite cache (see the [`lru-cache` docs](https://www.npmjs.com/package/lru-cache#options)), so you’re stuck setting it to some low number. Given

[2020-01-29 13:16] pociej commented on #540
Oh thats me who should say sorry. Indeed your reply was long and i lost important part, sorry.
I would rather add a way to make sure server observes DB so we have real data in client than creating separate endpoint. Thx a lot for clarification.

[2020-01-29 13:16] #540 closed

[2020-02-04 15:51] julienroulle opened #541 "Improve Lobby API: room instances"
I think it would be useful to add some infos to the `GET /games/{name}` and `GET /games/{name}/{id}` routes in the Lobby API.

As a user, it would be great to access the setupData passed to the `POST /games/{name}/create`.

The setupData and lobbyConfig informations could be added to the metadata of the game maybe? And then returned through the GET request?

Example:
[code]

I don't see any proble

[2020-02-05 06:08] delucis commented on #541
@julienroulle I can imagine this being helpful. If you're interested in implementing it, check out the `src/server/api.ts` file for the API endpoints.

One thing that [came up recently](https://github.com/nicolodavis/boardgame.io/issues/538#issuecomment-577929848) was that it might be nice to allow players each to provide some custom setup data, which would mean initialising the game with `setupDa

[2020-02-06 13:36] nicolodavis commented on #538
Sorry about missing this thread earlier.  What's an example of per-player setup data in a real game?  Are we talking about true metadata (like a player name or badge) or something that has a meaning within the game?

I'm definitely open to supporting the use-case if we can find some compelling examples.

[2020-02-06 17:57] delucis commented on #538
I don't have a super concrete example myself. Aside from metadata, I can think of something where players might need to choose a class of character or a strategy that might change setup. I'd be interested in other people's needs. I don't think it's super urgent as it can I think always be handled using setup phases/moves instead but I wanted to mention it in the other thread in case it was a consi

[2020-02-06 18:31] #541 closed

[2020-02-06 18:32] julienroulle commented on #541
resolved in #542

[2020-02-07 11:17] nicolodavis commented on #538
I see.  It makes sense to have players bring in their own metadata if this choice of character class or some other game aspect happens outside the view that boardgame.io handles (for example in a custom lobby component).

On the other hand, it's easy enough to have players make the choice inside the game itself like you mentioned.  Perhaps the difficulty that arises is the fact that these moves lo

[2020-02-07 12:20] delucis commented on #538
To be fair, what would such a start game event/phase do that a handmade setup phase couldn't? I think you're right that it's partly confusing because people think of these setup tasks as “pre-game”. Maybe it's just a case of some documentation of that pattern, e.g. a more advanced tutorial than the tic-tac-toe one that uses a setup phase and perhaps stages seeing as neither of those are covered by

[2020-02-07 12:25] delucis commented on #538
One other option would be to have `setupData` arguments accepted by both the `create` and `join` endpoints. The server could create a game (without yet initialising state) with some data that impacts what players can then choose in the lobby when joining, then the join action accepts player-scoped data. Once the final player joins the game would initialised with the `setupData` and the player-spec

[2020-02-07 16:28] theredwillow commented on #193
This appears to still be a problem for me in version ^0.36.0. It doesn't matter if I call it by event or by `endIf` inside the phase definition.

[2020-02-09 10:34] nicolodavis commented on #193
Have you considered using TurnOrder.ONCE: https://boardgame.io/documentation/#/turn-order

Does that solve your use case?

[2020-02-10 23:07] delucis commented on #530
Here is a minimal example reproducing the bug:

https://codesandbox.io/s/pluginplayer-with-phases-bug-2gw8c

When any phases are provided in the game configuration, the player plugin breaks.

[2020-02-11 14:18] nicolodavis commented on #538
I'll spend more time digging into the lobby implementation as I try to convert it to Svelte, so I'll have a more informed opinion after that.  My intuition tells me that choices that the players make on the lobby screen should be handled outside boardgame.io, with the game given the eventual `setupData` when it is finally instantiated after all players have joined.

Choices made once the game has

[2020-02-11 14:24] #530 closed

[2020-02-11 19:38] delucis opened #544 "Moves/events wrapped by plugins sometimes get wrapped twice"
In putting together #543, I noticed that [`turn.onBegin` called in `StartTurn`](https://github.com/nicolodavis/boardgame.io/blob/b0a5175eb6a7a3656623a6ced640a9c6c3a741ef/src/core/flow.js#L324) seemed to have been wrapped twice by the player plugin’s `fnWrap`.

Here is a demo that logs how a plugin’s `fnWrap` is called:
https://codesandbox.io/s/double-wrapped-plugin-function-kpnbb
Try making a move

[2020-02-12 17:04] amitport opened #545 "AI regression in singleplayer example (@0.37)"
hi,

After upgrading to 0.37 (or master) and building running the examples the tic-tac-toe singleplayer example no longer supports AI. I'm not sure if this is a regression in the example or in the framework.

[2020-02-12 23:50] nicolodavis commented on #545
Thanks for the report!  Fixed in 0.37.1.

[2020-02-12 23:50] #545 closed

[2020-02-14 14:15] amitport opened #546 "in redacted-move example second player clicks are ignored"
Hi,

this seems to like me like more than a bug in the example, since the game object looks OK (using  `TurnOrder.ANY `) (version 0.37.1)

[2020-02-14 15:09] nicolodavis commented on #546
Ah, `TurnOrder.ANY` was deprecated a while back.

Turns now just specify how the turn moves between players (and there can only be exactly one player who owns the turn at a given time.

You can specify other players that may play on your turn, though.  In this case, this is achieved by:

[code]

Fixed in https://github.com/nicolodavis/boardgame.io/commit/7c65046beb2835c3c63fd55e50e7d4ae8fe36dbe

[2020-02-14 15:09] #546 closed

[2020-02-14 21:04] amitport opened #547 "secret state example does seem to do anything"
this example doesn't seem to demonstrate anything as far as I can tell.

PS
thanks @nicolodavis for the fast responses. I guess you've noticed I'm going through the examples :) (I'm updating angular and boardgame.io version)

[2020-02-16 08:53] nicolodavis commented on #547
Ah, it's actually just meant to show that each player sees a different slice of the state.  The button doesn't do anything (not sure how it goes there in the first place).  I've removed it now.

[2020-02-16 08:53] #547 closed

[2020-02-16 08:54] nicolodavis commented on #547
Thanks for the reports.  Keep them coming!

[2020-02-17 02:38] br0p0p opened #548 "Use bots as part of gameplay"
I might just be missing it but is it possible to use a bot as a part of normal gameplay? For example, a human vs. AI chess game or blackjack where the dealer is a bot. From what I see, the bot is only available as a means to test gameplay and is not exposed through `ctx` or otherwise.

[2020-02-17 02:51] nicolodavis commented on #548
You can as of v0.37.

This isn't documented yet, but the summary is that you can do something like:

[code]

Take a look at the unit tests in `src/client/transport/local.test.js` until the docs catch up.

[2020-02-17 02:51] #548 closed

[2020-02-17 03:00] br0p0p commented on #548
Ah, great. For others who come across this, I found issue #383 which has some references to code for a similar use case. Thanks!

[2020-02-27 22:15] ksjogo commented on #254
Is this still needed? Having this as dependency breaks things with pnpm.

[2020-02-28 13:35] nicolodavis commented on #254
Perhaps it is indeed time to evaluate if this can be removed.  Thanks for looking into this @ksjogo!

[2020-03-04 17:54] julienroulle opened #552 "Problem with LocalMaster using previous instantiation of a Client"
I've had some trouble with the Local use of the lib.

When I first instantiate a Local Game like that with bots coming from another screen:
[code]
When going back to my "parameters screen" and changing the turn of my bot, meaning changing the following var:
[code]

I discovered that my new GameApp will use the previous parameters of my 1st instantiation.

I managed to find the cause of the problem

[2020-03-04 18:10] julienroulle commented on #552
Looks like commenting out this block breaks a test for Local Multiplayer without bots ..
So I don't know yet how to tackle this problem.

[2020-03-04 21:25] julienroulle commented on #552
I managed it make it work by replacing the following:
[code]

But for some reasons it makes the `multiplayer interactions` test of `client.test.js` fail ..

[2020-03-04 21:32] julienroulle commented on #552
Doing this:
[code]
Also solves the problem, and makes the test pass. But i doubt it's an effective way to solve the problem ...
Please give me feedback on how I could investigate this issue further, I'm out of idea.

[2020-03-05 15:13] nicolodavis commented on #552
That's a fine way to solve the problem (your last update).  Perhaps just consolidate the duplicated code in the two else branches.

Would you mind sending a PR for this?

[2020-03-05 15:16] julienroulle commented on #552
Yes I was thinking about consolidating it as soon as I'd get feedback if I was on the right way or not!
I'll send you the PR later :)
Thanks for answering!

[2020-03-05 18:40] tonyhhart opened #554 "Testing multiplayer in React Native throws Exception"
I am writing some tests for a game in React Native, and it seems the [multiplayer testing](https://boardgame.io/documentation/#/testing?id=multiplayer-tests) does not work with debug enabled. I'm not using debug for anything in tests, but it me a while to figure it out. Maybe it should be on docs that debug is incompatible in tests?

It fails because of this line:

https://github.com/nicolodavis/b

[2020-03-06 09:44] #552 closed

[2020-03-06 15:52] julienroulle opened #555 "Using setup data for Local games"
As of now, the setup function of the Game object can take as an argument a setupData object, which is given by the multiplayer server.

I was wondering if we could have a similar behaviour for Local games?

Here are my 2 ideas on how to add that to the framework:

- Passing a setupData object to the Client (preferred way)

[code]

- Passing a setupData object to the Game (not sure how though, mayb

[2020-03-06 17:46] delucis commented on #555
I just though through a few options and will lead with the simplest, but below I’ve also included some thoughts on how this might otherwise be implemented, which might also help show that the simplest approach could be the best.

### Simplest

You can achieve this without any changes to the library 🎉. In local circumstances like these, you can wrap your game definition itself as a function and do

[2020-03-06 18:27] julienroulle commented on #555
Thanks @delucis,

I learnt a lot by reading your propositions and you sure know the framework better than I do!
I like the wrapper option, makes me able to use the classic Game object for online games and the wrapper for local games.

Nonetheless, i think that having a similar behaviour between local and online would be needed at some point for the lib

[2020-03-06 18:40] delucis commented on #555
@julienroulle No problem! I may have spent a few too many hours reading through the code over the past months…

I agree that consistency is a good aim. How exactly are you using the `Local` class? To manage multiple views for pass-and-play or something?

The difficulty is that the `Client` calls the `Game` helper with the game definition passed to it and hands the result to the multiplayer impleme

[2020-03-06 18:51] julienroulle commented on #555
@delucis
I am using this for Local AI play, in a 1v1 boardgame, where the user can choose it's color, the first player, and the time (blitz mode).

Since I instantiate only one client I don't really mind doing this wrapper since I don't have to check that the setup was made correctly for the second player.

But in the end I'm still a bit confused as of why the setup happens on the `Client` level a

[2020-03-06 20:03] delucis commented on #555
Oh right, I’m not so familiar with the AI side of things.

The lobby design is a pretty significant complexity to add for local game management where you don’t need most of the abstractions it gives you (waiting for other players, authentication, etc.). There probably is some refactoring that might improve the separation of concerns, but it would be pretty significant if you consider that more tha

[2020-03-09 06:40] Oliboy50 opened #558 ""ctx.events.setPhase('MyPhase')" seems to have issues"
I try to [migrate my playing card game](https://github.com/Oliboy50/coinche/pull/11) from boargame.io `0.32.1` to `0.37.2` (first my target was `0.33.0` but it behaves exactly the same).

So I followed the migration guide, but after a lot of debugging, I can't understand why it doesn't work now...

My game is split into several phases (Deal, Talk, PlayCard, CountPoint, etc.) and a lot of logic is

[2020-03-09 12:03] Oliboy50 commented on #526
I opened a somehow similar issue #558

but I think my issue is more about this [check](https://github.com/nicolodavis/boardgame.io/blob/master/src/core/events.js#L58) instead

[2020-03-09 12:12] delucis commented on #558
From the sample of code you shared, it looks like you’re ending `PlayCards` immediately and returning to the `Talk` phase. So something like this happens:

[![Deal —> Talk —> PlayCards —> Talk —> PlayCards —> Talk —> etc. forever](https://mermaid.ink/img/eyJjb2RlIjoiZ3JhcGggTFJcbiAgQVtEZWFsXSAtLT58c2V0UGhhc2V8IEJbVGFsa11cbiAgQiAtLT58c2V0UGhhc2V8IENbUGxheUNhcmRzXVxuICBDIC0tPnxzZXRQaGFzZXwgQiIsIm1lc

[2020-03-09 12:23] Oliboy50 commented on #558
As I said, this is

because, even if I had an infinite loop somewhere, I'd expect to see at least the following logs:

[code]

instead of just:

[code]

If you're interested in the real code:
- [here](https://github.com/Oliboy50/coinche/blob/89383db65ded885bc640d893194828571079c632/client/src/shared/coinche/index.ts#L1909-L2082) is the current implementation which works well using boargame.io `0.3

[2020-03-09 12:51] delucis commented on #558
Actually, you’re right in https://github.com/nicolodavis/boardgame.io/issues/526#issuecomment-596486568, that that check prevents you even getting to `PlayCards`, because it prevents any further phase events after the phase has ended/changed once. The same check is made to prevent more than one turn ending.

I’m not 100% how important those checks are, but I can see from your code why you have thi

[2020-03-09 12:56] Oliboy50 commented on #558
I see, it sounds possible indeed 👌

Maybe I will have to keep something like a `Setup` phase or something, because I need a phase holding the `start: true` property... anyway, I will give it a try and tell you 🙇

[2020-03-09 13:06] delucis commented on #558
You always go from `Deal` to `Talk` right? I would do `Talk: { start: true }` and either do the initial deal in your `setup` function, or call your `Deal` function during the `Talk` phase’s `onBegin` (maybe conditionally based on some value in `G`).

[2020-03-09 15:38] Oliboy50 commented on #558
No, it also can go from `Talk` to `Deal` when all players say "skip" (meaning that no one want to take the risk to play the game using the cards they received). In this case, it deals new cards to each player.

I will try to call the `Deal` function at the beginning of the `Talk` phase instead 👌

[2020-03-09 22:59] Oliboy50 commented on #558
I tried to call a `deal` function (which mutates `G`) from the `phases.Talk.endIf` hook, but it fails with:

[code]

no luck :/

[2020-03-09 23:21] Oliboy50 commented on #526
BTW, these checks doesn't make sense to me:

[code]

I mean... instead of `item.turn !== state.ctx.turn`, it should be `item.turn === state.ctx.turn`, no?
And instead of `item.phase !== state.ctx.phase`, it should be `item.phase === state.ctx.phase`, no?

I think I've already spent too many hours [trying to migrate from 0.32 to 0.33](https://github.com/nicolodavis/boardgame.io/issues/558) now...
I

[2020-03-09 23:35] delucis commented on #558
@Oliboy50 Good work getting it working in the `onBegin` hook! It isn’t possible to mutate state in the `endIf` hook, because it is only supposed to check if the phase should end. That call to deal would have to be in `onEnd` or at the beginning of the next phase.

[2020-03-09 23:47] delucis commented on #526
These checks do the following:

1. Are we processing an `endTurn`/`endPhase` etc. event?

2. If so, are we in the same turn/phase as we were when we started processing events?

3. If _not_, that means the original turn/phase has already been ended and we won’t process another end or set event. Because the processing of events involves iterating through a stack of events, we use `continue` to skip

[2020-03-09 23:49] tonyhhart commented on #558
Try to make at least one of the phases to be ended by a move started by the player. Also end phases by providing and endIf condition, instead of using endPhase. I’m doing that and it’s working fine. Some phases end automatically and others by player’s moves.

`

    PlayCards: {
      moves: {
        sayAnnounce,
        playCard,
      },
      endIf: (G, ctx) => {
        Return G.player1.playe

[2020-03-10 13:23] Oliboy50 commented on #558
I can't use `next: 'MyPhase'` most of the time, because the next phase depends on the `G` state

however, it correctly goes to the defined static `next` phase, when I use it

but when I use `ctx.events.setPhase('MyPhase')` (without defining a `next: 'MyPhase'`),
it correctly ends the phase (I know it because it goes to the corresponding `onEnd()` hook),
but after the `onEnd()` hooks has been execu

[2020-03-10 16:41] Oliboy50 commented on #558
I wonder if the framework should hold the responsibility of preventing the user from doing something which might end badly 🤔

In other words, I'm not sure if this check should even exist: https://github.com/nicolodavis/boardgame.io/blob/d05e7a7de5f019a7f57a5c3219100b1785f1654d/src/core/flow.ts#L221-L234

I'm just trying to understand why `setPhase` does not work as expected in my case...

[2020-03-11 00:43] Oliboy50 commented on #558
I've finally managed to stop relying on `ctx.events` (especially `ctx.events.setPhase` which is currently a PITA):

instead of doing:
[code]

I do:
[code]

using `endIf() => { next: 'MyPhase' }` notation is fully working 🙆‍♂

so I was able to migrate from `0.32.1` to `0.37.2` 🎉
it was painful, but I'm happy to benefit from the new features

[2020-03-11 09:46] delucis commented on #558
Glad you’ve got it working! For now, I think we should add some warning to avoid the `setPhase` and `endPhase` events in phase hooks. My earlier advice was bad because `setPhase` won’t work in an `onEnd` hook either (because at the point, the current phase is already ending, so `setPhase` will again break). Eventually, perhaps we should also revisit all the checks around processing these events.

[2020-03-11 15:36] nicolodavis commented on #544
The problem is that this [code](https://github.com/nicolodavis/boardgame.io/blob/master/src/core/flow.ts#L202) runs in a loop, one for each phase.  However, the turn related hooks might refer to the same global turn hooks if nothing is defined per-phase.  This results in those hooks being double-wrapped.

[2020-03-11 16:04] nicolodavis commented on #544
I'm fixing this in the `cleanup` branch that I'm working on.

[2020-03-12 19:35] pardahlman opened #561 "onBegin for stages?"
Is there any particular reason why phase and turn has a `onBegin` callback, whereas stage - that is similar in many ways, hasn't?

[2020-03-12 19:49] delucis commented on #561
Stages are a bit different because multiple players can be in different or the same stage. For example, you might use stages to have the current player in one stage and the other players in a second stage. Assuming more than one player is put in the same stage, how would `onBegin` work? Should it be called once for each player? Once for each stage type? In what order would these calls happen?

Giv

[2020-03-12 19:56] pardahlman commented on #561
I think it would make sense for `onBegin` to be called for each player entering a stage, each time they enter a stage. IMO, the fact that multiple players can be in multiple stages can be considered  a side note to an overall design: "whenever a player enters a phase, turn or step `onBegin` is called"

[2020-03-12 20:07] delucis commented on #561
It’s possible, but it’s very easy to create bugs with this approach:

[code]

How much would `G.someCount` increment? (It depends on how many players there are.) Who would be `G.stagePlayer`? (It depends on which order the players get iterated through, which can vary on different engines when iterating through object keys.) Obviously these are user bugs and you could write this code in some way to

[2020-03-12 20:36] pardahlman commented on #561
You can indeed get unexpected game state when changing "global" properties for just the reasons you point out. I'm thinking of scenarios where you want to update player state (slices of the state associated with the specific player).

In my scenario, a turn consists of multiple stages, and the player state updates as the player progresses through the turn. For example a card becomes untapped in th

[2020-03-12 20:53] pardahlman opened #562 "Unexpected behavior for setActivePlayers with plugins"
Consider this very basic game:

[code]
The initial `ctx` is what I expect, the first player ends up in `firstStage` and the other in`secondStage.

[code]

I have written what I believe is a no-op plugin that just passes `G` without modifying it:

[code]

After adding the plugin to the game, the `ctx` has no active player - the entire property is `null`

[code]

Am I missing something?

[2020-03-12 21:02] delucis commented on #561
One approach you could use is have internal `moveToStageX` “moves”, which you use wherever you current call `setActivePlayers`:

[code]

[2020-03-12 21:13] pardahlman opened #563 "Unexpected value for 'activePlayers' in plugin"
I have another, plugin + active players question 😄

Consider this plugin that just logs the value of `ctx.activePlayers` whenever a move has been dispatched

[code]

The plugin is used in the following very simple game:

[code]

That is, when the game start, all player becomes active and in `firstStage`. A player can make the `exit` move, and by doing so ending the stage. The game works as expecte

[2020-03-12 21:25] pardahlman commented on #561
The code that handles the progression through the different stages is generic and only acts based on a dynamic list of the current "step order" in the turn. It could perhaps be updated to call some stage specific callback, but I'm not thrilled about it, as I would have different ways to do `onBegin` logic.

Anyways, thanks a lot for your input 👌 . If the collective decision is to not support `onBe

[2020-03-12 21:25] #561 closed

[2020-03-12 21:44] pardahlman commented on #478
this is very interesting. I assume that this mode will cycle through the players in the play order, with the first player being whoever is next of the current player? I have modeled something similar in a MTG implementation, where the next opponent enter the stage `HasPriority` and other opponents enters `AwaitingPriority`. When leaving the `HasPriority` stage, the player also ends the stage (no l

[2020-03-13 01:26] nicolodavis commented on #562
This appears to be a bug.

I revamped the plugin API quite a bit yesterday, so let me check if this bug is no longer with us after the rewrite.

[2020-03-13 23:37] nicolodavis commented on #368
This is now obsolete after PluginPlayer has changed to use the new Plugin API.

[2020-03-13 23:37] #368 closed

[2020-03-13 23:39] nicolodavis commented on #478
Yes, that's the idea.  Your use-case describes the intention of this change almost exactly.

[2020-03-14 00:07] nicolodavis commented on #562
Ah, looks like you're not actually creating a no-op plugin (because you discard fn):

[code]

[2020-03-14 00:07] #562 closed

[2020-03-14 00:14] nicolodavis commented on #562
https://codesandbox.io/s/wonderful-diffie-oo09t

[2020-03-14 06:46] nicolodavis commented on #563
Hi @pardahlman, try using `onMove` instead of a plugin for this.  Documentation: https://boardgame.io/documentation/#/api/Game

I actually removed support for `afterMove` in the latest plugin rewrite (available in the next release).  Is there a compelling use-case to retain it?

[2020-03-14 11:33] Korla commented on #563
@nicolodavis In my testing, the onMove callback gets the previous value of ctx. Here is my code:

[code]

And the logging:

![image](https://user-images.githubusercontent.com/1841913/76681075-317baf80-65ef-11ea-84f7-25d5011d08fb.png)

![image](https://user-images.githubusercontent.com/1841913/76681087-5a9c4000-65ef-11ea-81a0-a9d9ea28b238.png)

Me and @pardahlman would like to allow triggers on gam

[2020-03-14 11:49] Korla commented on #563
I suppose a solution would be to pass getState- and dispatchmethods (or boardgame.io equivalents) to the plugins, instead of the current state values. Then we could do an async plugin which would allow us to let the stack settle, and then execute our logic afterwards.

I am not familiar enough with the boardgame.io concepts to understand if this is either already implemented or not really a reason

[2020-03-14 15:19] delucis commented on #563
@Korla The way boardgame.io queues events, this behaviour is expected to me:

1. A move function is called, calling an event.

2. The `onMove` hook is triggered (immediately after the move).

3. Any events queued by the move in step 1 run.

So in `onMove`, `ctx` hasn’t yet been mutated, only `G`.

### Workarounds (Maybe?)

One approach (that may or may not work in your case), might be to defer cal

[2020-03-14 15:54] Korla commented on #563
I will ponder further on what you have written, but as a quick first reaction, what I am after is for the reducers to run, and for me to get a trigger when they have run, if that makes sense. My experience is with redux applications, where I have worked a lot with redux-observable and modeled events as a stream of actions.

[2020-03-14 16:02] delucis commented on #563
Once all the events have run, do you need to dispatch a further event or are you trying to do something else with the result?

[2020-03-14 20:25] ezyang opened #565 "Undo / redo validity condition seems wrong in the presence of stages"
Currently it says:

https://github.com/boardgameio/boardgame.io/blob/60b32e5d786446914106743f569539269cc1b577/src/master/master.ts#L242-L253

But `activePlayers` can be non-null and there is only one valid player. For example:

[code]

It seems to me that undo should be allowed in this case.

[2020-03-14 20:30] pardahlman commented on #562
Right, thanks for clarifying that 👌

[2020-03-14 20:41] pardahlman commented on #478
How would you keep track of the `currentPlayer`'s original stage i case that an opponent triggers a new cycling through (in which case `currentPlayer` is moved to whatever stage `other` players are moved). One naive approach would be add this information to `G`, but that feels like `setActivePlayer` event is bloating the state...? 🤔

[2020-03-14 22:19] delucis commented on #478
@pardahlman Yes, there are already some fields that track past/future state when using the `next` and `revert` options with `setActivePlayers`, so something similar could be used for this too.

A way to get something like this using `next` would be:

[code]

When the player uses `endStage`, `activePlayers` would become empty and move on to the next player, but this doesn’t work for your case I thi

[2020-03-16 02:41] nicolodavis commented on #554
Fixed in https://github.com/nicolodavis/boardgame.io/commit/aede3b6714cd0f6656fa86ed2926bee42900b9aa.

Available in v0.38.  Let me know if this resolves the issue.

[2020-03-16 02:41] #554 closed

[2020-03-16 07:41] Korla commented on #563
I see now that boardgame.io treats `reducers` very differently from how I expect them to work. The moves model the reducers as well as the side effects all at once. I guess my normal approach to redux applications can't be applied since boardgame.io models side effects inside the reducers. I will have to think more about how I want my code to work then.

Am I wrong to suppose events are run after

[2020-03-16 13:12] tonyhhart commented on #554
It fixes. Thank you!

[2020-03-16 14:10] delucis commented on #563
It might not be all that helpful to think about the reducer directly. The library uses Redux internally, but it isn’t necessary to know that to use the boardgame.io API. It might be helpful to consider that the reducer and all game logic runs on the server for multiplayer games (as well as in the client for optimistic updates). There shouldn’t be any side effects in move code. From [the docs](http

[2020-03-17 15:15] nicolodavis commented on #563
@pardahlman @Korla Could you describe in a bit more detail what sort of logic you're trying to decouple and run after the fact?

[2020-03-17 15:15] #544 closed

[2020-03-18 08:38] GemN commented on #558
Hello, I kinda have the same problem

My game is cut into 4 phases, and I just want the phase to loop until action is needed (here in investigation phase). Why does this code don't work ?
When I try with the debugger, the endPhase/setPhase doesn't work.
If I click on endPhase it'll just go to the next phase without executing the onBegin. (for ex, clicking next phase on Investigation should trigger

[2020-03-18 09:44] delucis commented on #558
@GemN Looks like you’re using the `mythos`, `enemy`, and `upkeep` phases only to do some state set-up. (I’m guessing your actual code is more complex, but still.) I can see why you’d expect this to work, but phases are intended to be used to enable specific move and turn set-ups rather than just for modifying your state like this.

I would move all of the logic you’re using in those three stages t

[2020-03-18 10:06] GemN commented on #558
@delucis that's an early example, sometime these phases won't need any actions from the players, but sometimes they will need players to do something.
I think the conditional checking of infinity loop is a bit too restrictive and should be the responsibility of the developper because in this case it really feel like a work-around where I'll need to use stages to do things.

[2020-03-18 10:30] delucis commented on #558
Hmm, you’re probably right. The workaround is to do conditional logic before ending the phase, but it can get tangled pretty quickly.

[2020-03-20 08:07] philihp opened #569 "phase endIf/onBegin timing"
it seems during the update between 0.32 and 0.33, the timing of endIf and onBegin of phases has changed, such that when a phase begins, it checks `endIf` before running `onBegin`. Is this intentional?

[2020-03-20 08:24] nicolodavis commented on #569
Yes, that is intentional.  `onBegin` only executes if the phase is "entered", but a phase is not entered if its `endIf` returns true.

So, you wouldn't be able to change the result of `endIf` via `onBegin`.  Is there a game scenario that's difficult to implement with this setup?

[2020-03-20 09:57] philihp commented on #569
Perhaps... the scenario I want to implement is similar to in Agricola/Caverna, where:
* Each phase's ending is detected when all players' workers have been placed.
* Each phase begins by bringing all of a players' workers home.

This is adapted from my work on Fields of Arle, where I had a list of booleans for each player who had _pass_ed, and ended the phase when all players passed, and at the be

[2020-03-20 12:37] delucis commented on #569
@philihp Could you check in your `endIf` if any moves have been made that turn? I think `numMoves` will be reset when `endIf` runs, but probably would be `1` or more when the phase is actually ending.

[code]

@nicolodavis Might this be an argument for a `beginIf` hook to split phase entry and exit logic and only run `endIf` when not entering a phase?

[2020-03-21 18:34] adngdb opened #570 "`ctx.events.endStage()` does not work"
Starting with version 0.38.1, calling `ctx.events.endStage()` in a move doesn't end the current stage. It works fine in version 0.38.0.

I don't have a good reproduction case as my code base is already quite complex, but I can work on one if it's not easy for you to reproduce.

[2020-03-22 17:38] seoanezonjic opened #571 "Problems with TicTacToe tutorial"
Hey folks
I´ve found your boardgame.io project and I think that it's very interesting. I've decided to give it a try so I began for the TicTacToe tutorial. My aim is to perform the full process of the app building with React until deploy de app in Heroku. In this way, I can test and understand your project and finally, check if it cover my needs. In this process I've found several issues:

1. I be

[2020-03-23 16:36] joepinion opened #573 "Firebase version problem"
Was working on a feature this morning, and couldn't pass these tests:
`Summary of all failing tests
 FAIL  src/server/db/firebase.test.js
  ● construction

    TypeError: instance.registerVersion is not a function

      38 |       this.client = require('firebase-admin');
      39 |     } else {

         |                     ^
      41 |     }
      42 |
      43 |     this.engine = engine === E

[2020-03-23 16:47] joepinion opened #574 "WIP: Lobby room names and room keys"
Have done some work on optionally added room names and room keys to the lobby component via props.
https://github.com/nicolodavis/boardgame.io/compare/master...joepinion:joepinion/room-names-keys?expand=1
I have them enabled in the lobby example in the code above if you check out that branch.

The point of a room name is just to identify the room to those looking to join ("newbie friendly," etc).

[2020-03-23 18:37] joepinion opened #575 "Trouble testing feature in separate project"
I'm sure there's just something basic that I don't understand about npm, rollup, etc, but would greatly appreciate the help. I wrote some code for a new feature and can get it to work fine in boardgame.io itself (ie the examples etc).

Trying to run a local and/or my forked version of boardgame.io in my personal project. So in dependencies, something like
`"boardgame.io": "file:/Users/username/boa

[2020-03-23 22:10] delucis commented on #573
@joepinion The Firebase connector is going to move to a separate repo in the near-future, so this problem should go away then at the latest!

[2020-03-23 22:27] delucis commented on #575
The boardgame.io you download from npm exposes the bundled files compiled by rollup. To test out your fork locally, I’ve found the easiest way is to use [`npm link`](https://docs.npmjs.com/cli/link) to “install” your fork in your local project. This actually just creates a symlink in `node_modules` to your fork rather than installing like a normal dependency.

Then you can run `npm build` in your

[2020-03-24 01:44] nicolodavis commented on #570
Hi @adngdb.  I'm not able to reproduce this.

Here is a CodeSandbox link demonstrating that the feature works: https://codesandbox.io/s/boardgameio-49w72

Can you try modifying it to demonstrate the problem that you observed?  It's most likely something that's incorrect in your game logic, but I'm not ruling out the possibility of a framework bug.

[2020-03-24 01:46] nicolodavis commented on #573
That's right.  I'm going to merge the changes to remove the connector sometime this week.

[2020-03-24 01:50] nicolodavis commented on #571
This is great feedback.   Thank you!

Yes, I think the CodeSandbox link sometimes falls out of sync with the tutorial code.  We'll have to come up with a better process for this.  I think I might consider having CodeSandbox pull from the Git repo directly and making sure that the tutorial uses the same code.

About deployment, that is on the radar.  You should see a guide on how to deploy it on va

[2020-03-24 01:53] nicolodavis commented on #574
Hey @joepinion, that's great!

Do note that we're planning to rewrite the lobby frontend from scratch using Svelte (so that it isn't tied to React), so try not to make too many changes to it.  The backend API endpoints might also change a bit in the coming weeks.

[2020-03-24 02:29] joepinion commented on #574
I saw that. I'm doing this for an immediate use, so even if this never gets merged in it'll be ok, will be useful for me in the short term. But if I end up happy with it I'll make a pull request and it can be merged or declined if it gets in the way with the new strategy.

[2020-03-24 02:38] joepinion commented on #575
It seems like that helps with the build. npm link, npm build works. But actually trying to run the server or client in my project still results in
`Error: Cannot find module 'boardgame.io/core'`
in the server and
`Module not found: Can't resolve 'boardgame.io/core' in '/Users/username/project/src/game'`
in the client.

This project works fine with the official "^0.37.2" verison of boardgame-io in

[2020-03-24 02:41] jasonharrison commented on #575
@joepinion In the boardgame.io directory, run `npm run prepack`.  It should then work for you :-)

The reason is because we create aliases for `boardgame.io/core` etc.

[2020-03-24 02:52] joepinion commented on #575
YES. thank you.

[2020-03-24 02:52] #575 closed

[2020-03-24 03:57] nicolodavis commented on #573
I've merged the changes into the `master` branch.

@delucis Note that I added a `createGame` call to StorageAPI.

[2020-03-24 03:57] #573 closed

[2020-03-24 04:05] nicolodavis commented on #569
I'd err on the side of fewer hooks unless absolutely necessary, although the symmetry of `beginIf / endIf` is nice.

@philihp Yeah, I would go with the booleans approach.  You could reset a `allWorkersPlaced` boolean in `onEnd`.  That way, you can still bring the workers back in `onBegin` and only use the boolean to trigger `endIf`.

[2020-03-24 04:08] nicolodavis commented on #569
I'll close this because it resolves the immediate question on hand, but I don't mind continuing the discussing of whether a `beginIf` is necessary separately (if that leads to a cleaner design overall).

[2020-03-24 04:08] #569 closed

[2020-03-24 08:21] nicolodavis commented on #190
This is more or less done now.  The only thing that remains is to export (tsc generated) type definitions in the NPM and then users will have types for the external interfaces of boardgame.io.

[2020-03-24 12:03] delucis commented on #573
Will you be able to expose `db/base.ts` (including its typings) in 0.39? That way I can depend on and extend that in my connector.

[2020-03-24 13:25] nicolodavis commented on #573
@delucis Done.

The types are in `boardgame.io/types`.  I'm not particularly satisfied with the directory layout, so this might change in the future.

[2020-03-24 15:14] delucis opened #576 "Expose Typescript types"
@nicolodavis Following on from https://github.com/nicolodavis/boardgame.io/issues/573#issuecomment-603237109

For now, the bundle doesn’t include a `boardgame.io/types` package, so I can’t do

[code]

I found the base database type by doing this, but that seems pretty fragile:

[code]

I’m not familiar yet with how best to expose and bundle types. I _think_ the `package.json` files generated for `

[2020-03-24 15:51] nicolodavis commented on #576
You're right.  The fix is relatively straightforward:

1. We need to convert everything in packages/*.js to TS.

After this, dist/types/packages will contain one *.d.ts for each subpackage.

2. We need to edit scripts/proxy-dirs.js to add a types field to the package.json.

[2020-03-24 15:52] nicolodavis commented on #576
About where to expose `base.ts`, I think an `internal` package sounds good.

[2020-03-24 16:08] nicolodavis commented on #576
Try `v0.39.2`.

`Async` should be available in `boardgame.io/internal`.  Not every sub-package will have types (`client`, for example) because we haven't converted the relevant source files to TS.

[2020-03-24 17:02] delucis commented on #576
👍 From a quick check, it looks like it works as expected for packages that have been converted, but not for `server`. What’s the reason for the `server` sub-package being provided differently from the other sub-packages?

The other thing that would be handy would be to be able to access the basic types defined in `src/types.ts`. _Maybe_ the `types` field in boardgame.io’s top-level package.json co

[2020-03-24 23:22] janKir commented on #576
I cannot find any way to access types and interfaces like `PhaseConfig` from `src/types.ts`. Can they also be included?

[2020-03-24 23:44] delucis commented on #576
@janKir They’re currently there, but hopefully in the next patch they’ll be available from a more obvious path. Types were only added a few hours ago!

[2020-03-24 23:46] janKir commented on #576
Thanks! Yes, I just stumbled across this library earlier today when the latest release did not include any types, yet... :D Keep up the great work!

[2020-03-25 00:02] delucis opened #577 "Storage API & Logs"
While implementing the new Firebase connector, I noticed that `setState` in the [flat-file](https://github.com/nicolodavis/boardgame.io/blob/2ad3a82250512a7c51c056c95004de9d8a87dd91/src/server/db/flatfile.ts#L98-L102) and [in-memory](https://github.com/nicolodavis/boardgame.io/blob/2ad3a82250512a7c51c056c95004de9d8a87dd91/src/server/db/inmemory.ts#L54-L58) implementations handles concatenating log

[2020-03-25 15:03] #576 closed

[2020-03-25 15:11] nicolodavis commented on #577
The log is used by the Debug Panel to show the user a history of actions in the game.  The state object is populated with the entries after processing the action just made.

The main consideration is this:
We want the storage implementation to decide how it wants to store the log.  For example, the flatfile just uses a single value that stores the entire log (which is why it needs to concatenate i

[2020-03-25 15:19] delucis commented on #577
OK, that makes sense. How about making it explicit then? If boardgame.io wants to send the storage API a partial log and have it appended to anything existing, what if the API has an `appendLog` method? That way the storage API doesn’t have to know that there’s a `deltalog` key somewhere etc., it just gets handed the deltalog, retrieves the log as necessary and stores the changes:

[code]

[2020-03-26 01:07] nicolodavis commented on #577
I like that idea.  Feel free to send me a PR.  Thanks!

[2020-03-26 03:33] nicolodavis opened #580 "P2P transport"
We should probably build a transport layer that works using WebRTC that would make it easy to host games without running a server (just share a link and anyone that joins the link is connected to the game).

What this would mean is that one player acts as a host (the master runs on their instance) and the game is valid only as long as the host is online.

[2020-03-26 14:22] pastDexter opened #582 "Bug: Client side Transport still using namespaced gameID"
I experienced few problems, especially missing `gameMetadata` after updating to the recent version `v0.39.0`. I did some debugging on data being sent from Client to Server and found a bug that client and server are using different format of `gameID`.

Commit 4157bc1  removed `gameID` namespacing in form of `<gameName>:<gameID>` from server side classes, but it's still used on client. This incompat

[2020-03-27 00:32] #582 closed

[2020-03-27 08:23] ThatCheck opened #584 "TypeError: Cannot read property 'port' of null"
Hello,

I use nest.js and I would like to add boardgame.io to it. But when I import the package and run `server.run(8000)`, I have the following error :

 UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'port' of null.

I think it's related to `async app.listen` in server.ts but I don't really know how to solve the issues currently.

My code :

[code]

[2020-03-27 09:22] delucis commented on #584
@ThatCheck Could you share a stack trace for that error? It would help in tracking down where exactly it’s happening.

[2020-03-27 11:44] #577 closed

[2020-03-27 14:02] ThatCheck commented on #584
Oh sorry, I miss that.

[code]

[2020-03-27 15:00] janKir opened #586 "Weird behavior when returning string from `order.first()`"
I misunderstood the instructions on how to use the custom order functions and returned the playerID (a string) instead of the playOrder index (a number) from a phase's `order.first()` function.

[code]

This also worked for the first move, and the correct player was set. This made it hard to detect where the upcoming unexpected behavior originated: When ending the first turn (and also phase), the

[2020-03-27 15:05] nicolodavis commented on #586
I agree.  We should probably log an error for cases like this.

[2020-03-27 18:28] delucis commented on #584
I think this is actually related to these lines:

https://github.com/nicolodavis/boardgame.io/blob/167690c5db2b2bfa09e432439a7948c50049b77a/src/server/index.ts#L110

https://github.com/nicolodavis/boardgame.io/blob/167690c5db2b2bfa09e432439a7948c50049b77a/src/server/index.ts#L118

The [`address` method](https://nodejs.org/api/net.html#net_server_address) can potentially return `null` or a string,

[2020-03-28 13:51] nicolodavis commented on #576
A good reason might have existed in the past, but I can't think of why we do it differently now.

[2020-03-28 14:13] janKir opened #587 "Typescript error when calling moves in tests"
I implemented my phases like this:
[code]
Which works fine -- expect when I wanted to test the moves and called them like this:
[code]
This ends in the following error: `This expression is not callable. No constituent of type 'Move' is callable.ts(2349)`. Which is defined as:
[code]
I'm not really sure how this `Function` interface works but I haven't found any explanations on when and how to use

[2020-03-28 14:19] nicolodavis commented on #575
Also, just wanted to point out that both `npm link` as well as `npm install /path/to/local/package` create symlinks (i.e. neither really "installs" the package in `node_modules`).  This has some nice properties like being able to modify the `boardgame.io` code and seeing it instantly reflect the changes in the dependent package after you run `npm run prepack`.

[2020-03-28 14:24] Bombasarkadian opened #588 "Random is undefined when manually starting new phase"
When starting new phase using either `endPhase` or `setPhase` callback, the `random` object isn't defined in `ctx` passed to `onBegin` hook. However, when previous phase ends from `endIf` hook everything works as expected.
I've prepared a minimal example showing this bug, available here https://codesandbox.io/s/boardgameio-t8b29

[2020-03-28 16:26] delucis commented on #587
Ah, this is a broader problem. Quite a few places in the interfaces that expect functions of one form or another are typed as `Function`, which is actually the function constructor not a generic function type (which could be something like `(...args: any[]) => any`). I’ll try to go through fixing those.

For now, to quickly get your test working, if you remove `PhaseConfig` as the explicit type of

[2020-03-29 00:59] iliu opened #591 "Modeling Rounds for Sushi Go!"
First of all, I really enjoyed this framework! During shelter in place for covid this gives me a lot of joy to build games for friends to play!

I'm trying to build a simple sushi go game. The basic mechanics are:
3 rounds:
- during each round:
    - play a card from hand
    - rotate hand (remaining cards) when all players have played a card
    - when all cards are played, rounds end and is scor

[2020-03-29 08:34] flamecoals opened #592 "Caller needs to know move returned as `INVALID_MOVE`"
It would be useful to also know the reason of the invalid move, so allow for some extra data specific to the game.

[2020-03-29 08:48] flamecoals commented on #292
Related: nicolodavis/boardgame.io#592

[2020-03-29 09:26] delucis commented on #592
To continue the thread from Gitter. Couple of options/considerations:

### Moves could throw an error

[code]
[code]
[code]

#### Notes

- It’s idiomatic Javascript — an invalid move is an error.

### Moves could return an error object

[code]
[code]
[code]

#### Notes

- This is a little closer to the current `return INVALID_MOVE` approach than throwing an error.

### `ctx` could have an error me

[2020-03-29 11:23] adngdb commented on #570
Here's a reproduction of my issue: https://codesandbox.io/s/boardgameio-jfnj4

## Steps to reproduce

1. Click `Start Sequence`, player `0` gets into stage `act`.
2. Click `Pass`, player `1` gets into stage `act`.
3. Enable player 1 from the debug panel, then click `Pass`.

## Expected result

The `act` stage ends and players come back to being in no stage.

## Actual result

Player `1` stays in s

[2020-03-29 12:28] delucis commented on #591
@iliu Glad you’re staying safe!

The inability to retrigger the same phase has come up a few times recently, so it might be something to look at refactoring for scenarios where you have some `onBegin` and `onEnd` logic you want to trigger, but only really one phase.

A quick question: does the “confirm score” action actually change how the game progresses or is it more of a UI thing? If it’s mainl

[2020-03-29 16:18] iliu commented on #591
that's great. it never occurred to me that i didn't need to keep the confirmation in the game state. The tradeoff is if the confirm state is in the client, we wouldn't be able to show everyone who isn't "ready" for the next round. But i think that's a minor tradeoff. I can just show the score breakdown as a modal to be dismissed purely on the client side.

a couple questions about your code:
1. i

[2020-03-29 16:48] delucis commented on #591
Yes, it depends on your use case. If you need to share a “waiting” indicator or whatever, you would likely want to keep this in the game state.

This applies to phases cycling while processing a single game action. If a game tries to enter a phase several times while making a move, the framework assumes there is some kind of infinite loop and doesn’t allow that. (That might happen if a move trigge

[2020-03-29 16:54] delucis commented on #591
Oh, and with regards to server vs client processing. In general, you can think of everything happening on both. The client tries to process the entire action and provide a speedy update to the UI. Meanwhile, the server will process the same action and return the canonical state. The main exceptions to this are moves that use the randomness API, which run on the server only. There’s also a “long-fo

[2020-03-29 16:57] iliu commented on #591
thanks! this clarifies things alot and i think i have some ideas on how to better structure the game!

[2020-03-29 16:57] #591 closed

[2020-03-29 16:59] iliu commented on #591
oh sorry 1 last question:

if i call the setPhase/setTurn/setStage events in onMove for example, it will override the next phase/turn/stage that's set in the `next` key right? the game will not progress to the `next` state?

[2020-03-29 17:09] delucis commented on #591
Yes — you can think of `next` as the value used when you call `endPhase`, but it’s overwritten when using `setPhase`. You don’t _have_ to specify `next` in your game configuration either — if you’re always using `setPhase`, it’s superfluous.

Same for turns: `turn.order.next` is called to work out who plays next, but if you call `endTurn({ next: '2' })` (there is no `setTurn` event), the next play

[2020-03-29 19:15] tom3q opened #593 "Undo/redo actions missing credentials"
If playing on a remote server, actions are validated wrt player credentials that are assumed to be inside action.payload.credentials:
https://github.com/nicolodavis/boardgame.io/blob/v0.39.3/src/master/master.ts#L188

However, in case of undo and redo, the client sends an action that consists only of type:
https://github.com/nicolodavis/boardgame.io/blob/v0.39.3/src/core/action-creators.ts#L97

Is

[2020-03-29 19:33] sarlow commented on #586
Thanks for bringing this up - I ran into the same issue as well. The unexpected behavior you mentioned comes from the way that the next player is calculated:

[code]

If playOrderPos is set to a string (e.g. "2"), then for a 4-player game:
[code]
I agree that an error message (or an additional note in the documentation) would be helpful.

[2020-03-29 20:09] adngdb opened #594 "Improve documentation about plugins"
Hi there,

Not sure if this is the best place to ask questions, so if there's a better one please point me there.

I'm trying to use plugins, and am failing hard. I'm making a few observations that I don't understand, thus I'm not sure if they are bugs or features. The documentation about plugins is quite terse, so hopefully those questions will help improving it afterwards (I'll be happy to open

[2020-03-30 06:40] krema opened #596 "react-native behaves differently for multiplayer: Local()"
Hi,

I'm playing around with the React-Native and React TicTacToe examples. Somehow React-Native without using expo behaves differently than the example for regular web react.

The props are not filled the first time it runs. In board.js I have to initialize the following additional standard props, otherwise it will crash:

    static defaultProps = {
       G: { cells: Array(9).fill(null) },

[2020-03-30 06:46] nicolodavis commented on #596
The client implementation returns a `null` until a sync has happened with the master (this is working as intended).

I think the difference you're noticing is that the web version displays a [loading](https://github.com/nicolodavis/boardgame.io/blob/master/src/client/react.js#L115) indicator while the React Native version does not.  This should be an easy fix.

[2020-03-30 07:04] nicolodavis commented on #594
The plugin API is very much in flux, and I didn't want to document it too much until it settles down a bit.
Let me add some background about plugins, which should hopeful answer some of your questions (and we can add some of this info to the docs as well):

### Each plugin gets its own private state

If you have plugins `A` and `B`, the game state is initialized to:

[code]

### The setup function

[2020-03-30 07:06] krema commented on #596
You are right! Thanks! Shall I create a pull request to fix this?
If so, wouldn't it make sense to rework these two implementations a little and create a base component with render props for the different use cases?

[2020-03-30 07:32] #587 closed

[2020-03-30 08:08] delucis commented on #594
For React, you should see the plugins data in props:

[code]

[2020-03-30 08:30] #584 closed

[2020-03-30 13:00] nicolodavis commented on #596
Sure.  Feel free to send a PR for this.

Refactoring the common logic into a base component that can be used in both
React and React Native sounds good.

On Mon, Mar 30, 2020, 3:06 PM André Kremser <notifications@github.com>
wrote:

[2020-03-30 16:41] adngdb commented on #594
Thanks for the answers and help!

Regarding the state / data thing, can you confirm there is nothing wrong with using the `data` object passed to `api` as your state, and then have `flush` simply return the same `data` object? As far as I understand (and as far as my tests go) this works fine. If that's the case, I would even encourage you to make that the default use case, and make `flush` option

[2020-03-31 23:41] #586 closed

[2020-04-01 01:13] nicolodavis commented on #592
One way to work around the asynchronous issue is to return a Promise from the move dispatcher.  We just need to ensure that the client can still be called in a synchronous way when using an in-memory store.

[2020-04-01 01:15] nicolodavis commented on #592
Of the approaches that we've discussed so far, I think I'm leaning toward moves returning an error object.

[2020-04-01 02:15] dondragon2 commented on #548
Any chance of the documentation updating any time soon to include this?

[2020-04-01 02:41] dondragon2 opened #599 "Automatic Phase"
I am trying to create a simple multiplayer card game with 2 phases. First phase the players select a card (Jack, King or Queen). Once selection is done then the second phase begin. The second phase a dealer (bot) automatically flips card from the deck at some interval (e.g. every 3 secs) until a card appears that matches the player. It is a simple game.

I am not seeing anything from the documenta

[2020-04-01 04:43] nicolodavis commented on #599
As far as the game state is concerned, you can just deal all the cards instantly (until a match is found) and then animate the draw with the 3-second interval on the client.

There exists no mechanism to trigger a state update on the server at a particular interval at the moment.

[2020-04-01 05:39] #596 closed

[2020-04-01 07:46] zzz6519003 opened #600 "need more demo to show how this engine can reach to"

[2020-04-01 08:12] thozac opened #601 "Randomized Starting Player"
As instructed to by @nicolodavis, raising an issue after first discussing this on Gitter.

## Issue

Is there a mechanism for randomizing the starting play order of a game, so that a random player starts each game?

[2020-04-01 08:15] thozac commented on #601
Copying suggestion from @syndesis_gitlab on Gitter:

[code]

[2020-04-01 09:00] delucis commented on #601
There are a couple of approaches you could use I think. These all use the randomness API provided by boardgame.io to ensure predictable results across clients and server.

1. Pick a random player to start, but maintain the usual play order. Kind of like playing clockwise in a boardgame but starting with a random player:

[code]

2. Randomise the play order completely, so the game starts at the beg

[2020-04-01 09:12] thozac commented on #601
Thanks for the quick response @delucis!

I think option 3 is best for my case as it is only ever a 2 player game, and the randomization only needs to occur once during setup.

Does this option work when generating state across clients and a remote server? @nicolodavis raised this as a possible issue on Gitter.

[code]

One question on the documentation. In the example above it says `"at the beginn

[2020-04-01 09:22] delucis commented on #601
Yes. If you were using `Math.random()` to generate randomness, it would produce different results on client and server and weirdness could follow. The `ctx.random` functions use a pseudo-random number generator that will produce the same result on the server and the client. There’s more [detail about the randomness API in the docs](https://boardgame.io/documentation/#/random).

This applies if you

[2020-04-01 09:32] thozac commented on #601
I didn't realise that you could have a top level property of `first` in `game.turn`. Something like:

[code]

[2020-04-01 09:42] delucis commented on #601
Ah, no, sorry, I meant a top-level `turn`:

[code]

As opposed to a turn configuration inside a phase:

[code]

[2020-04-01 09:58] thozac commented on #601
Awesome! Thanks for all the help 👍

[2020-04-01 09:58] #601 closed

[2020-04-01 10:15] delucis opened #603 "New Plugin API"
Following on from working on #598, I have a question about plugin configuration.

The player plugin expects a `playerSetup` function in the game config. Do you think there should be a more specific namespace for plugin configuration? Or a way of cleanly associating plugins with their configuration, so that methods don’t clutter up the main game config object? For example, a `pluginsConfig` object

[2020-04-01 10:24] nicolodavis commented on #603
Yes, I think we should stop allowing arbitrary keys in the game config.

The pattern of passing in args to a plugin factory sounds good to me, and would require almost no changes to boardgame.io.  We'd just need to migrate `PluginPlayer`.

[2020-04-01 10:58] sparr commented on #190
@nicolodavis looking forward to it!

[2020-04-01 11:04] delucis commented on #190
This is available now — if not documented yet.

General types can be imported directly from boardgame.io, for example:

[code]

[2020-04-01 16:44] delucis opened #605 "Plugin APIs no longer available in turn order methods"
(This is completely edited as I misdiagnosed this problem initially.)

I was using this in my initial turn order:

[code]

But after updating to 0.39.4, the randomness API is no longer available here. (It _is_ available during `setup`.) I guess this makes sense in the case of the Events API for example, but it would be nice to be able to randomise things here as was previously possible.

<details>

[2020-04-02 00:16] nicolodavis commented on #605
Ah this must have been an oversight on my part when I migrated the events and random API`s to plugins.  Will take a look.

[2020-04-02 01:27] nicolodavis commented on #600
This is on our Todo list.  Stay tuned :)

[2020-04-02 01:27] #600 closed

[2020-04-02 11:10] #603 closed

[2020-04-02 15:44] janKir opened #607 "Best way to delay state change"
I am not quite sure how specific my question is to this library or if it might rather belong to Stackoverflow. But in case there are some boardgame-specific aspects I'm asking here.

I'm working on a React-based card game where some parts of the game state are reset at the end of a phase (but also during a phase e.g. when a trick is completed). Let's say the last player plays a card to the trick (

[2020-04-02 16:10] delucis commented on #607
Yes, you should do this on the React side of things — watch the state changes in your React props and when `G.trick === null`, wait before propagating it. It’s a little tricky to handle — I still haven’t found a really elegant way of handling this kind of imperative event queuing in React’s declarative approach, but it’s definitely something that the UI layer should handle rather than trying to de

[2020-04-02 16:14] janKir commented on #607
Thank you! I will look into it.

[2020-04-02 16:14] #607 closed

[2020-04-02 20:28] dondragon2 commented on #115
I think there is still an issue with the shuffle. I am using the code below and every time a run the simulator for the ai. I get the same order of the deck each time. I assume this should be random but it doesn't seem to be. If I replace it with lodash eg. `_.shuffle(G.deck)` then it is random.

[code]

Am I doing something wrong?

[2020-04-02 21:30] thozac commented on #516
For anyone finding this issue, the correct usage example is:

[code]

As seen in the https://github.com/nicolodavis/boardgame.io/commit/e7d47ee85fea676b4f30efa1e10607958e5398af commit description.

[2020-04-03 16:10] dondragon2 commented on #599
At what part of the phase do i do this "you can just deal all the cards instantly"? If I put it in the `onBegin` in the next phase it just loops (deals) but the state is not updated until the end. So i am not able to see the changing state until the end.

[2020-04-04 09:01] delucis commented on #599
I would model this something like the following.

#### The game state `G`
[code]

#### The move
[code]

#### UI
On the client you watch `G.flippedCards` and when it goes from `null` to an array, you trigger your animation, one by one through the array of cards.

No need for bots or phases in this implementation, it’s just a single move. Of course your actual use case may be more complex — maybe yo

[2020-04-04 14:34] dondragon2 commented on #599
@delucis thanks for your comments but I still don't see how the state would be updated incrementally. It just seems, based on your code, that the player picks a card and then we find a match in the deck then finish. Or is it that you are suggesting that this `pickCard` would be triggered every time by some player action? In that case, that is not what I was looking for.

What I wanted was the play

[2020-04-04 16:48] dondragon2 commented on #599
This is what I am doing currently but I am sure it is not correct. It just seems "Hacky" and i am not sure how this would work in a multiplayer scenario.

in the board.js I have
[code]

[2020-04-04 18:55] delucis commented on #599
Yes, that’s correct. Basically, the idea is to separate game state (which maybe is persisted to a database etc.) from UI state (which is a visual representation of the game progress to a human user).

In a real game, each card is dealt one by one, but in a digital version, we can make it look like that’s what’s happening without actually storing each intermediate step. This is what I meant by havi

[2020-04-04 23:20] matthiasseemoo opened #608 "onBegin and onEnd for Stages"
I would like to execute code when entering a new stage and when leaving it. To this end, I would like to use onBegin and onEnd in stages. However, those keywords so not seem to have any effect in the stages sections. Would it be possible to add onBegin and onEnd to stages?

Example:
`const MyGame = {
  turn: {
    onBegin: BeginTurn,

    stages: {
      discover: {
        onBegin: BeginDiscoverS

[2020-04-05 08:51] delucis commented on #608
Please see #561. The current recommendation is to call your `BeginDiscoverStage` wherever you are currently doing `setStage('discover')` (or `setActivePlayers`) and call your `EndDiscoverStage` wherever you are currently calling `endStage` if possible.

[2020-04-05 09:16] matthiasseemoo commented on #608
Thank you for your answer, next time, I should also search in the closed issues.
I understand that under the circumstances described in #561 onBegin and onEnd can lead to bugs. However, in my case I have multiple stages which also define a "next" element to continue to the next stage when the endStage event is called. Rewriting the endStage function to manually call setStage seems like much more c

[2020-04-05 13:17] delucis commented on #608
I agree, that sounds like a good use case for these hooks. Maybe it’s something that can be added in the future.

[2020-04-05 13:39] zzz6519003 commented on #600
boardgame fan!

[2020-04-05 18:37] MathieuLoutre opened #609 "Immer style updates for PluginPlayer"
Hello! I got notifications for some updates so I thought I'd give the updated library a try, particularly the PluginPlayer aspect.

A long time ago I raised issues #368 and #369 about modifying all players at once. I've tried the new plugin and no luck there either, since the new `get()/set()` interface doesn't apply to the whole `players` object.

I've tried to rebuild a similar mechanism directl

[2020-04-06 00:54] nahuelhds opened #610 "Board component is not receiving gameMetada. Is always `undefined`"
Hi! First of all, thanks for such a good tool for making games. I'm giving it a try and it's quite nice!

I'm facing this issue and I don't know the actual reason. I see in the docs that the Board component should receive `gameMetadata` and though I see it declared as a prop it is always undefined.

I have the game created through the Lobby API and it shows me the players and all, but I don't see

[2020-04-06 01:14] crhistianramirez commented on #190
How exactly are types being added?

This is what `GameConfig.setup` is typed as [here](https://github.com/nicolodavis/boardgame.io/blob/master/src/types.ts#L191)

[code]

but in dist/types/src/types.d.ts it shows up as simply

[code]

Which is not nearly as helpful

[2020-04-06 01:18] nicolodavis commented on #609
Hey @MathieuLoutre, good to hear from you.

I haven't really spent much time looking into `PluginPlayer`, so feel free to suggest improvements by all means.

Why doesn't the get/set format work for you?  Would it work if the plugin also provided a get for the entire players object?

[2020-04-06 01:18] nicolodavis commented on #609
I'm also open to using Immer in the plugin.

[2020-04-06 06:06] delucis commented on #190
@crhistianramirez Which version are you using? This was fixed in 866e8978ca65f969c8343baa1b99f9ea9b63a1ce and released in v0.39.4.

[2020-04-06 06:33] MathieuLoutre commented on #609
I think it's maybe because it feels at odds with the rest of the data updates? In a move you can update `G` with immer but players, which are a large part of the game for me, have to be updated with a different API?

It's really not the end of the world to have to do updates on a copy of the player object and then setting it, sandwiching everything with a `get/set` but it feels like two different

[2020-04-06 12:38] crhistianramirez commented on #190
@delucis that is the version I have downloaded.

I downloaded [zip of the release](https://github.com/nicolodavis/boardgame.io/releases/tag/v0.39.4) and inspected the contents. Not seeing it there yet. Thinking it might not have been built before it was published

[2020-04-06 13:15] delucis commented on #190
Ah, that ZIP is just the source code, not the built release, but taking a look, the release does seem to be missing this update, so maybe your hunch is correct:

https://unpkg.com/browse/boardgame.io@0.39.4/dist/types/src/types.d.ts

@nicolodavis Is it possible Typescript did an incremental build when you released and didn’t include these updates or that the TS command isn’t auto-run on release?

[2020-04-06 16:37] delucis commented on #570
Came up against this bug today too. Tried the CodeSandbox with v0.39.4, but it’s still broken. It’s curious because `setActivePlayers` works, but `endStage` doesn’t. I’ll keep investigating…

[2020-04-06 16:40] nicolodavis commented on #190
The TS command is run by Rollup, so I'm not sure what's broken here.  Let me push another release and see if that resolves it.

[2020-04-06 16:43] nicolodavis commented on #190
@crhistianramirez Can you try `0.39.5`?

[2020-04-06 16:44] delucis commented on #190
Looks good, Nicolo!

https://unpkg.com/browse/boardgame.io@0.39.5/dist/types/src/types.d.ts

[2020-04-06 16:47] nicolodavis commented on #594
One way we can resolve this is to have data from plugins initialized earlier be available to plugins that are initialized later.  Then, we just need to guarantee that `events` and `random` are processed before any user supplied plugins (this is already true).

[2020-04-06 16:48] delucis commented on #570
OK, now that 0.39.5 has been released I can confirm it fixes this issue 👍

Here’s a fork of Adrian’s reproduction using 0.39.5:
https://codesandbox.io/s/boardgameio-1ohrt

[2020-04-06 16:49] nicolodavis commented on #190
Also, do you guys think that `Game` would be a more intuitive name than `GameConfig`?

[2020-04-06 16:51] delucis commented on #190
Perhaps? It’s actually the same interface as that returned by the `Game` function right?

[2020-04-06 17:42] adngdb commented on #594
That's interesting, being able to build plugins on top of other plugins. Might be too much power though? I'm afraid it might lead to difficulties for programmers because you have to be aware of all the plugins loading order when building your plugin.

Anyway, if that's simpler to do than treating a few "system" plugins as exceptions, I personally don't mind. :)

[2020-04-06 18:09] crhistianramirez commented on #190
Looks good!!

Yes, I agree `Game` is more intuitive.

[2020-04-06 19:28] adngdb commented on #570
I confirm that version 0.39.5 solves my problem. Thanks a lot @delucis! :-)

[2020-04-06 19:28] #570 closed

[2020-04-06 23:46] #599 closed

[2020-04-07 00:53] crhistianramirez opened #611 "Suggestion to improve type definitions for PlayerAPI"
## Problem I'd like to address

Currently the PlayerAPI is defined like so

[code]

And is by default a part of context as an optional property

[code]

I understand the logic here - the plugin api isn't defined unless the user's implemented it. But can cause a few issues:

- `ctx` is unnecessarily bloated with definitions that may not apply
- If the API is implemented the implementor now has to p

[2020-04-07 01:09] crhistianramirez commented on #611
It would actually be pretty neat if `GameConfig` had a type parameter too for game state

[code]

[2020-04-07 07:43] delucis commented on #611
@crhistianramirez These are good proposals. Linking an earlier discussion along these lines: https://github.com/nicolodavis/boardgame.io/pull/579#issuecomment-603736732

[2020-04-07 14:51] nicolodavis commented on #611
@crhistianramirez I really like the idea of passing in the type of the user's game state as a template.  Would you have time to work on a PR for this?

[2020-04-07 16:00] crhistianramirez commented on #611
@nicolodavis yes I can take a crack at it tonight!

Just so we're all clear on the scope of this PR. Here is what I plan on doing (feel free to add or remove from this list as you see fit)

- Refactor `Ctx` interface to receive an optional type parameter `TGameState` and pass it down to anything that consumes it.
- Refactor `Ctx` so the plugins are not part of the interface (can be added later by

[2020-04-07 16:57] delucis commented on #611
@crhistianramirez That sounds good to me!

Some extra thoughts, if you have the time:

- Perhaps move the default plugins (`events` and `random`) to a `DefaultPlugins` interface and allow `Ctx` to take a type parameter too, e.g.:

[code]

- `Game` could also have a second optional type parameter for its context, so you could type plugins available in `ctx` (this is a little more work, and it can a

[2020-04-07 17:30] crhistianramirez commented on #611
Is it common to use all default plugins? Alternatively we could simply export the Plugin interfaces and they could be composed in a similar way to your example.

[code]

Also how do you feel about renaming them a bit? As a user I'd expect to find a Plugin type, not API.

`EventsAPI` => `EventsPlugin`
`PlayerAPI` => `PlayerPlugin`
`RandomAPI` => `RandomPlugin`

As I'm thinking about it more this is

[2020-04-07 17:51] delucis commented on #611
The Events & Random plugins are always included automatically in every game set-up, so these would be the default plugins. Player has to be explicitly added, so it should be separate.

Actually, given that Events & Random are always included, maybe it would be better if the `Ctx` exposed to programmers already includes their APIs so `Ctx<PlayerPlugin>` would include them and no need to remember th

[2020-04-07 18:00] crhistianramirez commented on #611
Yeah sounds good to me, simpler is definitely better. I'll plan on that.

That's a good point, I'll hold off for now then.

Thanks for the feedback! <3

[2020-04-10 18:59] flamecoals commented on #605
+1 I also could not do ctx.events.endPhase() there

[2020-04-10 20:26] delucis commented on #605
@flamecoals That is related, but can’t you use `endIf` in your phase config instead of using an event in the turn order?

[2020-04-11 08:30] flamecoals commented on #605
@delucis good point, I will try that. What I am dealing with is the turn.next on takesix code, the most popular gmae we have, returns undefined which _used_ to finish the phase:

https://github.com/freeboardgames/FreeBoardGames.org/blob/d0904895c80d4ee55dcabee49833b4f7ba592279/src/games/takesix/game.ts#L151

But now returning undefined throws an error/warning by the framework, even though it still

[2020-04-11 08:38] delucis commented on #605
Ah, I think that’s my bad, introduced in #597.

Are you sure undefined doesn’t work any more?

I added this error logging, which I guess is too strict given that returning `undefined` is permitted, but I didn’t actually change the logic, so perhaps it’s working as previously, just with an incorrect log message?

https://github.com/nicolodavis/boardgame.io/blob/45f4f432718c20a1a0f052fe0c2c25dc41e34

[2020-04-11 08:57] flamecoals commented on #605
right, it works, but we get a bunch of these error messages, especially on our test suite... But it still works :).

I was just worried that it meant that in the future it wouldnt work anymore, so I want to do it the "right" way, but there is no way to just use the drop-in replacement of ctx.events.endPhase()...

[2020-04-11 08:57] flamecoals commented on #605
I will try to see if endIf works though :)

[2020-04-11 09:15] delucis commented on #605
I’ll fix that error message. It was mainly intended to flag errors when people returned a string instead of a number (confusion between play order position and player id).

Returning undefined is how some of the default turn orders work, so I don’t think that will go away any time soon!

[2020-04-11 09:25] flamecoals commented on #605
Cool, thank you!

[2020-04-11 22:22] sparr opened #615 "Feature request: specify default move from a move list"
Given a framework that forces a player to act, such as [this FBG feature request related to time limits](https://github.com/freeboardgames/FreeBoardGames.org/issues/494), a game needs to have a way to specify what the default action for a phase or stage is. This would often be some sort of "pass" action. My proposal here is that anywhere a move or move list can be specified, also accept a property

[2020-04-11 22:29] sparr opened #616 "Feature request: player elimination method"
Plenty of games have points in the normal game flow where a player is eliminated, and that logic can be implemented using existing move and event functionality. This feature request is about eliminating a player outside the normal game flow. This is meant to support players intentionally quitting mid-game, or to support time limits.

I propose a new property of game, and possibly also of phase and

[2020-04-12 02:42] nahuelhds commented on #610
Forget about this. It was an issue with my own code. Sorry for the troubles!

[2020-04-12 02:42] #610 closed

[2020-04-12 20:12] janKir opened #617 "Typescript error in custom turn config"
Upgrading to version `0.39.5` leads to the following typescript error:
[code]
I am using a custom turn configuration for a phase where the first player does not follow the normal turn order. The `next` function is not needed in my use case and it worked fine so far without it.

Is there a reason why the `next` field should always be set when using a custom turn configuration? (I think the same que

[2020-04-12 22:01] delucis commented on #617
Currently if `turn.order` is not set, it is set using the default order:

https://github.com/nicolodavis/boardgame.io/blob/f34f46b78a8018cce313f8cae698bf0ea403039f/src/core/flow.ts#L125-L127

But, if you only set `first`, as far as I can tell, there are no guards to prevent the game flow then trying to call `next`, which would be undefined, so I think the type is correct (even if in your game, `ne

[2020-04-12 23:00] #593 closed

[2020-04-12 23:01] janKir commented on #617
Ah, indeed, in my case, the phase has only a single turn, so `next` will never be called. Hence, the types are correct and just revealed a potential source of error in my project.

Yeah, this sounds like a good idea to me!

[2020-04-12 23:01] #617 closed

[2020-04-12 23:44] nicolodavis commented on #605
This is fixed in https://github.com/nicolodavis/boardgame.io/commit/eb1e06070eabe7d2e723b3f35fd553100183621a.

[2020-04-12 23:45] nicolodavis commented on #605
The change makes all plugins available in the turn order functions, but we should restrict it to just the "random" plugin (it would be somewhat surprising if events could be generated from an object that is merely describing the turn order).

[2020-04-13 08:25] delucis commented on #605
Fantastic!

Could there be a plugin option that restricts its availability (or the opposite)? I guess in general there might need to be a slightly more systematic approach to which plugins work where, but the obvious distinction is that events should only be allowed in hooks that are expected to mutate state, so not in `endIf` or `turn`, but only the `onX` hooks. Does that sound right? Maybe an op

[2020-04-13 10:44] will-hart opened #618 "UX issues with contenteditable editors in the debugger"
There are a few UX issues with the `contenteditable`s in the debug panel.

In particular hotkeys are still applied while a "move" argument is being edited. As a result of this, if you type an argument such as `abcd` then it will change tabs when the `b` key is pressed. This makes it impossible to type the input in.

Copying and pasting is also a bit challenging because `Ctrl+C` is captured and pre

[2020-04-13 11:29] will-hart commented on #190
The new typescript types in `0.39.6` seem to work really well for me... 💯!

I am having some issues with `Server` types. Various combinations of `import`ing the server object failed to get typings, and only `require` as per the docs seemed to work (although the import was typed as `any`). I see these were discussed a bit in #576, so maybe these haven't been implemented yet?

[2020-04-13 12:25] Bombasarkadian opened #620 "Rooms for different games returned when listing specific game rooms"
There seems to be a bug with listing game rooms when server supports multiple games. There is a room returned for each game type, even though request specifies a game name when fetching rooms.

Steps to reproduce:
1. Define multiple games
2. Run application in multiplayer with remote master
3. Create new room for one of the games (via API or with lobby)

Expected behavior:
One new room for selecte

[2020-04-13 13:31] crhistianramirez commented on #611
Closing this as PR has been merged

[2020-04-13 13:31] #611 closed

[2020-04-13 14:24] delucis commented on #611
@crhistianramirez Thanks again for your work on this!

[2020-04-13 14:44] delucis commented on #190
@will-hart Yes, the server module is bundled slightly different from the others as you saw discussed in #576, so its types aren’t exposed correctly when doing `import { Server } from 'boardgame.io/server'`, and that hasn’t been fixed yet. (Require works because TS then assumes you’re using a non-TS module, and doesn’t try finding types for it.) The types are included in the build, (e.g. at `boardg

[2020-04-13 15:26] delucis commented on #588
Just tried this reproduction with the latest release (0.39.6) and the bug is still present. My guess is that the plugins are being stripped out of `ctx` prematurely somewhere, before the events have been processed, but needs more investigation.

[2020-04-13 19:02] cowic commented on #620
I just stumbled about the exact same issue some days ago and tracked it down to

`const gameList = await db.listGames(gameName);`
 (in src/server/api.ts line 131)

The contract with db api requires an object with property "gameName" instead of a string. So this line should be:
`const gameList = await db.listGames({gameName});`

[2020-04-13 21:22] delucis commented on #190
@will-hart This should be fixed once #622 is merged and released.

[2020-04-13 21:26] #605 closed

[2020-04-14 03:11] nicolodavis commented on #605
I was thinking of just passing a list of plugin names to [EnhanceCtx](https://github.com/nicolodavis/boardgame.io/blob/master/src/plugins/main.ts#L78) that can be used to control what plugins get added.  Preset lists of plugins that need to be available at different places can be exported as constants from that file.

[2020-04-14 06:10] oliw commented on #620
Same! Thanks putting the PR out

[2020-04-14 07:48] delucis commented on #605
How would that work for third-party plugins? Would they have to export a list of these places too? Or would they be available everywhere with no configuration options?

[2020-04-15 01:28] #620 closed

[2020-04-16 09:15] adngdb opened #623 "Plugins not accessible in turn's `onEnd` when `endTurn` called from a move"
When you call `ctx.events.endTurn()` from inside a move, during the subsequent call to `onEnd`, it seems that plugins are not accessible. However, if you simply call `ctx.events.endTurn()` directly from your input, it works just fine.

## Library version

I reproduced this behavior with versions 0.39.5 and 0.39.7.

## Steps to reproduce

1. Use `ctx.events.endTurn()` in a move function.
2. Use `ct

[2020-04-16 09:36] delucis commented on #623
:+1: I think this is a duplicate of #588

[2020-04-17 13:48] nicolodavis commented on #618
Thanks for the report @will-hart!

[2020-04-18 16:05] delucis commented on #310
Done in d84e6af69533f1c0e8eed76d19ba5b8172eb2ea0

[2020-04-18 16:05] #310 closed

[2020-04-18 16:12] delucis commented on #337
This should be fixed by febb1c082b454eff1554be2678dc295834fed778. It’s no longer possible to join a game with an empty string as the player name.

[2020-04-18 16:12] #337 closed

[2020-04-19 04:18] mrhappyasthma opened #625 "Javascript error when mousing over the debug Logs"
I started a new project and have a basic flow between some phases. But if I mouse-over or click on an element in the debug `Log` tab, I see an error:

![error](https://user-images.githubusercontent.com/1547356/79679321-d292f280-81b9-11ea-8388-6e42e3beb5b8.JPG)

Any ideas on what might be going wrong? I'm not even sure where to look, based on the stack trace.

I would guess maybe the `ctx` is inval

[2020-04-19 06:58] flamecoals commented on #460
I want to implement this, it is one of the most important features missing on FBG right now.

Cant we really re-use the current store ? I was thinking something on the sorts of:

For sending messages:
[code]

For listing all messages for all players:
[code]

Each message could be a specific action type on the store/reducer, and change the state on a separate part of the state object. This will mea

[2020-04-19 07:33] delucis commented on #460
@flamecoals Would be great if you could do this!

I’m not sure about storing chat messages in the main game state. Given that chat could be fairly busy involving all players simultaneously, it would potentially increase the risk for race conditions once chat messages are trying to write to the same blob as the main game engine. We should probably add database methods for reading or adding to a gam

[2020-04-19 07:44] flamecoals commented on #460
I didn't know that the main game state could run into a race condition, because the store is always changed using a message and reducers for each state transactions... Can you detail more about how this can run into a race condition? Some of the moves I have on my games are "clicks" which are very frequent and I've never noticed race conditions.

Enabling/disabling chat could probably be done on t

[2020-04-19 07:59] delucis commented on #460
Currently the reducer guards against race conditions using an incrementing state ID. Every move, the state ID increments and the reducer checks to make sure actions are sequential, and if it receives a bad state ID, the action is rejected. This approach isn’t so helpful in an asynchronous, multi-client context because two users could send messages more or less simultaneously (each with the same st

[2020-04-19 10:20] nicolodavis commented on #460
I'm not sure if using the game state to store chat messages (even through a plugin) is a good idea.  It makes application state too closely coupled with game state.  Note that the Plugin API already supports intercepting custom actions (even bypassing the state ID check), so I don't think you need any changes to BGIO to implement this via a plugin.

I think a cleaner approach would be to allow ass

[2020-04-19 10:23] nicolodavis commented on #625
Hi @mrhappyasthma.  Would you be able to provide a CodeSandbox link that demonstrates this problem?

[2020-04-19 18:14] flamecoals commented on #460
Thanks for the response @nicolodavis, the issue with using lobby in my mind is that it is a REST API and we do pooling to check if the lobby status changes. I believe that would be a waste of resources to use the same technique for chat,and that it fits much more a websocket style communication.

Also, how would the board use the lobby API? Through the metadata object ? What about the users that d

[2020-04-19 18:24] nicolodavis commented on #460
Note that you will be serializing / deserializing the entire game state for every chat message, which seems like a bigger waste of resources than polling.

Also, the game creation API is not limited to REST.  We could use GraphQL or web sockets to implement it.  I'm proposing that we look at how we can improve that to support chat rather than sticking it into the game state.

[2020-04-19 18:29] flamecoals commented on #460
I don't agree that it would be a bigger waste of resource, serializing and desserializing happens only in memory and the only thing that goes through the network is the message. While polling might need to go through the network every X seconds, with or without new messages, which can drain the battery of mobile phones easily.

[2020-04-19 18:35] nicolodavis commented on #460
The chat API could very well use boardgame.io's websocket backend to do realtime updates.  We just need to make sure that the data sits in a separate section of the storage (analogous to metadata, but could be something new) and is wired through the system so that it is available on the client.

That said, there is no harm in trying to write a plugin first. No changes are required in boardgame.io

[2020-04-19 18:38] flamecoals commented on #460
I tried to write the plug-in yesterday, but the new plugin API wasn't available at the Board render() ctx, so I couldn't list the messages there and I couldn't call the API to add a new message. I even deleted the code, but I could try again ...

Are the plugins API supposed to be available in that ctx too? (In the render() on react components?) I might do a fiddle just to test the concept

[2020-04-19 18:56] nicolodavis commented on #460
You'll need to read the data from `state.plugins.chat` on the client.

Events can be dispatched to plugins using `client.plugin.chat()`.  Need to verify if this is available in React, but it should be a one line change to add it there if it isn't already.

You would only need to interact with `ctx` if you're doing it inside a move.

[2020-04-19 19:45] flamecoals commented on #460
Ok, thanks for the pointers ! I will try to add plug-in support to this use case then :)

[2020-04-19 21:31] delucis commented on #460
It’s worth noting that this is only currently the case for sending the message, not receiving it. Once a plugin’s action is processed on the server, all clients would receive an update event containing the entire updated game state.

I wasn’t aware of the `client.plugins[plugin]()` API — sounds like chat might be possible using a plugin for now!

[2020-04-19 22:29] will-hart opened #628 "Refactor lobby / state initialisation code"
Currently the game state is initialised at game creation. This has a number of consequences:

- the number of players must be known exactly before the game is created (no "open" public lobbies")
- players can start making moves before all players have joined, however the game will most likely get stuck when an empty slot is reached (or if it is never filled)
- the server has no way to know if a pl

[2020-04-19 22:30] will-hart commented on #628
**Possible implementation:**

Too many changes to the lobby API could break a lot of existing games. One way to resolve these issues would be to use the existing state and game definition to handle lobbies. For instance:

1. When a game is created through the API it could also return a special "host" token,
1. Games could define a special `lobby` phase (a basic one could be supplied with boardgame

[2020-04-20 07:40] delucis commented on #616
@sparr Given that this can be handled in game logic, what would be the advantage over coding a `quit` move that players could use? The main thing I can see would be to have a standard API to use with a timeout, but until #92 is resolved that won't be possible in any case.

[2020-04-20 07:47] delucis commented on #615
Wouldn't it be better for the thing that “forces” action to say what it forces?

For example, in a case where a timeout does something, I would imagine it would be nice to have an `onTimeout` called which would advance game state rather than relying on a reference to a specific default move.

Are there use cases where this wouldn't be a good developer experience?

[2020-04-20 18:06] sparr commented on #615
My thought is that there might be multiple use cases in the future for some universal default move for a particular game state, such as:

* player turn times out
* player chooses "do my default move in every phase/stage until I turn this option back off" to go AFK or similar
* player has quit the game, but the game rules do not allow players to drop out, so their position needs to perform a move a

[2020-04-20 19:06] delucis commented on #615
@sparr Thanks for the extra use case examples!

Would a pattern like the following work:

[code]

For game implementers, the main difference between the default move and any other is presumably a reliable thing to call. Defining a default move like this works already, although you do need to remember to include `default` everywhere, but that would presumably also be the case for a different API.

[2020-04-21 01:07] sparr commented on #615
This seems good. I suspect in many cases default would be a lambda that calls an existing action with specific parameters, rather than pointing directly at the action itself, but that still fits with your approach here.

[2020-04-21 02:01] nicolodavis commented on #460
Yes, the number of bytes sent on the network is going to be at least an order of magnitude larger than the chat message itself.  Same with storage in the database.  Each chat message is going to keep an entire copy of the game state in a new record.

Perhaps an easy way to fix this is to introduce an option to the Plugin API to indicate that data for that particular plugin needs to sit in a new co

[2020-04-21 15:00] adngdb opened #634 "[Question] How can I know, from the lobby, if a game is over?"
Hi,

I haven't been able to find an answer to this question in the documentation or in the code. Is it even possible to know from outside a game client if the game is over?

My use case is as follow: I'm building a 2 players game, and I want my "lobby" to be super simple: one button that, when clicked, makes you join a room and wait until that room has a second player, then loads the game. My prob

[2020-04-21 15:56] delucis commented on #634
Hey @adngdb — no, that’s not currently something updated in the game metadata, although it probably should be.

We already [read in game metadata](https://github.com/nicolodavis/boardgame.io/blob/5c12adb2fecbfb01c3ab7308441065aa331b46cd/src/master/master.ts#L175-L189) in the game master’s `onUpdate` method, so we could use that data to also write back to the metadata at [the same time we store the

[2020-04-21 22:29] coyotte508 commented on #190
I can't import `boardgame.io/client`:

[code]

It seems `dist/types/src/client` is missing:

![image](https://user-images.githubusercontent.com/342922/79920353-3888af80-8430-11ea-9ff4-b7cd34fe232f.png)

[2020-04-21 23:06] delucis commented on #190
@coyotte508 I think this is because the client source code hasn’t been converted to Typescript yet. I’m working on some changes to those files at the moment, so I’ll try to make that conversion while I do.

[2020-04-21 23:20] coyotte508 commented on #190
Ok :)

In the meantime `import boardgame.io/dist/cjs/client` seems to work

[2020-04-22 00:55] nicolodavis commented on #190
https://github.com/nicolodavis/boardgame.io/pull/622 is released in `0.39.8`.

[2020-04-22 03:04] sparr opened #635 "Feature request: Method to get valid move parameter values/ranges"
I want to be able to annotate a move in some way, in my game definition, that will provide feedback to a client / board / player about the expected or allowed parameter values and ranges for the move.

In games I have seen so far, a lot of this logic exists in the client/board implementation, and then for complex moves it remains possible for the player to attempt a move then find out it is INVALI

[2020-04-22 03:08] sparr opened #636 "Feature request: dry run for moves"
I would like to be able to call any move function in such a way that it does not change game state, but instead somehow conveys back to the client what the game state would be if that move were run.

This could be used by a client to generate previews, without the information leakage that would come of doing-then-undoing the move.

[2020-04-22 04:55] flamecoals opened #637 "Last release (v0.39.8) missing boardgame.io/server package"
I was trying to upgrade FBG to v0.39.8 but it seems like it is missing the server package:

[code]
on https://github.com/freeboardgames/FreeBoardGames.org/blob/7e26b4125fe3f9722b54d4479c11606fc52739f5/server/bgio.ts#L4

 it does indeed seem to be missing from `node_modules`:
[code]

but the tutorial still says to import this module:
https://boardgame.io/documentation/#/multiplayer?id=setting-up-th

[2020-04-22 07:57] flamecoals opened #638 "Release v0.39.5 started mismatching between activePlayers and currentPlayer"
Hi, we have a game called secret codes implemented at FreeBoardGames.org. It has two phases, setup and play. Inside the play phase, it has two stages, one for "giving a clue" and another for "guessing":
https://github.com/freeboardgames/FreeBoardGames.org/blob/7e26b4125fe3f9722b54d4479c11606fc52739f5/src/games/secretcodes/game.ts#L123

Whenever the user selects a wrong card,  we call `ctx.events.e

[2020-04-22 08:13] delucis commented on #637
I tweaked how the server was bundled in #622 and it looked like it was working in my machine, but I’m just realising that I didn’t update `files` in package.json, so the server wasn’t included on release. Thanks for opening this!

[2020-04-22 10:16] #637 closed

[2020-04-22 12:39] delucis commented on #638
Hi @flamecoals — trying to track down the source of the bug. Can you confirm this happened specifically between v0.39.4 and v0.39.5? Or could it be anywhere between v0.39.4 and the latest release (v0.39.9)?

[2020-04-22 15:28] delucis commented on #638
I see you’re doing `ctx.events.setStage(Stages.giveClue)` [in the `turn.onBegin` hook](https://github.com/freeboardgames/FreeBoardGames.org/blob/7e26b4125fe3f9722b54d4479c11606fc52739f5/src/games/secretcodes/game.ts#L52). Could you try using `turn.activePlayers` instead?

[code]

I need to debug a little further, but I think this is related to #514 and may be a regression since rewriting the event

[2020-04-22 16:16] flamecoals commented on #638
Perfect! Thank you so much for tracking this, I think we were depending on some unspecified behavior on the framework. Later today I will try your recommendations

[2020-04-22 20:50] delucis commented on #638
Let me know how you get on!

I’m also seeing this from #523 again, which I forgot to act on:

Perhaps we should at least log a warning for these cases. I’ll leave this open as a reminder to do something like that — or at least to improve the documentation.

[2020-04-23 02:45] nicolodavis commented on #618
@will-hart I was not able to reproduce the copy / paste issue.  Can you describe the issue you ran into?

[2020-04-23 04:48] will-hart commented on #618
When I have an action in the debug view which has a `c` short cut, then trying to `ctrl+c` copy anywhere in the debugger triggers the `c` action and seems to `preventDefault` on the copy. Therefore `ctrl+c` doesn't work in the debug view.

I'm not really familiar with the code, but does https://github.com/nicolodavis/boardgame.io/blob/master/src/client/debug/main/Hotkey.svelte#L26 need to check fo

[2020-04-23 06:26] somebody-vip commented on #349
I am encountering a similar issue. It would be wonderful if an naive game ‘reset’ function is added.

[2020-04-23 08:19] flamecoals commented on #638
I had a look tonight, but while changing this fixed the local game mode, it broke multiplayer... I need to understand better what is going on, it will take me longer than I can spend today, I will get back to this tomorrow or so.

Thank you so much for the help. On a separate note, can you help me understand the semantic of this activePlayers API? What does it mean when activePlayers is { "0": nul

[2020-04-23 08:34] delucis commented on #638
`Stage.NULL` is a way to have active players even if you’re not using any [Stages](https://boardgame.io/documentation/#/stages). In some simple games you might just want to have multiple players be active, without setting up special stages or moves. In this case, we use `null` as the stage “name”. The player is still active but not in a stage.

So in a 3-player game. `{ "0": null, "1": "clueGiven"

[2020-04-23 08:37] flamecoals commented on #638
So stages are by player? I think that's what I was missing! This is the
wrong abstraction for this game then, as every player are in the same stage
at the same time. I will probably refactor

On Thu, Apr 23, 2020, 1:34 AM Chris Swithinbank <notifications@github.com>
wrote:

[2020-04-23 08:39] delucis commented on #638
Ah, OK. Yes exactly — sounds like phases might be a better fit. You can do `setActivePlayers({ all: 'Stage' })`, so it might work for you too!

[2020-04-23 09:21] peacetrue opened #643 "How to achieve another game"
After the player has played a game, They want another game, Any good suggestions from **boardgame.io**?

[2020-04-23 14:37] delucis commented on #643
@peacetrue Do you mean like a “Play Again” feature? If you’re using the Lobby API, you could either use the `create` and `join` endpoints to create a new game or use [the `playAgain` endpoint](https://github.com/nicolodavis/boardgame.io/blob/c51b277ccfde7578c5001bce6e8066e21912c428/src/server/api.ts#L235).

If you’re not using a server, you can use the `reset` method of the client to reset the gam

[2020-04-23 19:17] #615 closed

[2020-04-23 19:50] rateforx opened #644 "Feature request: excluding a move from the moveLimit."
I think the title speaks for itself 😏. Here is an example of how would I see it.

[code]

[2020-04-24 07:25] flamecoals commented on #638
Thank so much for the help, I am closing this for now as it was a bug on our side

[2020-04-24 07:25] #638 closed

[2020-04-24 21:31] delucis commented on #292
@sparr posted this related feature request in #635:

[2020-04-24 21:32] delucis commented on #635
Hey @sparr I’m going to close this as a duplicate of #292, and I’ve copied your suggestions over there. Thanks!

[2020-04-24 21:32] #635 closed

[2020-04-24 21:38] sparr commented on #292
What if there was a way to ask for a "dry run" of a move? The return value would be INVALID_MOVE or a new G, but not a change to the actual G.

[2020-04-24 21:50] delucis commented on #292
I think that approach you outlined in #636 is definitely one possibility. At the moment we probably need to address #592 first to establish a standard way for the game master to return information to the client. At the moment even `INVALID_MOVE` isn’t returned. Things like waiting for move success etc. would also be useful additions and we can then build other ways for the game master to communica

[2020-04-24 21:51] delucis commented on #636
Is it OK if I close this as a duplicate too if I understand correctly that the intended use case is effectively to implement some kind of illegal moves API? Then we can track progress towards this in #292.

[2020-04-24 22:11] sparr commented on #636
They are interconnected but distinct. As mentioned on the other thread, all of these ideas depend on some way to communicate results other than state changes to the client.

The use case here isn't just for illegal moves. I also want players to be able to test out a move to see how it would work, without having to do+undo moves that other players can see that would tip their hand.

[2020-04-24 22:22] delucis commented on #636
That makes sense. OK, I’ll leave this open as also related to #592.

[2020-04-25 02:04] xobs opened #647 "Unable to build on Windows"
I'm running Node v14.0.0 and trying to use `boardgame.io`.

The `README.md` file says to install I should run `npm install --save boardgame.io`, however that returns an error:

[code]

The `README.md` also says I should run `npm install; npm run build`, however this also fails:

[code]

This is a fresh install of node, and I have removed `npm` from my home directory in order to ensure there are no

[2020-04-25 04:40] peacetrue commented on #643
@delucis I will try the ``the playAgain endpoint.`` ,  It doesn't seem to be updated in the document.

[2020-04-25 09:36] delucis commented on #643
@peacetrue Yes, create + join wouldn’t work so well for that use case but I think the `playAgain` endpoint might.

@flamecoals Are you still using the `playAgain` API? Would you be open to updating [the documentation](https://github.com/nicolodavis/boardgame.io/blob/master/docs/documentation/api/Lobby.md) to include it?

[2020-04-25 12:21] ksjogo commented on #647
[code]
You will  have to rename your project folder to add boardgame.io as dependency

[2020-04-25 12:23] xobs commented on #647
I wanted to try the examples first.  Do you not need to install it?

Also, trying the examples failed for some reason (see the second command).

[2020-04-25 14:09] ksjogo commented on #647
Did you git clone the boardgame.io repo?
Then you don't need to/can't do `npm install --save boardgame.io` because you already got all the files.

[2020-04-25 14:15] xobs commented on #647
For the first problem,

Yes, I did clone the git repo.  I wasn't sure if `npm install --save` did something like save `boardgame.io` to my user profile directory, ensuring it was "installed".  I'll skip that for now.

For the second problem, I'm able to get a successful build after running `npm install '@babel/compat-data'`. So that does seem like a required installation step.

[2020-04-25 20:55] peacetrue commented on #643
@flamecoals When my test is complete, I will update the document. In addition to the interface documentation, Lobby's example also needs to be updated synchronously.

[2020-04-25 21:28] flamecoals commented on #643
Hey, yes, we still use it. I will send a PR soon with documentation

On Sat, Apr 25, 2020, 1:55 PM 安宁 <notifications@github.com> wrote:

[2020-04-25 21:51] peacetrue commented on #643
@delucis I made some attempts.
First of all, the playAgain interface is used, it looks not much different from the create interface, but nextRoomId is useful.
After calling the playAgain interface, I want to see if the other player can receive the notification, but the result is no.
Finally, try to poll on the client, by determining whether GameMetadata contains nextRoomId, but the result is no.

[2020-04-26 02:29] #634 closed

[2020-04-26 02:41] #644 closed

[2020-04-26 08:07] delucis commented on #644
This will be available in the next release using the long-form move syntax:

[code]

[2020-04-26 14:43] rateforx commented on #644
Great, thanks. 🍻

[2020-04-26 18:19] danielstocks commented on #588
Having similar issue here: `ctx.Random` is `undefined` when a new phase is triggered by the `endPhase` event.

boardgame.io version: 0.39.7

[2020-04-27 08:09] delucis commented on #643
@peacetrue Check out [the documentation @flamecoals just added](https://boardgame.io/documentation/#/api/Lobby?id=playing-again). You should get the `nextRoomId` as the response to a request to `playAgain.`

And you’re correct that this isn’t supported by the provided React Lobby component.

[2020-04-27 15:19] adngdb commented on #623
I've tried to solve this by myself, but it requires a knowledge of the engine that is a bit too deep for what I can manage now. However, I did write a test suite that reproduces the issues (from here and #588). Using them you can see the full stack leading to the exception. Hopefully that can help someone with more experience solve this?

Here are the tests:

[code]

And a sample error stack:

[co

[2020-05-02 08:04] #588 closed

[2020-05-02 08:04] #623 closed

[2020-05-02 08:18] adngdb opened #660 "[community] A place to talk about boardgame.io"
Hello,

I sometimes would like to be able to ask generic questions around boardgame.io without necessarily filing an issue — like, "can help make a new release?" :wink: or generic questions about usage, etc.

As far as I know, there is no place dedicated to that. What would you think about opening one? That would probably help creating a sense of community, and would make it easier for folks to as

[2020-05-02 08:47] nicolodavis commented on #660
Hi Adrian, thanks for your contributions to the project recently.  They are much appreciated.

About a forum / chat group, have you seen our [Gitter](https://gitter.im/boardgame-io/General) channel?  I've also floated the idea of potentially moving to [Discord](https://discordapp.com/), which  has a nicer mobile experience, but I do like the fact that Gitter chats are publicly readable without nee

[2020-05-02 08:51] adngdb commented on #660
Hah, no, I completely missed that! I see now that there's a small gitter icon in the readme. I guess it could be made a bit more obvious. I'll give that a go! (And might propose other changes to the readme too. )

[2020-05-02 09:02] nicolodavis opened #662 "move signature change"
There is currently a [proposal](https://github.com/nicolodavis/boardgame.io/pull/629#issuecomment-616900537) to change the signature of moves that could benefit from some feedback from the community:

###### current

[code]

###### proposed

[code]

The rationale for this change is that it is currently difficult to add new API's without polluting `ctx`.  This causes difficulties in the codebase (r

[2020-05-02 09:08] nicolodavis opened #663 "stop destructuring state on the React client"
We currently destructure the state object on the React client: [source](https://github.com/nicolodavis/boardgame.io/blob/master/src/client/react.js#L122).

This allows you to access `G` as `props.G` rather than having to do `props.state.G`.  However, it does cause name clashes between properties in the game state and other props that are passed to the React client (for example `plugins`).

The pro

[2020-05-02 09:10] nicolodavis commented on #663
One thing that could be confusing about this is that `state` means something in React, so `props.state` is confusing.  We'd have to rename it to something like `gameState`, which could also be confused with just the user-controlled game state `G`.

[2020-05-02 09:33] adngdb commented on #662
That looks good to me. I like moving plugins outside of `ctx`, especially now that I had to take a look at how it is implemented under the hood. Having `ctx` be a plain object with a structure that does not vary seems like a very good thing to do (also, it will make it easier to document).

As for a backward incompatibility, that comes with the "beta" status of the engine, and I hope everyone usin

[2020-05-02 09:35] adngdb commented on #663
Maybe use a sort of namespace instead of `state`? Something like `bgio`?

[2020-05-02 11:15] #660 closed

[2020-05-02 13:19] delucis commented on #663
I personally don’t mind overly the fact that `props.state` is similar to the React naming convention. It’s most confusing in class components where you could have `this.state` and `props.state`, but with function components it’s less likely there will be a variable actually named `state`.

This is also a prop that will very likely be destructured early in the component tree, so users will likely n

[2020-05-02 17:44] adngdb opened #665 "Game over metadata is not exposed by API"
This is a follow-up to #645, where the information that a game is over was stored in the associated room's metadata. However, that data is never sent to the client via the API, so it's not usable.

This covers adding the `gameover` metadata of each room to the return value of the `/games/:name` route.

[2020-05-02 19:06] #618 closed

[2020-05-02 19:09] delucis commented on #643
Going to close this now we have documentation. Let me know if you have any further questions.

[2020-05-02 19:09] #643 closed

[2020-05-02 19:14] delucis commented on #647
Hi @xobs, we’ve just merged a PR to fix Windows builds (#657).

To run the examples, you should clone the repository and run the following in the directory.

[code]

The `npm install --save boardgame.io` is for adding the package to your own project, it can’t be run inside the boardgame.io directory.

I’m going to close this, but let us know if you run into any further issues!

[2020-05-02 19:14] #647 closed

[2020-05-02 19:33] delucis commented on #419
Closing as this was added in [v0.35.0](https://github.com/nicolodavis/boardgame.io/blob/master/docs/documentation/CHANGELOG.md#v0350).

[2020-05-02 19:33] #419 closed

[2020-05-02 19:33] delucis commented on #472
Closing as this was added in [v0.35.0](https://github.com/nicolodavis/boardgame.io/blob/master/docs/documentation/CHANGELOG.md#v0350).

[2020-05-02 19:33] #472 closed

[2020-05-02 19:37] delucis commented on #362
I’m fairly certain this issue has been resolved — please feel free to re-open if you come across it again.

[2020-05-02 19:37] #362 closed

[2020-05-02 19:40] delucis commented on #329
I think this should be resolved now, but please feel free to re-open if you encounter this again. Firebase Firestore support has been removed from this repository and a replacement implementation is available here instead: https://github.com/delucis/bgio-firebase

[2020-05-02 19:40] #329 closed

[2020-05-02 19:44] delucis commented on #298
Closing this now that moves can use the long-form syntax and `client: false` and plugins can declare a `noClient` method.

[2020-05-02 19:44] #298 closed

[2020-05-05 18:49] JGrzybowski opened #668 "Access PlayerPlugin from Client component"
I use `PlayerPlugin` to store each of the players board state.
I need to show some of those data using components (eg. cards the player has in hand)

I noticed that `ctx` passed in props fro `Client` component is not a `CtxWithPlugins` that I would expect here. It would make some sense I guess, but how can `Client` get it's players data from `PlayerPlugin`?

[2020-05-05 20:09] delucis commented on #668
You can access plugin data like this on the client (I’m assuming you’re using React):

[code]

We still need to update this in the docs, which is being tracked in #594.

[2020-05-06 08:50] delucis commented on #662
A few extra thoughts:

- We should probably extend this to other values that are not strictly part of `ctx` — I can think of `playerID` for now — for consistency with the client.

- Should we destructure the plugins or have an interface like `{ G, ctx, plugins }`?

[2020-05-06 08:56] delucis commented on #663
Another question around the interface for plugins on the client:

Currently state is available at `plugins[name].data`, which mirrors the data/api distinction of plugins, but if we’re _not_ going to combine these on the client — e.g. `{ data, dispatch, ...etc }` — the `data` namespace might be unnecessarily verbose. `state.plugins[name]` should probably point directly to the data.

[2020-05-06 08:59] pociej opened #669 "Phase is not properly updated ...."
... in case of multiplayer running on Local.
[code]

When G.bidding.length achieve length 10 then phase is finished ( i see that `ctx.phase` says `'PHASE_DECLARE'` however playCard move is not visible in moves and i see ` Uncaught TypeError: moves.playCard is not a function`. When i added `playCard` to the list of allowed moves of `PHASE_BIDDING` then i see `ERROR: disallowed move: playCard ERROR:

[2020-05-06 09:03] nicolodavis commented on #662
I'm in favor of destructuring plugins.  We can add a check to prevent plugins from being named 'G' or 'ctx' if that's a concern.

+1 to also moving `playerID` out of `ctx`.

[2020-05-06 09:14] pociej opened #670 "Debug UI buggy ...."
... in case of multiple clints on local master.
![Screenshot 2020-05-06 at 11 05 53](https://user-images.githubusercontent.com/3854675/81160839-e6e13880-8f8a-11ea-9164-ac6f56eaca09.png)

When i click 'End Phase' it throws error `ERROR: player not active - playerID=[3]`
This is becuase my table component is like this :

[code]
When i change it to be
[code]

Then it works, it first case i have to ma

[2020-05-06 09:51] delucis commented on #670
Hi @pociej — I think this bug is caused because when you instantiate multiple clients, you’re actually getting multiple debug panels. They’re on top of each other so you can’t really see this — the only slight visual hint is that the box-shadow is darker than usual.

You can see in your screenshot that with the `playerID` order 0, 1, 2, 3, there’s an orange box around the 3 indicating it’s the deb

[2020-05-06 09:53] delucis commented on #669
Thanks for the report. Do you think this could be for the same reason I outlined in my answer to #670?

If not, would you be able to share a CodeSandbox or other reproduction for us to test?

[2020-05-06 16:26] JGrzybowski commented on #668
Thanks, it works! But isn't it a loophole for the cheating,  for client to have all PlayerPlugin data?

[2020-05-06 17:51] delucis commented on #668
@JGrzybowski It could be yes, if you’re storing state that should be secret.

There’s no way currently for a plugin to specify secret state (like you can do with [`playerView`](https://boardgame.io/documentation/#/secret-state)), but it’s probably something that should be added.

[2020-05-06 17:58] delucis opened #671 "Add playerView option to plugin API"
Currently games can define a `playerView` to exclude secret state from the `G` that is returned to clients.

As mentioned in #668, plugins should also be able to hide secret state on the client, for example using a `playerView` option:

[code]

We would then have to call the plugins’ `playerView` for each update sent to clients.

[2020-05-07 10:06] pociej opened #672 "Reconnection to server and performance when connection is down"
I'm still investigating but seems that there is some bug in way the framework handle things in case of multiplayer. Scenario :

1. I have single player game, but as there is no other way i use multiplayer to be able to sync game state with server
2. Lets say i have :

[code]
3. Lets say that i lost internet connection for a moment and in this moment i ran `myRandomMove`

What happens? Phase is not

[2020-05-07 10:11] delucis commented on #672
This is a known issue, I think, a duplicate of #218. The problem is that if a connection times out, the client still runs its optimistic update and is then out of sync with the server.

I’ll close this in favour of #218, but thanks for the report.

[2020-05-07 10:11] #672 closed

[2020-05-07 10:30] pociej commented on #672
Hmm but it is critical, in fact it makes framework more or less unusable, why then it is opened from 2 years and not fixed yet?

[2020-05-07 10:40] nicolodavis commented on #672
Hi @pociej. If you are eager to see this fixed soon, feel free to contribute a PR. We haven't seen too many reports of people running into this issue which explains why a fix hasn't been prioritized.

[2020-05-07 10:51] pociej commented on #672
Hi @nicolodavis sure i could do that. If you though about this issue before let me know your thoughts and some tips, like where you want this logic to be placed.

As i see this problem two approaches are possible
1. Do not update game state as long as there is no reply from server, thats against optimistic UI concept
2. Allow all the flow, including events ( like end phase ) to run in the client,

[2020-05-07 16:58] JGrzybowski commented on #668
Thanks, I guess that closes this question. But I will have to open another issue (for topics separation reasons) regarding storing those data in game Log.

[2020-05-07 16:58] #668 closed

[2020-05-07 16:59] JGrzybowski opened #673 "Debug mode Log does not store plugins' data"
After hovering one of the log entries I get exception with
``` Cannot read property 'player' of undefined``` in one of my components which uses PlayerPlugin data described in #668
Does this must be done explicitply or there is no way to add data to `Log` for now?

[2020-05-08 01:45] nicolodavis commented on #672
Something along the lines of [2] is probably good.  Maybe we can make the state changes optimistically and then if there is no response from the server just run a 'sync' similar to the one we do when a client first connects [here](https://github.com/nicolodavis/boardgame.io/blob/master/src/client/transport/socketio.js#L106)?

[2020-05-08 21:24] pociej opened #676 "endPhase ends turn"
I just updated my game to newest version ( was 0.28 before ).  Game i single player, but i use multiplayer to be able to sync with server, however this issues appears with, `multiplayer : Local()` I see that every time i call endPhase also turn counter is increased. Is that expected behaviour and i dont understand something?

[2020-05-08 21:46] delucis commented on #676
Yes, that’s expected behaviour as of v0.33.

This migration guide might help if you haven’t found it already: https://nicolodavis.com/blog/boardgame.io-0.33/

[2020-05-08 21:46] #676 closed

[2020-05-08 21:54] pociej commented on #676
Oh great thx a lot @delucis

[2020-05-08 21:56] pociej opened #677 "Support for mongo"
I see that in newest version Mongo is not supported anymore,  but in docs one can see 'Coming soon (used to be supported but is not in sync with the latest release).' Are you actively working on it? I need it as my games depends on Mongo and i want them to stick with mongo so if its not going to be pushed in next days, i would implement Mongo support and make PR. Or maybe there are some issues you

[2020-05-09 10:05] coyotte508 commented on #292
My personal concern is not only whether to check if the move is legal, but also to give the client the list of possible moves. The client shouldn't have to test every possible move and check if it's valid or not before displaying them in the UI.

It's especially true if the backend / client run separate stacks, i.e. the logic would be on the server side, and the client doesn't run bgio (because so

[2020-05-09 10:28] delucis commented on #677
@pociej The general plan is to encourage third-party database packages rather than including them directly in this library. See [bgio-firebase](https://github.com/delucis/bgio-firebase) and [bgio-azure-storage](https://github.com/c-w/bgio-azure-storage) for examples. It’s hard for us to maintain them here if they’re not services we’re familiar with or are actively using, so this lets community mem

[2020-05-10 09:57] pociej opened #679 "localStorage as Local storage."
What do you think about idea to allow localStorage to be storage for localMaster? Sometimes it could be useful to be able to back to same game after accidental tab close or refresh without need of server in backend.

[2020-05-10 23:14] jabza opened #680 "server-side side-effects for room state changes"
The current lobby and server are somewhat of a black box when it comes to accessing the room state.

It would be nice to allow server to listen to state change events, perhaps the redux store directly, to trigger side effects when rooms are created, modified and ended. One example being updating user statistics upon game completion.

Right now, server-side, the only option are events hooked up wit

[2020-05-10 23:19] delucis commented on #679
This should be possible. The main work would be writing a local storage implementation of the storage API. You can find [the synchronous base class here](https://github.com/nicolodavis/boardgame.io/blob/b2d6b067d6d737406484a648b6697c8d1443570e/src/server/db/base.ts#L113-L165). The same principle would work for other browser storage approaches.

Then the local transport would need to be updated to

[2020-05-10 23:35] delucis commented on #680
Thanks for laying out the details @jabza.

There are two different states to listen for changes in: metadata (players joining/leaving, room created etc.) and the actual game state.

### Game State

For game state, we would probably need to add a hook/callback in the game master. We currently do this to check if the game is over and if we should update the metadata:

https://github.com/nicolodavis/

[2020-05-11 08:52] pociej commented on #679
Yeah i already checked current implementation and i think i see how it should be implemented. Just wanted to know if you prefer it to be part of think package or separate repo, but from what i see above you prefer to have it outside as all other storage implementations. Will let you know soon.

[2020-05-11 13:23] pociej opened #681 "Sync is not exported from internal"
https://github.com/nicolodavis/boardgame.io/blob/master/packages/internal.ts

I guess :

[code]

should be :

[code]

[2020-05-11 14:13] delucis commented on #681
Looks good! Would you like to open a PR?

[2020-05-11 14:16] delucis commented on #681
I think it’s actually already possible to access this as:

[code]

But it would be good to expose `Sync` and `Async` in the same way.

[2020-05-11 14:45] pociej commented on #681
https://github.com/nicolodavis/boardgame.io/pull/682 PR created

[2020-05-11 16:13] #681 closed

[2020-05-11 17:29] Zhouzi opened #683 "Add link to the next page in the documentation"
I am a new user so I am currently going through the documentation. When I was done reading the concepts, I wanted to jump to the next step but didn't find any pointers at the end of the page.

I would suggest adding a link to the next page at the bottom of the documentation's pages.

Let me know what you think, I would be happy to look into it and submit a PR if you are ok with that.

[2020-05-11 18:34] delucis commented on #683
A PR for this would be great! The docs are built with docsify and maybe [this pagination plugin](https://github.com/imyelo/docsify-pagination) would work?

[2020-05-11 18:36] Zhouzi commented on #683
Great, I'll have a look and submit a PR. Thanks for the link 👍

[2020-05-11 21:07] pociej commented on #681
@delucis it seems that it worse. StorageAPI is not exported at all from the package, try to run tests in your firebase connector.` import { StorageAPI } from 'boardgame.io'` gives you `undefined`.  In same file i linked above we should have
[code]

I would even remove redundant `Sync` and `Async` export but if im not blind, now everything storage related is broken.

[2020-05-11 21:58] delucis commented on #681
Are you writing Typescript or JavaScript? The `import { StorageAPI } from 'boardgame.io'` is Typescript specific, so that might be the problem? All tests pass for the firebase connector and I have used it in production.

[2020-05-11 22:04] pociej commented on #681
Im writing Typescript, and while i can import anything i want from boardgame.io, `StorageAPI` is undefined. Where it is exported? because 1) It throws me undefined error 2) i went through whole code base and i didnt see any export that gives access to `StorageAPI`.

[2020-05-11 22:38] delucis commented on #681
The export is here and aliased via the “types” field in `package.json`:

https://github.com/nicolodavis/boardgame.io/blob/f83c4f6c5618fce437dddba3c42158914b6686fb/src/types.ts#L10

These were released in v0.39.3 and as far as I can tell, are still available, so not sure exactly why you’re seeing `undefined`. Could you provide more debugging info (platform, global package installs, package versions

[2020-05-12 01:24] nicolodavis commented on #679
If it's a very simple implementation that just hydrates the in-memory store on page load and then persists it in localstorage when an action is made, we could also just extend the current `Local` implementation to accept a `persist: true` option that does this behind the scenes without creating a new storage adapter.

[2020-05-12 08:37] pociej commented on #681
Yes @delucis im able to import other types. To make sure it is not related to my project config i created one file npm package that contains two lines of code
[code]
in file `index.ts`.

First strange thing is that after `tsc index.ts ` and `node index.js` i had to manuall install `react`.
 Anyways, after intalled it stopped screaming for react but instead throws error that `Cannot read property A

[2020-05-12 08:59] jabza commented on #680
Hey @delucis

Thanks for the reply.

In haste, I ended up taking a more low-level approach. I created a new StorageAPI.Async db class that includes EventEmitter, effectively acting as a 'man-in-the-middle'. This is great for me, but I've no idea if this a solution wanted for master.

Cheers

[2020-05-12 09:20] delucis commented on #681
Thanks — still not sure of the cause but I’m sure we’ll figure it out eventually! 😅

A couple of additional things might help diagnose this:
- Run `npm list -g --depth=0` to check if any _global_ installs could be conflicting (e.g. older versions of Typescript etc.)
- A reproduction repository we could test locally or on CodeSandbox

[2020-05-12 09:34] pociej commented on #681
@delucis
Nothing in global

[code]
reproduction repo : https://github.com/pociej/bgio-storageapi-problem

[2020-05-12 09:35] MathieuLoutre commented on #609
I tried a couple solutions, including a homebrewed Player plugin which had the API I required but it really made accessing the data on the client convoluted and the setting of the data didn't seem to matter (even in the current implementation of the PlayerPlugin) because the state was being polluted when modified even if not set (say a move was returned as invalid before).

Additionally, because t

[2020-05-12 10:05] MathieuLoutre opened #686 "Custom Log Messages"
The built in log is great but only logs the moves made. Some moves have random consequences (following a dice roll for instance) but there's now way to know that as it's calculated by the game and not sent from the client.

Is there a way to modify the log associated to a move and add whether it's been successful or not, or add arbitrary data to it?

Right now, I have to build in my own log to dis

[2020-05-12 10:18] MathieuLoutre opened #687 "Discard changes to G if a move is invalid"
Immer is super handy when making complex changes in a move rather than using immutable update patterns in a deep nested object. However, I have a few occasions when I'd like to discard some changes I've made if it turns out the move is invalid.

For instance, when a card is played in a particular way, a corresponding token is put on the board in a starting space and then is moved to another space

[2020-05-12 11:21] nicolodavis commented on #687
I haven't found a good solution to this either. Does making the changes in a copy of `G` work? You can use that to check if the move is invalid and then copy it over the the original if you want the move to proceed.

[2020-05-12 11:22] #683 closed

[2020-05-12 11:23] nicolodavis commented on #670
I agree.

[2020-05-12 11:35] MathieuLoutre commented on #687
I did try to make a copy of G like so `const draftG = { ...G }` and making the changes to `draftG` but I still get an error. Could be I'm doing something wrong somewhere else, but my impression was that the underlying objects are still being proxied by Immer. Might be worth doing a reduced test case?

Could also be something to bring up with the folks over at Immer? It might not fit the use cases

[2020-05-12 14:42] delucis commented on #687
I think Immer’s `nothing` is used if you want to reset your state to `undefined` (which returning `undefined` won’t do, nor assigning `state = undefined`) ([docs](https://immerjs.github.io/immer/docs/return#producing-undefined-using-nothing)).

Could the problem with `const draftG = { ...G }` be nested object references? It’s more expensive but maybe some kind of deep copying could work or do prox

[2020-05-12 15:17] MathieuLoutre commented on #687
@delucis definitely something to do with the nesting for the draftG idea. Might be worth a try but I think I like your suggested approach better. As you say, you can return `INVALID_MOVE` at any point and that's very handy.

I did try their `original` function but inside the move but no luck. Doing it as you suggest would solve that issue brilliantly!

[2020-05-12 15:18] delucis commented on #681
Hi @pociej — thanks for your patience with this and the reproduction.

Banged my head against a few walls, but I do now understand 🙌

You can `import { StorageAPI } from 'boardgame.io'` and this works in your repo too. **_BUT_** (and I should have realised this sooner) these are **_just the types_**. So this is useful to type things in an implementation with `StorageAPI.CreateGameOpts` etc., but d

[2020-05-12 15:20] delucis commented on #680
Nice! I actually thought about something like that too — glad it’s working for you for now.

[2020-05-12 15:26] delucis commented on #687
Well, it’s also very possible I’ve misunderstood what `original` does 😅

If it is theoretically sound, we would have to update [the immer plugin](https://github.com/nicolodavis/boardgame.io/blob/master/src/plugins/plugin-immer.ts) and figure out a way to flag to outside code that the move was invalid. Currently the reducer checks the return to bail out of events etc.:

https://github.com/nicolodav

[2020-05-12 16:54] pociej commented on #681
Ech what can i say. Thx a lot @delucis You are right and that should be obvious for me :/ My excuse is that it is my first time with typescript.  Anyways, in regards to your question about release, that depends on decision we have to make here : https://github.com/nicolodavis/boardgame.io/issues/679. If as @nicolodavis  suggested i can create PR to main repo then its not needed, otherwise yeah, re

[2020-05-12 16:57] delucis commented on #681
Wasn’t obvious to me, so no reason it should be obvious to you either! :-D

I agree that a Local Storage implementation could be reasonably maintained within the project as suggested — it’s a simple enough and standard enough API — so we can continue discussion in #679. :+1:

[2020-05-12 19:08] pociej commented on #679
ok @nicolodavis @delucis i have this created as separated storage so it wont be big job change conception and make it part of main repo.Tomorrow will make PR.

[2020-05-14 04:51] #687 closed

[2020-05-15 12:29] ugobrunet opened #692 "SocketIO Server based game for solo player games"
I am working on a Socket Server based game that can be played by many players or by a solo player (it's a collaborative ordering card game).
Based on src/lobby/react.js line 185, Socket Server only work for at least 2 players games. So when someone create a 1 player room, the state of the game is not store remotely.

Also the behaviour of solo Local game seems to be buggy on my project because the

[2020-05-15 15:43] delucis opened #693 "feat: Use authenticateCredentials in Lobby API endpoints"
Currently the server supports options for custom `generateCredentials` and `authenticateCredentials` methods ([docs](https://boardgame.io/documentation/#/api/Server?id=with-custom-authentication)).

`generateCredentials` is used [when a player joins a match](https://github.com/nicolodavis/boardgame.io/blob/cfeaf6781be9fdc11f6a489dded29faca95b9395/src/server/api.ts#L197-L198), permitting for exampl

[2020-05-15 16:53] ugobrunet commented on #692
Update: I find it weird that the ClientFactory constructor on line 202 of src/lobby/react.js is called without a numPlayers value. Maybe I misunderstood something

[2020-05-15 17:32] jabza opened #694 "FlatFile save corruption "..does not look like a valid storage file ...FSReqCallback.readFileAfterClose ""
Hi,

I'm using the FlatFile storage solution for bgio, and every so often a saved file will get corrupt giving the following error:
[code]

Upon inspecting the file, I can see it is no longer valid JSON. It looks like node-persist does not perform file-locking. Which, even though node is single-threaded, is still an issue. As it is possible for multiple asynchronous writes to occur. This is a limi

[2020-05-15 20:03] pociej opened #695 "Dynamic setup"
Let say i have a game that could have many setups and expected setup is stored outside and should be loaded into game. As example lets say i have card game for 4 players where i want to have control of cards distribution. So there is big set of possible distribution but i want to be able  to write client side.

[code]

and then serverside have something like this :

[code]
where Game is not an obj

[2020-05-16 09:48] pociej opened #697 "Current stage not accessible"
I used to use `phases` and now im trying to migrate to newest, i replaced phases by stages, but now im unable to read current stage. Phase field is presented in ctx object by stage is not. How then one can know what is current stage? I understand that moret han one player can be in given stage but its esential to be able to know if given player is in given stage when rendering game board.

[2020-05-16 10:00] delucis commented on #697
This is available in `ctx.activePlayers`, which will either be `null` (no-one is in a stage) or a map of player IDs to stage names, e.g. `{ '1': 'stage-name' }`.

[2020-05-16 10:00] #697 closed

[2020-05-16 10:25] pociej commented on #697
Problem is that it is always null. I see no way to have game setup that says what is start stage for player, and also even after manual call `events.setActivePlayers(['0'])` it stays null.

[2020-05-16 11:10] delucis commented on #697
Where are you calling `setActivePlayers`? You can initialise the stages at the start of the turn using `turn.activePlayers` as described [here](https://boardgame.io/documentation/#/stages?id=configuring-active-players-at-the-beginning-of-a-turn).

[2020-05-16 12:39] delucis commented on #694
Thanks for the report. This seems to be an instance of https://github.com/simonlast/node-persist/issues/108.

We’re not tied to `node-persist` if there’s a better option out there? Otherwise, if you think your changes improve things most of the time, perhaps we can patch the current implementation for now? Care to open a PR?

[2020-05-16 13:19] pociej commented on #697
Okay if setup `turn.activePlayers` like this i see what should be there btu still events dosnt work. I can call `setActivePlayers` or `endStage` nothing happened.

[2020-05-16 14:14] cynnfx commented on #692
Hey I have the same issue i want to create a 2+ player game (server socket.io) but the client's (react-native) ctx.numPlayers keep always 2 despite the numPlayers configuration at Client call

If manage to force it in Flow return in dist/boardgame.io.js line 1897.

I can misunderstood something too, I am using the proper way ?

[2020-05-16 17:08] ugobrunet commented on #692
Not exactly the same for me. Mine is a 1+ player game. It's working fine with 2+ player, but 1 player always end up in a 2 player game (played locally I guess).
Any idea?

[2020-05-16 18:21] jabza commented on #694
@delucis No problem, I've created the PR

[2020-05-17 16:31] evandroabukamel opened #700 "Problem on checking stateID on Socket.IO update action"
Well, I'm developing a mobile game using this library and during my tests using an external tool I found out that there's an strict comparrison for `stateID` on socketio.ts and that's causing some issues.

The problem is that some tools send raw values as string and the `stateID` value is stored as an integer on the game state so thas causes the follwing error when I send an update action:

`ERROR

[2020-05-17 16:49] evandroabukamel commented on #700
That's strange because the same thing didn't happen for playerID.

[2020-05-17 21:47] #694 closed

[2020-05-17 21:54] delucis commented on #700
Hi @evandroabukamel, thanks for the report! When you say “some tools send raw values as string” which tools are these exactly? We could add some type coercion here (with `parseInt` or something), but if this is being caused by bad external input, it might be better to fix the input if possible.

[2020-05-17 22:14] evandroabukamel commented on #700
Hi, @delucis . Well, I'm using the (Firecamp)[https://firecamp.io/docs/rtc/socket-io/emitters/] tool to test the websocket, it helps a lot. I tried the parseInt on the code and it worked for me.
Now, I'm trying to use typed parameters to see if that solves to problem too.

I believe that won't be a problem during the client implementation as we can pass typed parameters.

[2020-05-17 22:20] delucis commented on #700
Ah, OK. And Firecamp won’t allow you to send numbers?

From a quick look I’d imagine emitting something like `{ "stateID": 9 }` should keep the correct type.

Out of curiosity, what are you building the client with?

[2020-05-17 22:34] evandroabukamel commented on #700
Yeah, Firecamp doesn't allow us to send numbers, I just opened a issue on their repository.
I tried `{ "stateID": 9 }``, it didn't worked.
Our client is being built with Flutter, not by me. I think we can send typed parameters there.
So, let's keep this on stand-by to see if someone at Firecamp responds.
I'm goona write some code to test the websockets.

[2020-05-17 23:00] delucis commented on #700
Oh, great — I’d be curious to see the Flutter client if it’s open source.

I’ll close this for now. Feel free to re-open if you feel the need.

[2020-05-17 23:00] #700 closed

[2020-05-18 10:14] cynnfx opened #702 "Multiplayer ctx.Numplayers stay at 2 ReactNative + Server"
Hi first thank's for this awesome work!

I'm currently work on a little game with a react-native client. I've made a couple request to the lobby first to know the gameID, playerID and numPlayers. Then I call the client this way :

`      const App = Client({
        game: game,
        numPlayers: numPlayer,
        board: board,
        multiplayer: SocketIO({ ... }),
      })
`

` <App gameID={g

[2020-05-18 10:20] cynnfx commented on #692
Ok didn't try with 1 player cause my game isn't designed for it, I've opened an issue for my answer,

[2020-05-18 10:41] delucis commented on #665
This will be released in 0.40.0

[2020-05-18 10:41] #665 closed

[2020-05-18 10:51] delucis commented on #702
Hey @cynnfx! How are you creating the game?

If you’re using the Lobby REST API, you need to set `numPlayers` in the body of your create request. Docs: https://boardgame.io/documentation/#/api/Lobby?id=creating-a-room

For example, using the Fetch API from a browser:

[code]

[2020-05-18 10:55] cynnfx commented on #702
Yes i do a post request to : /games/game/create with body

`{
	"numPlayers": x
}`

and the lobby seems to handle it proprely because i can list rooms and the number of player slot is good

[2020-05-18 10:59] adngdb opened #703 "[API, Lobby] Standardize "room" and "game" terms to "match""
As part of #665 we discovered that, in the Lobby and API, "rooms" where sometimes called "games". Upon discussing how to standardize that, we agreed that renaming to "match" was the correct move, as it makes more sense, and is also used in other similar tools.

This issue covers:
- removing all instances of `room`, `roomID`, `game` and `gameID` from the Lobby and API;
- replacing them with either

[2020-05-18 11:00] adngdb commented on #703
(Feel free to assign me to this, I'll be working on it shortly. )

[2020-05-18 12:54] mariadb-zdraganov commented on #277
I can contribute on that.

[2020-05-18 13:13] delucis commented on #702
Hmm, interesting! Do you also see the incorrect `numPlayers` in the game state initialised by the server?

For example, if you add something like this as your game setup function:

[code]

Do you see the correct value in your server logs?

[2020-05-18 20:32] adngdb commented on #703
PR: https://github.com/nicolodavis/boardgame.io/pull/704

[2020-05-20 20:48] delucis opened #707 "Export types for Lobby API data"
It would be good to define types for the data returned by the Lobby API endpoints. This will be helpful for people refactoring after the 0.40.0 changes and will also help internally to keep the REST API and client code in sync.

[2020-05-21 02:46] nicolodavis commented on #686
There used to be a mechanism to add arbitrary payloads to log messages but I think it got lost after we migrated to a new plugin architecture.  Do you think something like this would be helpful?

[code]

[2020-05-21 02:48] nicolodavis commented on #628
@will-hart Sorry, I missed this. Will take some time to digest this and get back to you.