[2017-11-27 00:25] nicolodavis opened #1 "Game Log"

[2017-11-27 00:26] nicolodavis opened #2 "React component for cards"

[2017-11-28 07:47] #1 closed

[2017-11-28 08:07] nicolodavis opened #4 "Change color of box next to move in GameLog based on the player that made the move"

[2017-11-29 05:14] nicolodavis opened #5 "Allow hide / show for the Debug UI via a keyboard shortcut"

[2017-11-29 05:23] nicolodavis opened #6 "Storage"
Games are currently held in an in-memory object, but should be persisted in either a MongoDB or Firebase instance. Options for other backends should also be possible.

TODO:
- [ ] Mongo support
- [x] Firebase support
- [x] Postgres support

[2017-11-30 00:19] tolmar opened #7 "Add a generic game AI"
It's almost possible to write a generic AI using the existing framework, but there are two problems:

1. There's no way to enumerate legal moves. The ability to pass arbitrary arguments to the moves functions makes for some trouble here. Also the Tic Tac Toe example handles illegal moves by doing nothing, which is ergonomic, but the framework doesn't know it happened.
2. The framework doesn't know

[2017-11-30 00:33] tolmar commented on #7
The easiest way to enumerate would be to add an optional "enumerateMoves" function to the Game constructor but this puts a lot of work on the user's plate. I think some sort of "these are the ranges of legal values for the arguments" system would be easier, along with letting moves return errors for conditionally illegal moves. (Checking a move then returning an error is slower and thus a generic

[2017-11-30 00:43] tolmar commented on #7
For the actual AI portion I was thinking:

1. Do a generic tree search
2. Break ties randomly
3. Allow an optional heuristic function that scores the value of a non-winning board

It'll be embarrassingly bad if no heuristic function is specified, but still playable enough to debug a game. And there are relatively simple heuristics that can beat most humans at chess with a small search tree.

[2017-11-30 02:47] nicolodavis commented on #7
An optional extra function to implement sounds quite reasonable:

Something like:
(gamestate) => list of next move types with arg ranges
perhaps?

In fact, given that END_TURN can just be treated like just another move, it would fit right in.

Example:
(G) => ({
  TAKE_CARD: [list of card ids in G.board],
  PLAY_CARD: [list of card ids in G.hand],
  END_TURN: []
})

The user could optionally provi

[2017-11-30 03:31] tolmar commented on #7
(G) => List of move types and arg ranges seems reasonable.

Since moves take an argument list, arg ranges need to be a list of lists. Chess example:
(G) => ({
MOVE_PIECE: [["a", 2, "a", 3], ["a", 2, "a", 4], ["b", 2, "b", 3] ... ]
})

Discarding illegal moves tends to be tricky and error prone, I think it's still worth adding that to the move function (it can be handy for clients too). That could

[2017-11-30 03:37] tolmar commented on #7
Some games allow passing (Go), some require exactly one move (Chess), some allow a variable number of moves and passing (Magic), Arimaa requires 1 to 4 moves.

[2017-11-30 06:33] nicolodavis commented on #7
re: handling illegal moves

The main reason that I chose to go the current route is because that's how [Redux](https://redux.js.org/docs/basics/Reducers.html) does it, and it's a paradigm that developers are familiar with (i.e. always returning state).

I'm not opposed to changing the paradigm if there is a good reason to do so, though. Let's give it a try. I'll take this as an action item for mys

[2017-12-01 01:45] nicolodavis commented on #7
I've started a branch [ai](https://github.com/google/boardgame.io/tree/ai) that implements the invalid move logic we talked about.

Whenever you're ready, send me a PR to add stuff to this branch with the AI code.

[2017-12-17 13:35] coderwurst commented on #4
Hi @nicolodavis, I seen your post on r/boardgames and thought I could take a look. As I have not yet contributed to anything open source before, I would be interested in looking at this as a first task!

[2017-12-17 15:14] nicolodavis commented on #4
Please do. Looking forward to your contribution :)

[2017-12-17 17:17] Jonovono opened #8 "React Native?"
This looks awesome! Has this been used in React native?

[2017-12-17 18:09] xhroot opened #9 "Tic-tac-toe demo counts subsequent clicks on filled cells as turns"
It appears that either player's turn is skipped if they click on a filled cell.  Debug sidebar shows `turn` increments.  Looks like this is checked in https://github.com/google/boardgame.io/blob/master/examples/tic-tac-toe/tic-tac-toe.js#L81 so I'm not sure what's up.

Repro:
* Go to https://google.github.io/boardgame.io/react/example-2.html
* click cell 0
* click cell 0
* click cell 1
* click cel

[2017-12-17 18:48] Felizardo commented on #7
Hi! I just heard about your project on HackerNews and it is very similar of what I was trying to do with this project: https://github.com/Felizardo/turnato turnato.com

Anyhow, after I launched the first chess and checkers on the website I saw that most people wanted single player option... So I was starting from scratch to have an API compatible with MDPs (Markov decision process) as I want to im

[2017-12-17 19:12] saeidalidadi opened #10 "Error when installing package"
I got this installation error.

## command
 `npm install --save boardgame.io`

## log
[code]

## Env

node.js 8.9.3
Linux Ubuntu 16.0.4

[2017-12-17 20:27] saeidalidadi commented on #10
I fixed this issue, but I could not run tests and I will report new one for that.

[2017-12-17 20:45] leeallen337 commented on #9
I think I have a fix for this issue in this pull request: https://github.com/google/boardgame.io/pull/12

[2017-12-17 21:22] #10 closed

[2017-12-17 21:30] saeidalidadi opened #14 "Test doesn't work for multi environment of node like nvm"
I am using `nvm` for node version management.
and have issue when running tests.
So I have fixed it and will create a PR for that

[2017-12-17 21:40] abramz commented on #10
@saeidalidadi how? would be nice for people searching (like me)

[2017-12-17 21:55] abramz commented on #10
can you bump the npm version @nicolodavis, this is still happening when trying to install

[2017-12-17 21:59] nicolodavis commented on #10
Done. Can you check now?

[2017-12-17 22:01] abramz commented on #10
It works now, thanks, @nicolodavis! this is really cool btw

[2017-12-17 22:03] ryanschneider opened #16 "Secret state?"
I'm curious if you've thought about how to handle secret state like a deck to draw from and players hands?  Perhaps using key pairs to encrypt/decrypt the state?  For a deck, this would require a trusted server component that can decrypt, deal, and re-encrypt the deck state, but feels like an approach that works.

I planned on using such an approach for a game I wanted to make using Firebase but n

[2017-12-17 22:03] nicolodavis commented on #10
Lots of work to be done before it's ready for v1.0, but we'll get there!

[2017-12-17 22:10] saeidalidadi opened #17 "Node cannot find server file from packages"
I got `Node` module resolving error as bellow:

[code]

[2017-12-18 00:26] nicolodavis commented on #14
Thanks for the fix, Saeid! Closing this now that #15 is merged.

[2017-12-18 00:26] #14 closed

[2017-12-18 00:27] amerine opened #18 "domain name"
Hello! I'm the current registrant of the boardgame.io domain. I had grand plans of doing something vaguely similar to this a couple years ago, but it went the way most ideas do... 🚮

The domain is yours, if you want.

--mark

[2017-12-18 00:30] nicolodavis commented on #18
Thank you so much for offering :) How do we transfer it?

[2017-12-18 00:35] amerine commented on #18
The absolute easiest way for me would be to transfer it to another dnsimple account. Anything else is/would be a normal domain transfer. If you'd like to do a normal transfer I can unlock it and get authorization code in the hands of someone via a secure medium.

Let me know what you/the project would like to do.

[2017-12-18 00:57] nicolodavis commented on #18
Let's do a normal domain transfer. You can send me details at nicolodavis@gmail.com.

Thanks again, Mark!

[2017-12-18 03:01] w74 commented on #6
Do we have a server for this already? Furthermore, we should consider creating a "library" of games people have made.

[2017-12-18 03:04] xiaoyuhen commented on #17
same problem

[2017-12-18 05:00] w74 commented on #18
@amerine that's super cool of you to do that!

[2017-12-18 05:51] nicolodavis commented on #6
All the server code lives in src/server. Games aren't persisted yet, but I plan to add support for various backends.

[2017-12-18 05:53] nicolodavis commented on #6
I'll link to any games people make on the main README page once that happens. We haven't reached 1.0 yet so I would imagine that people will start using this more widely once the API is stable.

[2017-12-18 05:59] nicolodavis commented on #16
Very good question.

This wasn't really on the roadmap for v1.0, but I think we should prioritize it. Maybe just have all secret information only on the server? A deck of cards could just show how many cards there are on the client (it doesn't really need anything else in order to render the deck).

I don't see the value in encryption for this use case.

[2017-12-18 06:08] a3qz commented on #16
I have experimented with this a little bit in side projects, and the only approach to this that has seemed feasible to me other than "trust your players not to dig into the javascript on your site to cheat" is to, in multiplayer, assign each instance a unique identity and for items such as player's hands and the deck in card games, let the server handle what each player is given/can see.

This lib

[2017-12-18 06:59] nicolodavis commented on #17
Actually, this was broken by https://github.com/google/boardgame.io/pull/11 :) Sorry, approved that rather absent mindedly.

[2017-12-18 07:07] nicolodavis commented on #17
Should be fixed by #13

[2017-12-18 07:31] micksatana opened #19 "Add prepush and precommit scripts to keep code quality high"
Idea is to force run lint and test coverage before contributor runs `git push` and `git commit` to keep code quality high.

Please see the code, if interested I'll create a PR.
https://github.com/micksatana/boardgame.io/commit/987020ee17753d23ed4bf0fa55a69274af7f6fec

[2017-12-18 07:32] tolmar commented on #7
I haven't had nearly the amount of free time I expected myself to have; feel free to steal any AI work from me.

I can think of two ways to handle random options:
- Make moves return a list of (weight, state) pairs. This changes the API in a way that's less ergonomic for other games, so you'd want to make it a flag (maybe by attaching a specific Symbol to the result?).  It's still not the most nat

[2017-12-18 10:13] justrag commented on #7
How about adding support for move-validating function, shared between server and client? Proposed move as an argument, and the `{legal: false, text: "Why you cannot make this move"}` as a result. This way you can use it for the UI, and blocking cheating attempts at server level.

[2017-12-18 10:44] lookapanda opened #22 "SSR: Server-Side Rendering"
Hello,

I'm currently trying to use boardgame.io together with next.js.
Because the `Server` part exports a Koa server, I went with this example to create a basic project:
https://github.com/zeit/next.js/tree/canary/examples/custom-server-koa

However, when I run the code, I get a `window is not defined` error.
So I did some research and it's of course because Next.js is SSR and the `Client` compo

[2017-12-18 15:11] rgfoley opened #23 "Allow certain state to be marked as non-replicated"
When dealing with multiplayer games, it may be wise to allow a developer to mark certain state as "client-specific". An example of this could be something like a game of Battleship where, while multiplayer, the only party with full knowledge of the state should be the server.

While you can just use code on the client to hide certain aspects of the state (such as only showing the client's own boar

[2017-12-18 15:50] ryanschneider commented on #16
So, IMO, the main value of encryption is that the same state can continue to be seen and replicated by all parties, but the private parts would only be visible by those who have access.

Imagine this state object for a game of heads up Texas Holdem:

[code]

And then imagine a pure transform function `D(State, Keys...)` that decrypts `encrypted_contents` when it's valid for one of the keys passed

[2017-12-18 16:31] amerine commented on #18
I emailed the authorization code to Nicolo this morning.

Enjoy the domain, boardgame.io team

[2017-12-18 16:31] #18 closed

[2017-12-18 19:33] nicolodavis commented on #19
Sounds good!

[2017-12-18 20:16] saeidalidadi commented on #6
I think writing a connector class for the reducer would be a better idea, so people could add their own `odm` or `orms`.

[2017-12-18 20:17] nicolodavis commented on #6
Yes, this is the idea I had too, to make it extensible so that we're not limited to just the backends that come supported out of the box.

[2017-12-18 20:54] saeidalidadi commented on #6
If you have the `usage` signature or `api` of the connector I will be happy to write the tests of that requirements.

[2017-12-18 20:57] nicolodavis commented on #8
React Native is outside scope at the moment until Facebook re-licenses it under MIT like they did for React here: https://code.facebook.com/posts/300798627056246/relicensing-react-jest-flow-and-immutable-js/

In the meantime, feel free to create a separate repo for React Native support. Happy to provide advice. The hope is that we'll have many different client implementations (React, Vue, React Na

[2017-12-18 20:57] #8 closed

[2017-12-18 21:05] nicolodavis commented on #6
I was just thinking of adding a DB section to the server constructor:

[code]

Provided connectors can be used like:

[code]

[2017-12-18 21:10] saeidalidadi opened #24 "How would be to have the example with two different players as two browser tabs?"

[2017-12-18 21:16] rgfoley commented on #16
This seems really similar to the issue I submitted ( #23 ), so I guess I'll just share my opinion here. I think cryptography is overkill for the intended use-case. I think for most games, showing the client only the information it needs to know is a more accurate abstraction than cryptography.

As far as philosophy goes, I believe that for most multiplayer games the client state is essentially jus

[2017-12-18 21:20] saeidalidadi commented on #6
There is a use case which data  could be on multiple stores like `redis` or `mongo`. does this solution works for that case?

[2017-12-18 21:24] nicolodavis commented on #6
Let's make `db` an array then:

[code]

where the onAction handlers are called in the order they are defined.

[2017-12-18 21:29] saeidalidadi commented on #6
This is cool and has more benefits

[2017-12-18 21:36] a3qz commented on #16
I agree with @rgfoley, for the intended use case, an implementation of encryption would add overhead and complexity when really that kind of data is better off staying in an "authoritative source" and letting the server handle things that the player should not have access to.

In theory in a symmetric game with hidden areas, what the players have in their states would still follow the same structu

[2017-12-18 21:49] saeidalidadi commented on #6
Is it possible to use `redux-saga` middleware?

[2017-12-18 23:11] Felizardo commented on #7
@justrag Then you are just delegating the responsibility to know what are the possible moves (the input of this function) to the UI. Which is not great as it is part of the rules of the game.

And any AI algorithm will need a list of possible moves, and if there is a non-deterministic factor (a dice), it will also need the probability for each new state that can happen (rolled 1, rolled 2, rolled

[2017-12-18 23:14] Felizardo commented on #7
@tolmar I agree that adding weights would be less ergonomic to other users, which is not what we want. However, I think we can use flags like you said and assume if the person does not provide an weight, it is 100% of probability (which is deterministic).

I am going to familiarize myself a little bit more with the current API and propose changes later.

[2017-12-19 00:07] philihp commented on #7
++ to adding some standard way of enumerating legal moves given a state of the game. It's not going to be practical to have a tree search try all possible moves including illegal ones; the state space will blow up after only two or three levels of depth.

[2017-12-19 01:42] nicolodavis commented on #22
Hello! I'm not familiar with the details of next.js, so will have to do some reading before I can help.

To give you some immediate thoughts, the only component that uses `window` is `Mousetrap`, the library that I use to handle keyboard events, so try isolating code in src/client/debug/debug.js that uses it. Will look closer and help you with this when I have more time on the weekend.

[2017-12-19 01:52] nicolodavis commented on #24
You mean show each player controls / state that are relevant only to them?

Currently it's up to the game designer how they want to determine the "current player". The library doesn't have built-in support for a user account system (yet), so they have to decide how they want to map their notion of the logged in user to the current player.

Once they have this mapping, it's quite easy to make the b

[2017-12-19 04:03] arakholia opened #26 "Demo without game logic"
Any thoughts about creating a demo which doesn't enforce any game logic? I'm essentially imagining a playground-style app which provides non-programmers the tools to create custom assets (cards, tokens, background images for boards) to form a library for a game. The app then is only responsible for synchronizing gamestate, both public and private (as per #16), as well as a few generic actions (tok

[2017-12-19 04:15] nicolodavis commented on #26
You can certainly model all the interactions with the tokens on the board as "moves".

For example:
1. Move card from deck to hand.
2. Move card from hand to board.
3. etc.

None of these do anything more than just simulate movements on the board. These movements get synchronized with other clients over the network, and no game logic is enforced because you didn't code any.

[2017-12-19 05:01] nicolodavis commented on #6
We could definitely look into redux-saga, but I would prefer to start simple and only use it if necessary.

I've created a simple interface for storage with just `get` and `set`. We can add support for something like Mongo or Redis to start.

[2017-12-19 05:12] #19 closed

[2017-12-19 05:29] justrag commented on #7
@Felizardo I actually meant a function that was being used *both* in client and server: for the UI to visualize possible moves and for the server before applying reducer.

[2017-12-19 06:22] saeidalidadi commented on #6
I think Mongo will be simple for start, as Redis is a key-value and working with arrays and objects need more handlings

[2017-12-19 06:32] saeidalidadi opened #28 "handling jobs and timeouts"
Some games need moving time outs and scheduled tasks to be done.

[2017-12-19 07:33] kkoch986 opened #29 "hook for endTurn"
would be cool to be able to define a hook for when endTurn is called to clean up some state in between turns.

maybe im not approaching it correctly so feel free to tell if thats the case. A simple example would be having dice. if i store the current value of the dice in the game state, when the turn is over id like to be able to null out the current dice numbers so the UI knows its time to re-rol

[2017-12-19 07:37] GlukKazan commented on #7
Hi

I'm doing a similar project: https://glukkazan.github.io/
One of the difficulties in developing is the AI.
I have implementations of UCT https://github.com/GlukKazan/Dagaz/blob/master/src/debug/kernel/controller/ai/uct-ai.js
and alpha-beta pruning https://github.com/GlukKazan/Dagaz/blob/master/src/debug/kernel/controller/ai/ab-ai.js
These algorithms work in simple games such as Kono https://gl

[2017-12-19 07:39] Felizardo commented on #29
I think this is already implemented here:
https://github.com/google/boardgame.io/blob/master/src/both/reducer.js#L54

Which means that if one of your moves is 'END_TURN', this move will be executed before doing the rest of the end turn calculations...

[2017-12-19 11:42] ahmetoz opened #30 "npm package problem - node v6.10.1"
I'm not sure if this is an error but npm package does not works on node v6.10.1. (windows 10)

And thank you for this awesome framework. 👍

[code]

[2017-12-19 15:10] kkoch986 commented on #29
yea sorry i should have picked through the code a bit more.

Looking at it more though its already provided and they dont expose a way to easily set it (https://github.com/google/boardgame.io/blob/master/src/both/game.js#L43-L58)

what i did realize though after looking at that code is implementing the following move would accomplish what i want:

[code]

its not super pretty because it still show

[2017-12-19 15:10] #29 closed

[2017-12-19 15:54] saeidalidadi commented on #24
I mean just to have an example as a way that players after connecting to the server of current example so they could be as:
1. Host: number of connections  = odd
2. Guest: number of connections = even

so we can manage players on a demo server
also we can add some features like `moving timeouts`  and persist data for test cases.

[2017-12-19 16:22] pedromdias opened #31 "Moves documentation linked but not written"
The [Client](https://google.github.io/boardgame.io/#/api/Client) links to the [Moves](https://google.github.io/boardgame.io/#/api/Moves) documentation but that page seems to not be implement as it simply states 'not found'

[2017-12-19 16:44] mallochine opened #32 "Q: can this be used to implement a game like bughouse"
Just a question. EOM.

[2017-12-19 17:13] w74 commented on #6
I do think that Mongo would be a bit better for board games as each individual player's "possessions" aren't always similar.

[2017-12-19 17:16] w74 commented on #16
i say having "hidden" information is important (especially if we want demos as hidden role games are the easiest to program) but crypto is a little too much.

[2017-12-19 18:06] nicolodavis commented on #31
Thanks for the report. Will fix.

[2017-12-19 18:09] nicolodavis commented on #32
Are turns in bughouse made in a certain order?

[2017-12-19 20:15] Kinrany commented on #16
It would be nice to separate the game logic from the visibility logic.

Maybe you could use something like GraphQL to specify the part of the game state that is available to each player?

[2017-12-19 21:41] mallochine commented on #32
bughouse is two-board chess, 4-player game.

[2017-12-19 22:01] ChargerIIC commented on #30
I seem to be receiving the same error. I got this on Windows 10, executed via PowerShell on NPM 5.6.0:

'ln' is not recognized as an internal or external command,
operable program or batch file.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.1.2 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.2: wanted {"os":"darwin","arch":"

[2017-12-19 22:03] nicolodavis commented on #30
This should be fixed by #13

[2017-12-19 22:29] saeidalidadi commented on #32
@mallochine Yes, if the game is a turn based. it means that while one is playing others are waiting.

[2017-12-20 01:41] jmcshane commented on #16
I want to echo @rgfoley as I research how to use this library to implement a couple specific games I am interested in testing out. It would be great to have the game object have "client" plugins and "server" plugins to the game object, where the client plugin data goes to the browser based on a matching playerId of some sort and the server plugin data does not appear to any user.

I'm definitely i

[2017-12-20 04:31] nicolodavis commented on #31
This is now fixed.

[2017-12-20 04:31] #31 closed

[2017-12-20 04:56] nicolodavis commented on #16
Some great ideas in here. Thanks for the discussion, guys!

Let's start with something simple, and expand from there as we see use-cases that need them. There are two parts to what needs to happen for this feature to become a reality:

## 1. Make the client-side code aware of who the current player is

A simple prop to the returned React component on the client will do. In reality, the notion of a

[2017-12-20 05:00] nicolodavis commented on #32
The current turn model is a round-robin, which works for many games, but not all. If players in bughouse can take a turn "whenever they are ready", and not following a particular order, the current library as it stands will not support this use-case well.

We have plans to make the turn model extensible, so game authors can plug their own logic to how the turn passes between players, so games that

[2017-12-20 05:01] #32 closed

[2017-12-20 05:02] nicolodavis commented on #26
Closing this issue. Feel free to re-open if this doesn't answer your question.

[2017-12-20 05:02] #26 closed

[2017-12-20 05:47] nicolodavis commented on #16
Good point. Actually there isn't a good story for that (yet).

The server currently merely relays information between clients, and doesn't really do much more. With #7 and other ideas in this space, we'll eventually need to have the server start being a "player", at which point the model we have here should fit naturally (with the syntax modified suitably).

[2017-12-20 05:54] ryanschneider commented on #16
Maybe just a convention that player 0 is the game itself?  If so maybe call
it clients instead of players, and make the distinction between the server
(which just relays messages), and the “game client” which is client 0 and
has access to the entire client state.

I’m just spitballing I’m sure much better terms can be decided on.

On Tue, Dec 19, 2017 at 9:47 PM Nicolo John Davis <notifications@gi

[2017-12-20 07:26] Kinrany commented on #16
Three other things:

1. Sharing secret information. Games like Secret Hitler, or something with teams.

2. Fog of war in a game with tiles, like Carcassonne.

3. Would making information public (e.g. player's position on the board) mid-turn work fine?

[2017-12-20 08:05] amitport commented on #16
This is one of the main use-cases I considered for cardforest.com, which was my attempt on making something very similar to boardgame.io (think boardgame.io + stackblitz) (a bit outdated) (not released)

Instead of using redux (which wasn't really a thing when I started), I used a mutable state object that wrapped in a proxy that keeps track of changes (open source at https://github.com/CardForest

[2017-12-20 11:54] kaffeskogen commented on #30
I just pulled the latest version and got a similar result as @ChargerIIC.

`'ln' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! boardgame.io@0.11.4 postinstall: \`ln -s $PWD/packages/ $PWD/node_modules/boardgame.io\`
npm ERR! Exit status 1`

NPM 5.6.0
Node 8.5.0
Windows 10

[2017-12-20 15:07] Felizardo commented on #16
@nicolodavis Definitively we are going to need one "player" to be the game itself. Specially when there is dice, we can model the dice being an action taken by this player.

The only thing to keep in mind, though, is that we shouldn't assume that  this player must live in the server. If the person is playing a single player game, there should be no need to connect to the internet. Specially given

[2017-12-20 15:10] tathyam opened #36 "Google is using react HAHA"
HAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHAHAHAHAHAAHAHAHAAHAHA :) :D

[2017-12-20 15:51] #36 closed

[2017-12-20 18:48] rgfoley commented on #16
I think a good starting point is to acknowledge the server as the golden source of state information for the game at any given time. From there, each player is given some filtered view of the state the corresponds to what they need to know. Using that information, the player dispatches actions that cause the state to change on the server and the cycle continues.

For games like chess, the server v

[2017-12-20 19:05] saeidalidadi commented on #6
I think we doesn't need any database for test. we just want to add an interface to let users of framework add their own async actions in order to fetch state from db

[2017-12-20 19:54] amitport commented on #16
@rgfoley sorry for repeating the shameless plug (last time, I promise), but https://amitport.gitbooks.io/master-class/content/docs/serialization.html is a valid implementation for all the use cases you mention (not perfect, a bit out dated, but worth looking into).

The state object has a `snapshot` method that accepts a `mapper` function. The `mapper` is called on every property in the state obje

[2017-12-21 00:29] mallochine commented on #32
well it's like 2 parallel games of chess.

[2017-12-21 02:27] nicolodavis commented on #16
I think some sort of mapping function (a reducer, essentially) that takes the global state and provides a client specific view makes a lot of sense.

The filtering I suggested above based on the `players` object could be one such reducer that comes bundled with the library. The user is free to implement more complex ones for other game types.

I need to think a bit more about the server as a playe

[2017-12-21 02:46] nicolodavis opened #38 "A "board/dealer" player"
Some moves need to be executed by the board itself (either for clean up or setting up state). This should work seamlessly across single player and multiplayer modes.

In multiplayer mode, the board logic should execute only on the server.

[2017-12-21 03:23] nicolodavis commented on #16
@amitport cardforest looks really neat, btw!

[2017-12-22 00:17] nicolodavis commented on #16
Tracking effort in the space at https://github.com/google/boardgame.io/projects/4 if people are curious about the roadmap.

[2017-12-22 02:49] FateRiddle opened #40 "Option to Setup initial state (G) as a function"
Feature request that `G` takes into account meta data like `numPlayer`.

Currently it seems no way to initialize G with `ctx` as argument.

How about allowing G accept function that returns an object.
[code]

[2017-12-22 02:50] nicolodavis commented on #40
Great idea. Will add it to the list.

[2017-12-22 02:58] FateRiddle commented on #40
Great! One more question that might not qualify as 'issue':

I notes both server and client requires "game rules" file (TicTacToe in example). Typically it is written in ES6, but I think node.js doesn't support es6 import yet? How do I make it work?

[2017-12-22 03:01] nicolodavis commented on #40
Have a look at the package.json file. It uses babel-node as a development server. Alternatively, you could use a module bundler to convert down from ES6 when deploying.

[2017-12-22 06:58] #23 closed

[2017-12-22 08:37] nicolodavis commented on #6
@saeidalidadi Would you be interested in adding Mongo support?

It should be as simple as just implementing another db class that talks to Mongo instead of the in-memory Map. Since this code runs only on the server, there shouldn't be a concern that the reducers are the same on the client and server.

[2017-12-22 14:20] saeidalidadi commented on #6
It would be a pleasure for me to run this task. :+1:

[2017-12-22 19:18] nicolodavis opened #41 "socket isolation"
The current multiplayer code only works fine for a single 2-player game. Small improvements necessary to scale to more players and games:

* **More socket metadata** - The multiplayer code must stop broadcasting state updates, but send individual updates to various connected sockets that must advertise whether they belong to a particular player.

* **Rooms / namespaces** - State updates for a part

[2017-12-22 19:28] saeidalidadi commented on #41
Small improvements based on this consideration that games could be on multiple instances or services(stateless server)

[2017-12-23 02:28] Felizardo commented on #7
Ok, now that we have a way to know if the game is over and who won, we need to tackle the move enumeration. After this we should be able to implement a tree search or minimax.

@nicolodavis I saw that you are returning undefined for all illegal moves on the ai branch, which seems like a good way to leverage the way redux works.

So I am going to implement over the weekend something like was propos

[2017-12-23 17:52] dm67x commented on #30
I have the same problem with npm and yarn. It's a problem with symbolic link, by the way i'm on Ubuntu 16.04 64 bits.

![capture du 2017-12-23 18-51-13](https://user-images.githubusercontent.com/1593334/34321568-744237a6-e812-11e7-8238-8c1053024114.png)

[2017-12-23 18:10] nicolodavis commented on #30
The symlinking seems quite brittle. Will think of a different way to do it that doesn't involve this hack.

[2017-12-23 18:13] nicolodavis commented on #30
For context, the reason the symlink exists is so that the example code can do

[code]

and it imports code from the repo instead of the version on npm (useful for developers to make changes to the library and see it reflected in the example right away).

[2017-12-23 19:08] saeidalidadi commented on #30
The best practice for linking local packages is the private package option as below:
1. Move each file inside a new directory.
2. Add `package.json` with these options.
[code]
3. Run `npm link` form packages.
4. Run `npm link packageName` for each package.

[2017-12-23 22:00] rlesniak commented on #30
Same problem here! Cant install

`npm ERR! boardgame.io@0.13.0 postinstall: ln -s $PWD/packages/ $PWD/node_modules/boardgame.io`

Node: 9.3.0
macOS: 10.13.1

[2017-12-23 22:51] dm67x commented on #30
I have the problem with symlink but the lib working without problem. I have all the files inside my node_modules directory.
![capture du 2017-12-23 23-47-04](https://user-images.githubusercontent.com/1593334/34323148-06485436-e83c-11e7-9a53-8e37fc7974da.png)

I test it with the tutorial code and it seems to work well.
![capture du 2017-12-23 23-48-58](https://user-images.githubusercontent.com/1593

[2017-12-23 23:38] #41 closed

[2017-12-24 05:11] vntrungld commented on #30
I use node v8.9.3 and have this problem too.

[2017-12-24 07:14] nicolodavis commented on #30
I think this should now be resolved.

Can someone that had this problem before verify?

[2017-12-24 07:43] vntrungld commented on #30
Oh! I tried to remove node_modules and `yarn` again, then `yarn add boardgame.io` with no problem

[2017-12-24 07:52] #9 closed

[2017-12-24 10:40] rlesniak commented on #30
@nicolodavis I had and I can verify that 0.13.1 resolves this issue. Thanks! :)

[2017-12-24 16:47] nicolodavis commented on #30
Great!

[2017-12-24 16:47] #30 closed

[2017-12-25 01:51] wishingandwandering1 commented on #40
Having problems someone changing my name to another to collect gifts prizes and deposits

[2017-12-25 04:05] nicolodavis commented on #40
@FateRiddle this is now implemented in 0.14.0

[2017-12-25 04:05] #40 closed

[2017-12-26 02:55] airtoxin opened #45 "Feature Request: Define loser"
Some games have both of winning condition and losing condition, but boardgame.io support winning condition only.

If game have only losing condition, developer can use victory condition to define loser.
Otherwise, may need implementation of new feature.

[2017-12-26 03:03] nicolodavis commented on #45
What's an example? Just want to make sure there isn't too much feature creep (I don't want to add API support for every single game type if it is possible to handle some cases in a custom way using `G`).

[2017-12-26 03:15] airtoxin commented on #45
Yavalath is good example https://boardgamegeek.com/boardgame/33767/yavalath

[2017-12-26 03:25] airtoxin commented on #45
Sorry, I found way to define loser, returning object containing loser's id in victory function.

[code]

But `victory` naming is bit bad :(

[2017-12-26 09:42] FateRiddle opened #46 "localStorages in multiplayer mode are in complete sync. How do I save different identity info?"
I try to make the demo tic-tac-toe truly multiplayer, that is, you can only clickCell on your turn.
So I tried to save `playerId` in `localStorage`, only when `currentPlayer` equals `playerId` can you make a move.
But then I find the `localStorage` in different open tabs are in complete sync. So I wander what do I do, when I need localStorage to save unique information in different tabs.

BTW, nod

[2017-12-26 14:39] mathewthe2 opened #47 "Example Not Synced"
I pulled the latest version today, and it seems that the example tic-tac-toe is not synced across multiple tabs open on local host. I don't think I had this issue with the version last week.

Edit: Seems to work sometimes and other times not. I cannot find the reason or how to reproduce this issue.

[2017-12-26 15:02] #47 closed

[2017-12-26 22:36] nicolodavis commented on #24
We can actually show two different players on the same tab. https://github.com/google/boardgame.io/commit/959a9591ee12ee887c9380e23c2e6b43055207e4 implements this.

I think having a demo server always running is out of scope for the examples at the moment. Once we have some well implemented games, we can link to those and maybe have a demo server running.

[2017-12-26 22:36] #24 closed

[2017-12-26 22:37] nicolodavis commented on #46
https://github.com/google/boardgame.io/commit/959a9591ee12ee887c9380e23c2e6b43055207e4 implements this. Take a look, and feel free to re-open this if you think we should do more.

[2017-12-26 22:37] #46 closed

[2017-12-27 03:53] nicolodavis commented on #45
`victory` is a very familiar concept for most games, and I think it's OK to overload it for cases like this too. Let me know if you need any help or run into other issues while developing Yavalath!

[2017-12-27 03:53] #45 closed

[2017-12-27 04:38] #2 closed

[2017-12-27 04:49] nicolodavis opened #48 "UI toolkit"
Just tracking some ideas planned for the UI toolkit in https://github.com/google/boardgame.io/projects/5

PR's are welcome for items not yet claimed. I'll try to keep the items bite sized (implementable in an hour or less), but some may be larger, and will get broken down once they start getting worked on:

- Generic token (that can be dragged and dropped)
- Generic placeholder (that can receive d

[2017-12-27 05:26] jchristman opened #49 "Ideas Thread"
Didn't see an "Ideas" thread for those of us who are not contributors to the project, so perhaps this can be a place for people to drop in ideas not currently on the [Ideas Project Roadmap](https://github.com/google/boardgame.io/projects/3), and then someone could add them to the Roadmap if they think it's a good idea? I'll start off with a couple of ideas in comments.

[2017-12-27 05:30] jchristman commented on #49
I for one would love to use this to implement a "7 Wonders" type of game. This requires to functionalities that I don't believe currently exist:

1. Non-player "Board" players
2. Asynchronous turns that are executed simulatenously

The non-player "board" is just a way for a game developer to join a client into the game that receives state information to render a board. In the example of "7 Wonders

[2017-12-27 05:32] jchristman commented on #49
On a side note, with how many stars and followers this have, you may have an avid community of developers that are looking to pitch in and help. Perhaps opening of a slack for this may not be a bad idea? Just a thought... Love the work so far!

[2017-12-27 08:25] lionng429 opened #50 "Proper way to sort out the next `currentPlayer` when turn ended?"
the current player should be a function of `ctx` and `game` so it opens up the flexibility to sort out the next current player for different game.

For example:
UNO: reverse card, skip card
Poker: cards have been folded

[code]

[code]

This is the brief idea about the `getCurrentPlayer` function.

It will be even better to integrate with [reselect](https://github.com/reactjs/reselect) that allows

[2017-12-27 16:24] Felizardo commented on #48
Hey @nicolodavis, I started working on chess pieces and board (which might be used by other games like checkers). Would this be welcomed too?

[2017-12-27 16:24] Felizardo commented on #48
I started this because I am porting the code I already had done for turnato to this framework.

[2017-12-27 16:26] Felizardo commented on #48
I am also thinking about adding chess as an example... It is a classic game and can illustrate some features like AI

[2017-12-27 18:50] nicolodavis commented on #50
Hey @lionng429. I've actually been working on a generalized version of just this: A way to define "phases" in the game, and some hooks to customize how the turn gets passed around between the players and also the board (you might want some actions that the board executes).

Happy to get just this bit in if you want to send me a Pull Request. If not, this use-case should be taken care of once I fin

[2017-12-27 19:00] nicolodavis commented on #49
Hey Joshua! Thanks for getting this thread started.

1. The non-player clients are actually quite easy to implement. The current model is to have a `null` client that can essentially act as an admin (play on behalf of any player). Perhaps we should re-purpose this to a view-only client instead and use "admin" or something else for a proper admin client (with some security measures in place to prev

[2017-12-27 19:02] nicolodavis opened #51 "Phases"
A declarative way to define different phases in a game:
- [x] Define which moves are permitted in the current phase.
- [x] Provide a function to customize how the turn gets passed around between players in each phase.
- [x] Option to specify if a phase is asynchronous (players may play out of turn).
- [x] Allow certain moves to happen automatically in a phase (executed by the board).
- [x] Option

[2017-12-27 19:03] nicolodavis commented on #38
Duplicate of #51

[2017-12-27 19:03] #38 closed

[2017-12-27 19:03] nicolodavis commented on #50
duplicate #51

[2017-12-27 19:03] #50 closed

[2017-12-27 19:08] nicolodavis commented on #48
Hey @Felizardo. Sounds good! Will add it to the list. Let's have just one generic token component (with options to style via props), though.

You can use unicode symbols for chess pieces on this generic token: https://en.wikipedia.org/wiki/Chess_symbols_in_Unicode

[2017-12-27 19:25] Felizardo commented on #49
+1 for Slack or Gitter 👍. I love IRC but it is not as easy to use.

[2017-12-27 19:30] Felizardo commented on #48
Ok! I will send a PR soon

[2017-12-27 19:31] jchristman commented on #49
+1 for Slack because I’ve never used gitter. Therefore, learning curve... 🙂

[2017-12-27 20:35] dentemple commented on #49
+1 for Slack or Discord :)

[2017-12-27 20:58] nicolodavis commented on #49
I want to play around with Gitter for a bit (the ability to view posts without signing in is a plus for me). Let's try that, and migrate to Slack / something else if it doesn't work well for us.

[2017-12-27 21:55] nicolodavis commented on #49
Hmm, Gitter doesn't seem to do threads (and Topics are a beta feature for now). Maybe Slack is a better option for now.

[2017-12-28 01:24] nicolodavis commented on #50
In case you are interested in following progress on this, take a look at the [phases](https://github.com/google/boardgame.io/commits/phases) branch.

[2017-12-28 05:57] nicolodavis commented on #49
OK, let's settle on Gitter at https://gitter.im/boardgame-io for now. I figured out how to do different rooms per topic. I'll add a badge to the repo.

[2017-12-28 07:11] FateRiddle opened #54 "turn based with a timer (maybe take into account in "phases")"
Not sure if games like roguelikes & stretagy-rpg are part of this library's target cases.
If so, there are a key concept that made turn-based game a little bit real time:
there is a universal timer, and every action takes time, which result in:
1. an action may take less or more than "a standard turn", so
2. player gets to his/her turn faster or take multiple actions if "speed" is high.

The basic

[2017-12-28 07:39] lionng429 commented on #50
thanks @nicolodavis, I will take a look at that.

[2017-12-28 22:24] nicolodavis commented on #54
Hey @FateRiddle. Having a timer is out of scope for this project. It's primarily targeted at online boardgame implementations. I am planning to add some asynchronous play orders (players can take their turn at any time and the round ends after everyone is done), but this is still not timer based.

Your Chinese Checkers implementation looks really good! Happy to link to it from the project's README

[2017-12-29 00:54] Felizardo commented on #54
@FateRiddle pretty cool game! Never heard about it before, so I can't help find bugs in the rules... But I looked at your code and found some spots that might be causing issues:

`
    victory: (G, ctx) => {
      getWinner(G.zis)
      return ctx.currentPlayer
    },
`
In this part you are always returning ctx.currentPlayer as a winner,  you probably want to return getWinner(G.zis) instead. This

[2017-12-29 02:12] FateRiddle commented on #54
@Felizardo  @nicolodavis  I mean to
[code]
And I tried `console.log` `getWinner(G.zis) `, it gives the correct result. But
if you enable debug in App.js, and then test
[code]
it should return currentPlayer as winner, but in the debug panel, winner is always null.

[2017-12-29 06:36] nicolodavis commented on #54
Ah, the bug is that you have `victory` inside the `moves` section:

[code]

It should be like this:

[code]

[2017-12-29 07:52] nicolodavis commented on #54
Also, about `react-redux`, I plan to add some sections to the docs about general recipes and patterns. I'll probably add it there.

[2017-12-29 07:52] #54 closed

[2017-12-29 10:33] FateRiddle commented on #54
@nicolodavis
Thanks. That's a lame mistake :sweat_smile:
Here's another problem, if I want to restart a game right away:
I've update my demo to position the pieces one move from victory(both side), for easy testing.
I want to implement "restart", so when game finds a winner, you can click restart to reset things back to initial state. The problem is you can only reset `G` but not `ctx`. So info li

[2017-12-29 12:31] jchristman opened #56 "Drag and Drop Support"
I have some experience with [React-DnD](https://github.com/react-dnd/react-dnd). Everyone fine if I take a whack at getting a good interface built for drag and drop?

[2017-12-29 15:54] anton-107 opened #57 "Solitaire game with others watching over websockets?"
Hi, I'm designing a board game for single-player.

I was wondering if it's possible with boardgame.io to create a proper game with number of players to equal 1? (right now I'm automatically skipping a turn of other players)

I'm also interested if I can use boardgame.io 's multiplayer mechanism for other players to join watching the solitaire game in real-time?

[2017-12-29 18:15] nicolodavis commented on #54
There is a RESTORE action available in the Reducer store. You can probably use that to reset the state.

[2017-12-29 18:19] nicolodavis commented on #56
Sounds good! Just coordinate with @Felizardo on the pull request to add chess pieces.

The plan is to have a single Token component that will implement drag and drop. Presumably we also need a placeholder / receptacle component that can accept draggables as well.

[2017-12-29 18:22] nicolodavis commented on #57
Yes, just set `numPlayers` to 1 and it should work. To have others spectate, use `multiplayer: true` when creating the client, set `playedID = "0"` on the client that is actually playing, and have other clients connect without a `playerID`.

There is an example to do just this in the repository. Have a look!

[2017-12-29 18:22] #57 closed

[2017-12-29 18:48] Felizardo commented on #56
Yep, my current implementation only have implemented animations. I should have it done soon so you can change it later to also add the drag and drop behavior. I will make the animation behavior optional too.

[2017-12-29 19:01] jchristman commented on #56
Yes hat sounds good - @Felizardo, have you started on a Grid? Is there a commit in your fork I could start from to implement the drop areas? I’m planning on just wrapping a non droppable Grid so that it can be used standalone also.

[2017-12-29 19:06] Felizardo commented on #56
I haven't yet, because I was reading about React's Context because it will have to inter-operate with the new Token too.
For instance, if we specify x={1} y={1} z={-2} (z is not mandatory because it can be calculated) in a HexGrid, this will map to a distinct (real) x and y values on the SVG than if the parent is a simple Grid. So we will need to make the token to call a context function to do thi

[2017-12-29 20:50] jchristman commented on #48
Philosophically, after we get a decent UI toolkit, we will probably want to split out into separate repos/npm modules? Like boardgame.io/ui-base, boardgame.io/ui-chess, and so on. Once this kit becomes full featured I think it would make sense to not include chess pieces in a checkers game, right? Not saying we should do this now, but possibly down the line...

[2017-12-29 21:22] nicolodavis commented on #48
I think so too. I think we should only include generic components that are applicable to a wide variety of games in our distribution:

[code]

These can stay in this repository, but be distributed as `boardgame.io/ui` (just like we split the NPM already at the moment).

Chess is a good way to bootstrap some examples, so I'm not opposed to getting chess pieces in. However, if there is an easier way

[2017-12-29 21:56] nicolodavis commented on #56
@Felizardo: I'm not as familiar with SVG, but why does the child component need to know about the parent's context?

I'm imagining that `Grid` or `HexGrid` just passes down the co-ordinates at which the child should render itself through an internal prop that's not used by users directly. You can pass props to children using `React.cloneElement` as demonstrated [here](https://learn.co/lessons/reac

[2017-12-30 08:45] FateRiddle commented on #54
@nicolodavis
How do I dispatch that action?
I tried
[code]
This can render properly, but error pops when I click the restore button, basically saying G is not defined.

[2017-12-30 09:15] FateRiddle commented on #54
OK, I finally get it done in [demo](https://codesandbox.io/s/jpm0moxz43). But it feels so much like a hack.

[code]

[2017-12-30 10:25] lionng429 opened #58 "Grid system with (Hex) tile"
Has anyone started working on the grid system yet? Mind if I give a go?

I am going to make a GridSystem component handling dimensions, coordinations and drag and drop, and also a dump HexTile component.

I haven't started yet so please feel free to let me know if anyone started working on this.

Cheers.

[2017-12-30 12:07] jchristman commented on #48
I’m thinking of a hierarchy of UI components that looks like this:

- GameTable has one or more of
    - GameBoard (Grid or HexGrid or other) has one or more of
        - TokenReceptor (name?) which can receive one or more of
            - Token (which is subclassed or used to make cards, game pieces, etc)

This allows for a bit more flexibility for games that might have multiple game boards and s

[2017-12-30 13:14] Felizardo commented on #56
Oh, great! I did not know about the possibility of passing internal prop to
children. I will use this instead, then.

On Fri, Dec 29, 2017 at 7:56 PM, Nicolo John Davis <notifications@github.com

[2017-12-30 17:15] Felizardo commented on #48
I think we can start by creating a single type of Token, and add more as we
develop more features.

WRT not include chess in the common components, this is fine by me, I can
include on the examples folder for now, and add rename it to "Examples -
Chess" on the storybook until we have a functional example.

On Dec 30, 2017 10:07 AM, "Joshua Christman" <notifications@github.com>
wrote:

I’m thinking

[2017-12-30 17:54] nicolodavis commented on #48
General plan sounds good. I don't think we need a GameTable, though. The returned React component from `Client` already functions as one. The user can add as many Grids, Tokens or TokenHolders to that without being restricted to a particular hierarchy.

Yeah, let's start with Token and build up from there. This is shaping up pretty nicely!

[2017-12-30 17:56] nicolodavis commented on #58
Get in on the conversation at #48. Looking forward to your contribution!

[2017-12-30 18:39] nicolodavis commented on #48
Adding @lionng429 to this thread, who wants to work on `HexGrid`. Just summarizing the discussion so far so that everyone is on the same page (let me know if I've captured something incorrectly and I'll edit this post):

The plan is to have the following generic components to start with:

### `Token`
- This will function as a generic token, which renders as a plain square if not styled.
- Can be u

[2017-12-30 18:39] nicolodavis commented on #58
Closing this as a duplicate of #48

[2017-12-30 18:39] #58 closed

[2017-12-30 20:24] nicolodavis commented on #56
Closing this as a duplicate of #48 (let's consolidate all discussion there).

[2017-12-30 20:24] #56 closed

[2018-01-01 00:17] arakholia commented on #48
One concern I have with implementing Grid and HexGrid with SVG in conjunction with #56 is that I believe the HTML5 Drag and Drop API doesn't work with SVG elements? (See https://stackoverflow.com/questions/5864249/html5-drag-and-drop-on-svg-element). Potential solutions then are to manually implement drag and drop functionality, or if we do want to use HTML5 drag and drop, encapsulate tokens in SV

[2018-01-01 00:33] nicolodavis commented on #48
There are libraries like https://www.npmjs.com/package/react-dragtastic that might help with this. Implementing `Grid` using a `div` might work out well, but I'm not sure about `HexGrid`.

I'll let @Felizardo and @jchristman comment more because they're working on this directly.

Either way, I think we should design this in such a way that we can change the internal implementation (from SVG to div

[2018-01-01 01:28] nicolodavis opened #62 "Visual Interactive Test Generator"
Will be cool to have the following ability (when the Debug UI is enabled):
- Play the game to a certain point.
- Press a button (say `r`) to start capture (this snapshots `G` and `ctx` at this point).
- Play a move (or a sequence of moves).
- Press `r` again to stop (this captures the end state of `G` and `ctx`).

This generates a Jest test file that records exactly what happened that the game aut

[2018-01-01 03:48] Felizardo commented on #48
The main advantage of using SVG IMHO is that you get for free a bunch of
stuff, mainly the ability to draw complex figures and have DOM events
attached to it (imagine onClick or mouse over on a country in a map), it
works pretty well cross device, the fact that it is easy to zoom by
changing the viewport and being very easy to create react components for
it.

But yes, I guess there is no perfect s

[2018-01-01 03:59] Felizardo commented on #48
*ability to draw complex shapes, sorry.

On Mon, Jan 1, 2018, 1:47 AM Vinícius Felizardo <felizardow@gmail.com>
wrote:

[2018-01-01 23:44] michaelmior opened #63 "Multiple actions in handler not receiving updated state"
I have a click handler that conditionally executes multiple game moves since several may be triggered by a player action. However, I see that the component props are not updated until after my callback returns even though the game state is changed. Any way to work around this?

[2018-01-01 23:52] nicolodavis commented on #63
When you say the game state is changed, you mean you are able to see the new state on the Debug UI? Which props do you find are stale? What is this callback you are referring to (did you mean click handler)?

[2018-01-02 00:37] michaelmior commented on #63
Yes, I meant click handler. Specifically, the game state is stale. For example, I have an action called `selectDie` and in that action, I log the new state produced. Immediately after calling that action, I see the state has correctly changed, but `this.props.G` still refers to the old state.

[2018-01-02 00:55] nicolodavis commented on #63
Do you have a link to your code? I can take a look and see what's going on.

[2018-01-02 00:59] michaelmior commented on #63
Thanks! Unfortunately, the code is a bit of a mess now since I just started working on the project this afternoon. Here is [the line](https://github.com/michaelmior/lasvegas-web/blob/822e6321116c00a43d8d5fc14e1d91db80a38c6e/src/App.js#L126) where I specifically call my move. The logging statement after shows that the game state is stale.

[2018-01-02 01:48] nicolodavis commented on #63
https://github.com/reactjs/react-redux/issues/748 should answer your question.

Also, I would recommend keeping clickHandlers fairly simple. There shouldn't be much game logic in there. Your game might also benefit from the upcoming support for [phases](https://github.com/google/boardgame.io/issues/51).

[2018-01-02 01:48] #63 closed

[2018-01-02 01:50] michaelmior commented on #63
@nicolodavis Yes, I agree that the handler is getting too complex. I've been watching the phases support and I think that would likely make things much cleaner. Is it currently possible to call a move (or `endTurn`) from within another move?

[2018-01-02 02:21] nicolodavis commented on #63
Calling an action from a reducer (move handler) is generally considered an anti-pattern.

I think the phases support should help with this. There are hooks to automatically end a phase when a particular condition is met.

I'll add something similar for ending turns.

[2018-01-02 02:31] michaelmior commented on #63
Thanks! This is just a fun side project so I'll probably just wait until phases support lands.

[2018-01-03 00:44] nicolodavis commented on #48
Another idea that I think will be quite helpful for prototyping:

### An automated rendering component that can interpret `G`.

The state in `G` will typically mirror real objects that are rendered (a card, some tokens on the board etc.). We can probably provide a development-mode component that attempts to smartly interpret objects in `G` and render them.

Here's how it will work:
- Objects can b

[2018-01-03 23:12] saintplay commented on #8
So, is this tightly coupled to React?
Can I get started with Vue right now?

[2018-01-03 23:37] nicolodavis commented on #8
It's not really tightly coupled to React (but all the provided components will be for React).

It should be possible (with some modifications) to make it work with Vue.

[2018-01-03 23:39] nicolodavis commented on #8
[This](https://github.com/google/boardgame.io/blob/master/src/client/client.js) is the only React specific logic on the client-side.

It wraps the Redux store and some event generators in a React component. Should be fairly easy to make one for Vue as well.

[2018-01-04 00:01] saintplay commented on #8
Sure, I would like to give it a try for one of my Vue projects! What would be a proper way to request some assistant?

[2018-01-04 00:21] nicolodavis commented on #8
You mean get some contributors?

You can fork this project, make some modifications to have something working, and then maybe post on the Issue Tracker here to see if people want to contribute.

[2018-01-07 23:05] nicolodavis commented on #51
Merged into `master` and released in v0.16.

[2018-01-07 23:05] #51 closed

[2018-01-07 23:19] nicolodavis opened #68 "Random API"
Dice, shuffling etc. all require randomness, but having impure reducers (using `Math.random()`, for example) breaks the ability to view earlier game states (and is an anti-pattern in Redux). We should use a seed in `ctx` (that's stripped away before sending it to the client) that is used to predictably generate random numbers.

Plan:
- [x] API to generate random numbers.
- [x] API for various die

[2018-01-07 23:22] nicolodavis opened #69 "End turn automatically after a certain number of moves have been made"
Quite easy to implement using logic similar to [endTurnIf](https://github.com/google/boardgame.io/blob/master/src/core/flow.js#L33).

[2018-01-08 00:11] scheijan commented on #68
I've used https://github.com/davidbau/seedrandom before to solve a similar problem. If you think that could be a solution here as well, I could take a stab...

[2018-01-08 00:21] nicolodavis commented on #68
Using seedrandom sounds good!

[2018-01-08 18:00] Felizardo commented on #68
I just want to note that this will also be a problem for when developing a generic AI, as the algorithm will need to know what is the probability of each state happening for maximizing the expected value of each action.

If we just use Math.random() or any similar approach, it can lead to almost infinite amount of distinct states. Maybe we need to develop an API that will allow us to tell how many

[2018-01-08 18:17] philihp commented on #68
I think keeping a seed in the ctx is the best way to make sure the rescuers stay deterministic.

If a bot/AI were to search the state tree with random elements would probably want an MCTS, since something like a draw from a 6-deck shoe in blackjack can have 300+ branches per level of depth.

There will need to be a way to tell Game to use a new seed, though, because the AI will want to sample what

[2018-01-08 21:15] Felizardo commented on #68
Yes, again, I think keeping the seed is a good solution, I just wanted to start thinking about how to solve this for AI as it is related. We are going to need to have more information for sure, after all we are going to need to generate a graph to run Markov decision process algorithms...

[2018-01-08 23:13] nicolodavis commented on #48
@lionng429
I'll have more time to work on the UI toolkit in the coming weeks, so if you haven't started work on the hex grid, I'll take over the work if that's ok with you.

[2018-01-09 09:03] lionng429 commented on #48
@nicolodavis Please feel free to take over. I started just a bit, so if you need as reference to kick start, you may take a look at https://github.com/lionng429/boardgame.io/tree/ui-grid-system/src/client/lib

[2018-01-09 18:56] nicolodavis commented on #48
Oh, didn't realize you'd already started. If you have, and would like to continue working on it, that's fine too! Alternatively, I could create a hex-grid branch here and we can both work on it. Let me know what you prefer.

I'm using https://www.redblobgames.com/grids/hexagons/ as a reference. There are lots of features we could add to a hex grid system.

[2018-01-09 23:26] lionng429 commented on #48
@nicolodavis don't worry about it, and please feel free to speed it up as I might not have too much time before next Saturday.

Btw, I actually refer to the same website and I chose Cube coordinates, so if you are interested, my codes from the link above may help :)

[2018-01-10 14:34] tomasreichmann commented on #22
So I've tried isolating those window references, but I couldn`t make it build without errors. To test the server-side rendering, I used Yalc to link the repository as an NPM package which didn't work.

It's not clear how to publish the package correctly. I did `yarn prepare && yarn prepublishOnly && yalc publish`
But I always got some weird errors like
[code]

I tried removing the whole Debug comp

[2018-01-10 16:44] nicolodavis commented on #22
The `babelHelpers` error was due to a regression in package-lock.json that has since been fixed.

About the rest, I'll take a look once I've finished up the current set of features planned and see if we can get this working.

[2018-01-10 17:07] nicolodavis commented on #22
Also, how were you still having a Mousetrap dependency once you removed debug.js?

[2018-01-10 17:39] tomasreichmann commented on #22
That would be awesome.

I just pasted the code for handling window in debug.js that wasn't enough since Moustrap is imported at the top of the file. Once I removed debug.js altogether, the Moustrap is no longer a problem. But anyway, I guess that is not really a solution, is it?

[2018-01-10 17:40] tomasreichmann commented on #22
Maybe something like this could help... https://www.npmjs.com/package/window-or-global

[2018-01-11 00:46] nicolodavis commented on #69
Implemented by https://github.com/google/boardgame.io/commit/73d5b73d00eaba9aaf73a3576dfcfb25fc2b311d

[2018-01-11 00:46] #69 closed

[2018-01-11 18:57] nicolodavis opened #72 "Automatic Secret State"
Would be nice to have some conventions that tell the framework to automatically strip out data from `G` before sending data to a particular client. The current mechanism involves having to implement `playerView` as documented [here](http://boardgame.io/#/secret-state).

We could bundle in an (opt-in) implementation of `playerView` that does the following:
- Drop fields with a key `secret`.
- When

[2018-01-11 18:57] nicolodavis commented on #16
Closing this in favor of the one remaining item at #72

[2018-01-11 18:57] #16 closed

[2018-01-12 00:02] philihp commented on #72
Sounds like a positive change to me!

Perhaps the default playerView could call a reducer that does this, but can be overridden, similar to how TurnOrder’s default cycles through?

[2018-01-12 02:30] nicolodavis commented on #72
Opt-in vs opt-out is always a tricky question. In the case of a turn-order, you always want it to do *something*, which is why a default makes sense. In this particular case, there might be some users that will be surprised that their field named `secret` vanished without them doing anything, so I would err more on the side of having the user needing to explicitly enable this behavior.

[2018-01-12 05:40] arakholia commented on #72
For say cards in a player's hand where the _existence_ of the item is a public state and the _content_ is private, would the idea be the existence of the card is elsewhere in G and the players[id] contains the actual content? An alternative implementation may be having the owner specified in each card/token/object, and playerView filters each object depending on whether the ownerID matches the cli

[2018-01-12 07:27] philihp commented on #72
@arakholia Could you give an example game state that that would look like?

My feeling is that usually the hidden information a player has privy to is usually small compared to the rest of the information on the table; like in Settlers the resources you have in hand is small compared to the state of the island's cities and roads.

So then a convention of keeping hidden stuff inside of `players` wo

[2018-01-12 07:40] nicolodavis commented on #72
@arakholia In the case of cards, the best option might be to implement `playerView` yourself in order to transform:

[code]

to

[code]

[2018-01-12 08:02] #4 closed

[2018-01-12 10:50] scheijan commented on #68
@nicolodavis where would like to you see functions like `shuffle()` or `random()`? Directly on `ctx`? As a method of the GameBoard? A new module?

[2018-01-12 17:10] nicolodavis commented on #68
`ctx` should be a plain object, so let's put them in a separate module?

[2018-01-13 22:30] #72 closed

[2018-01-14 07:04] nicolodavis commented on #48
@lionng429 I'm committing in the [hexgrid](https://github.com/google/boardgame.io/tree/hexgrid) branch in case you're curious. Your code was a helpful reference!

[2018-01-14 08:22] davidgovea opened #76 "State changes that require secret data"
Hi there!

First, let me just say that this project is really exciting - love the activity and where this is heading. Great work!

I'm working on a variation of the "battleship" game type - choose a secret layout, then guess the opponent's layout. This is working nicely for `multiplayer: false` with the 'phases' feature, and a move reducer that checks the opponents secret layout.

Today, I impleme

[2018-01-14 19:01] nicolodavis commented on #76
Thanks for reporting this!

The easy fix is to have the client only send actions to the server and not compute any state locally (including the current player).

This is not particularly desirable though because you want to see some state changes without network latency, so we need some mechanism to indicate what is acceptable to compute on the client and what needs to wait for a state update from

[2018-01-14 23:34] nicolodavis commented on #76
I think the following should work:

- compute move reducers on the client.
- everything else (end of turn computations, triggers, phases) are computed on the server.

The move reducers are analogous to a player moving their own tokens, and shouldn't rely on secret state. Die rolls can work by having the move just initiate the roll, and the actual value is computed on the server.

[2018-01-15 03:01] nicolodavis commented on #76
@scheijan FYI

[2018-01-15 03:57] jcgertig commented on #6
Any updates on the progress of this. It is a bit disconcerting because at the moment if we redeploy our app we lose game state.

[2018-01-15 05:01] chrisheninger opened #77 "Prettier"
Curious if you would accept a PR implementing prettier in the project. If you haven't heard of it, you can learn more here: https://prettier.io/docs/en/why-prettier.html

I use it on every project I set up– it's nice because once configured it stays out of your way completely and ensures consistency throughout the codebase. One of the biggest perks is that it helps resolve merge conflicts much eas

[2018-01-15 05:09] chrisheninger opened #78 "node-sass?"
Noticed node-sass in the package.json file– yet I don't think we're using sass anywhere?

It's a pretty gnarly install– would be nice to chop it out (along with any other unused dependencies).

[2018-01-15 05:17] nicolodavis commented on #6
@jcgertig I haven't heard back from Saeid in a while. Perhaps he's busy. Would you like to take this over? Feel free to add support for your favorite storage system.

[2018-01-15 05:40] chrisheninger commented on #48
I'd love to help out with any other remaining UI pieces if it's needed. Let me know!

[2018-01-15 12:58] Felizardo commented on #7
Ok folks, I wrote a proposal for how the AI framework API should be:
https://docs.google.com/document/d/1RXr12MMOiB6GDw09_h4pfcItZ8t7ocRPxQ0_-etQIY8/edit#

I included everything in a google doc so it is easier for people to comment on specifics, and it is easier to describe the framework as a whole.

Please let me know what you think 👍

[2018-01-16 03:24] nicolodavis commented on #78
I think I initially envisioned using SCSS for the CSS files and then had trouble figuring out how to use it with Rollup. I'm going to refactor debug.css to use some nested rules. I'll remove this dependency until that happens.

[2018-01-16 03:27] nicolodavis commented on #78
Fixed by https://github.com/google/boardgame.io/commit/031ad291d245325d11be744a3acb3abf83e3c4ba

[2018-01-16 03:27] #78 closed

[2018-01-16 03:34] nicolodavis commented on #48
Great to have your help, Chris!

Our general plan for the UI toolkit is noted above: [link](https://github.com/google/boardgame.io/issues/48#issuecomment-354561659)

@jchristman is working on the drag-n-drop. Apart from that, I think we could definitely use some help in expanding `Grid` and `Token`. Some features we might want to add:
- ability to render `Token` as a 3D disc
- ability to render `T

[2018-01-16 05:28] nicolodavis commented on #6
I've added support for overriding the `db` implementation in https://github.com/google/boardgame.io/commit/2721ad4feaaaeb7884b624d891b680af6f7a9bf3. This should allow people that want to persist their games to hook it up to any storage solution that they want. I'll start working on adding Mongo when I get the time. In the meantime, PR's welcome :)

[2018-01-16 06:01] nicolodavis commented on #76
This is now resolved in https://github.com/google/boardgame.io/commit/af3a7b591759ed65d22d27ce036d9d33caaaf4f5 and released in 0.16.6.

Feel free to re-open if this doesn't address your issue!

[2018-01-16 06:01] #76 closed

[2018-01-16 06:06] davidgovea commented on #76
Wrote this earler, didn't submit.

Just trying to work my head through this.

#### Battleship scenario
1. Player guesses (x, y)
    * In the real game, player places token on guess board
    * This state can be computed on the client

1. Server hook runs (`endTurnIf` or earlier hook)
    * New state is determined using secrets
    * In the case of battleship, turn ends

1. Both clients are informe

[2018-01-16 06:35] saeidalidadi commented on #6
Hi @nicolodavis, as you said I am busy, but I find a solution based on [ this answer](https://stackoverflow.com/questions/35305661/where-to-write-to-localstorage-in-a-redux-app) from Dan Abramov for persisting the state on `action` event, I try to get free and I will add this asap if you are agree.

[code]

[2018-01-16 06:51] nicolodavis commented on #76
Die rolls are the tricky bits here. One way to implement them would be:

[code]

No need for separate phases. This is still not satisfactory IMO. I think a die rolling API should be added that takes care of this (but the above should work at the moment).

[2018-01-16 07:04] nicolodavis commented on #6
@saeidalidadi You mean a set / get that talks to Mongo, or are you referring to something else? Not sure I follow.

[2018-01-16 07:12] nicolodavis opened #80 "Last turn not captured in log"
Suggestions:
- Also end the turn when `endGameIf` returns true.
OR
- Make `GameLog` add an entry on `gameover` in addition to the turn end.

[2018-01-16 07:30] davidgovea commented on #76
Ah! Trigger with action is what I was missing here. Thank you!

[2018-01-16 07:38] saeidalidadi commented on #6
They could talk to all the remote stores and the developers would be able to add their own implementation for the `gameId` and also have more customization. `setter` and `getter` functions should be called inside framework. so the framework does'n know anything about the remote store.

[2018-01-16 17:45] nicolodavis commented on #6
That's what I thought I implemented in  https://github.com/google/boardgame.io/commit/2721ad4feaaaeb7884b624d891b680af6f7a9bf3. Is your proposal different?

[2018-01-16 19:42] saeidalidadi commented on #6
They are about the same, so I will add a working code for this feature.

[2018-01-16 20:30] nicolodavis commented on #6
Ok, I'll take a look when you send a PR. I'm still not exactly sure what your proposal is, but I'm sure it will make more sense when I look at the code :)

[2018-01-16 23:29] saeidalidadi commented on #6
I have implemented the functionalities but have issues with tests in `spy` functions of `sync` suite. I played examples and everything is ok as I see. I think it would be better to make the PR and talk about the issues.

[2018-01-17 00:19] nicolodavis commented on #32
FYI, you can implement this pretty easily after v0.16.

[2018-01-17 00:34] mallochine commented on #32
can you quickly tell me how? Anything I can read?

[2018-01-17 00:58] nicolodavis commented on #32
http://boardgame.io/#/phases should have everything you want to know. Feel free to ask here too if you have any questions.

[2018-01-17 08:46] philihp commented on #6
Can you throw up a branch? I'd love to check it out and see this progress.

Aside: How do y'all feel about Firebase for this?

[2018-01-17 15:45] nicolodavis commented on #6
Firebase sounds good to me!

[2018-01-17 19:08] nicolodavis commented on #62
Going to file this away as a nice-to-have and re-open it when we have more interest in making this happen.

[2018-01-17 19:08] #62 closed

[2018-01-17 19:26] nicolodavis commented on #49
Closing this now that we're having discussions on Gitter.

[2018-01-17 19:26] #49 closed

[2018-01-17 20:24] saeidalidadi commented on #6
I have crated a simple implementation to persist `state` inside db in  [8473137](https://github.com/google/boardgame.io/pull/82/commits/8473137f57c114bd0fa023198c447c086970036d).
after an agreement about the idea I will change the tests and will come back with a green check.

[2018-01-18 01:49] FateRiddle opened #83 "Can we have a CHANGELOG.md?"
So I don't have to look into pull requests or something to understand what changes in core api.

[2018-01-18 02:02] nicolodavis commented on #83
There already exists one. Please look at the README.

[2018-01-18 02:02] #83 closed

[2018-01-18 06:45] Felizardo opened #84 "Animation broken for multiplayer chess example"
Animation does not work for the player who is doing the move on multiplayer chess example. See gif:
<img src="https://user-images.githubusercontent.com/1034631/35084178-8bc7d10a-fbd7-11e7-97a5-27187c69eab4.gif" width="300"/>

If I sync with commit 810f5859a28b10d9be5780138bf00975e9f67303 -- 6 days ago, it works fine.

[2018-01-18 17:56] nicolodavis commented on #84
This is almost certainly due to https://github.com/google/boardgame.io/commit/af3a7b591759ed65d22d27ce036d9d33caaaf4f5.

The change is that the client that makes the move also receives a status update from server, so a token will see:

[code]

in quick succession. We'll need to debounce the animation logic on the client side.

[2018-01-18 18:12] nicolodavis opened #85 "Add option in Client config to specify socket server"
Currently you can only wire it to the same server that serves up the webpage.

An option like:
[code]

would allow serving the page and game logic from different servers. Might also help the `create-react-app` users.

[2018-01-18 19:24] nicolodavis commented on #51
A phase is associated with the game state, not a player.

You can adjust the phase to any value as the turn gets passed around, so both option 1 and option 2 are possible.

[2018-01-18 19:30] nicolodavis commented on #51
I'll clarify this in the examples. I'm still making some minor changes to the API, so some things are in flux.

[2018-01-18 19:45] nicolodavis commented on #84
Thanks, and sorry about the breakage!

[2018-01-18 19:59] michaelmior commented on #51
Got it. Eventually, it would be helpful if there were a couple examples of games using phases to work from. The concepts are pretty simple, but right now I find the documentation somewhat hard to follow and I'm currently not motivated enough by this project to start digging through code. Either way, thanks for continuing to make improvements :)

[2018-01-19 06:04] Stefan-Hanke commented on #80
Hi Nicolo,
I'm using this issue to get into the code base over this weekend.

For the TicTacToe example, the log already contains the last MAKE_MOVE action. I'd try going with your first suggestion and not have a gameover event currently.

I'm not sure my reasoning for this is correct; there are games that end immediately, or end after the current players turn, or allow subsequent players to make

[2018-01-19 06:30] Felizardo commented on #80
@Stefan-Hanke I just saw your comment now after sending the PR, otherwise I would have let you do it ! Sorry :(

[2018-01-19 18:42] #84 closed

[2018-01-19 18:44] nicolodavis commented on #80
@Stefan-Hanke Is there anything else you'd like to take a look at? I can certainly help you find something bite-sized to get started if you're interested.

[2018-01-20 05:05] #77 closed

[2018-01-20 08:59] Stefan-Hanke commented on #80
@Felizardo No problem. This gives me the opportunity to read your proposed changes and learn from it.

@nicolodavis  For now I'm falling back to just reading the source, please just keep having issues labeled with _good first issue_. I'll grab one in the next days.

[2018-01-26 05:20] nicolodavis opened #91 "Prevent endTurn until movesPerTurn is satisfied"
There is a mechanism to end the turn automatically after a number of moves have been made: https://github.com/google/boardgame.io/blob/master/src/core/flow.js#L83

We'd like to extend this so that the turn cannot be ended earlier (via `endTurn`) until these many moves have indeed been made.

[2018-01-26 05:49] akaguny commented on #91
You whant to add any conditional to https://github.com/google/boardgame.io/blob/master/src/core/flow.js#L131?
any :
[code]

[2018-01-26 06:21] karel1980 commented on #91
A practical solution is to just disable endTurn calls, and implement endTurn as a move, which sets a flag on the game state. The flag would be picked up by endTurnIf

[2018-01-26 23:04] nicolodavis opened #92 "Timer"
This has come up a few times, so I think we should prioritize this.

Suggestions:
- Some timers in `ctx` that capture the time that has elapsed since the beginning of the phase and since the current turn started.
- Some hooks to automatically end the turn / phase when some amount of time has elapsed.

[2018-01-26 23:05] nicolodavis commented on #68
@scheijan Haven't heard from you in a while. Are you still working on this?

[2018-01-27 06:15] #80 closed

[2018-01-27 06:30] #85 closed

[2018-01-27 07:00] nicolodavis commented on #91
@akaguny Yes, something similar to that.

@karel1980 Disabling state changing signals like `endTurn` and `endPhase` is a good idea too. Perhaps we could have an option like `allowedSignals` (similar to `allowedMoves`) to specify which in `endTurn` and `endPhase` is allowed.

No reason not to have both! Would you guys be interested in sending me PR's for your respective suggestions? I'll eventually

[2018-01-27 07:16] akaguny commented on #91
@nicolodavis i want to make PR if @karel1980 don't worry for this, because it`s him bug)

[2018-01-27 07:59] Felizardo opened #93 "Cannot find module 'boardgame.io/ui'."
I was trying to recreate the chess on my project, and it seems like the "ui" is not included in the npm package? I am getting this error:
[code]

I think we are missing a section like:
[code]
 on https://github.com/google/boardgame.io/blob/master/rollup.npm.js ?

[2018-01-27 10:31] Stefan-Hanke commented on #93
Just some observations: Using a vanilla clone, there is no error. The only `io.js` file present is inside the `packages/` directory. Somehow, webpack finds that file and resolves `boardgame.io/io` to it. Maybe I'm blind but I didn't find any reference to that particular file or directory. `package.json` only mentions files below `dist/`. Actually, it looks like webpack resolves _any_ module refere

[2018-01-27 12:08] karel1980 commented on #91
@nicolodavis you argument makes sense. I don't mind sending a PR either.

[2018-01-27 15:18] karel1980 commented on #91
@nicolodavis @akaguny Please see comments on the PR, there's still a few concerns, but it's a step in the right direction I think.

[2018-01-27 18:46] akaguny commented on #91
@nicolodavis, i think that idea about allowedSignals not good because programmist must think and prevent manual execution of the endturn signals by heself, and if endTurn can be execute by player he must disable this feature in interface

[2018-01-27 19:50] nicolodavis commented on #93
@Felizardo This is by design because the UI module is still not really ready. Maybe it's time to release the first version of it. I can add it.

@Stefan-Hanke The `.babelrc` file contains an alias that does this mapping so that code in the examples can depend on `src`.

[2018-01-27 19:59] nicolodavis commented on #91
@akaguny I disagree. I personally think that users will find it surprising that they need to enable a feature like ending a turn before being able to use it (and will probably trip a lot of people learning the library). It feels more like a feature for an advanced user, so I'm leaning toward making it opt-out (i.e. all events are enabled by default, and we provide a mechanism to disable them).

[2018-01-27 20:18] akaguny commented on #91
@nicolodavis yes, i'm also think that all the feature enable by default it's true way. I'm talked about another) But my english is no good and i may take some issues described my meaning about this

[2018-01-27 20:22] Felizardo commented on #93
+1 for releasing it, even with no API consistency (it is a 0. release afterall). I want to leverage grid, hexgrid, token implementation, they are already very helpful (even if I need to change later) :)

[2018-01-29 17:27] akaguny commented on #92
Suggestions:
* opportunity to pause a timer

[2018-02-03 04:48] #93 closed

[2018-02-04 05:46] nicolodavis commented on #91
Both proposals have now been implemented, so closing this.

[2018-02-04 05:46] #91 closed

[2018-02-04 05:50] nicolodavis opened #95 "Undo / Redo"
Features planned:
- [x] Undo moves in the current turn.
- [x] Redo moves in the current turn.
- [x] Mark certain moves as not undo-able (to prevent peeking at a card, for example).
- [x] Reset the entire game state.
- [ ] Move Undo/Redo out of game events (make them analogous to reset #155).

[2018-02-04 22:35] scheijan commented on #68
I started to look into it, but I'm pretty busy right now and can't promise I'll get to it any time soon. So if anyone else wants to give it a try please feel free...

[2018-02-05 01:42] nicolodavis commented on #22
I think all the code in `src` should now be SSR-compatible. The `examples` directory (not included in the NPM) uses `react-router`, which I need to figure out how to use with SSR in order to properly demonstrate the feature. Any ideas or PR's are appreciated!

[2018-02-05 01:52] nicolodavis commented on #22
Ugh, had to revert. Looks like changing the `import 'somefile.css'` to `require('somefile.css')` doesn't play well with how Rollup bundles the library.

[2018-02-05 02:12] nicolodavis opened #96 "Decouple client from React"
Current plan:
- Extract all the code in `client.js` into a JS object that can be used by itself from any view library.
- Provide a `react-redux` style connector from this object to props so it can be used in React just like today with minimal to no change to the API.

[2018-02-05 04:55] Stefan-Hanke commented on #68
I'll give this a shot.

[2018-02-05 17:08] Stefan-Hanke commented on #68
Regarding stripping secrets: [Currently](https://github.com/google/boardgame.io/blob/master/src/core/player-view.js) the STRIP_SECRETS method gets G, ctx, and the playerID, but is written to just return G.

I don't know whether modifying ctx in-place is the way to go, I'd prefer to have it return a new ctx instead. But this means we'd need to first adapt existing usages of _playerView_ to allow it

[2018-02-05 18:50] nicolodavis commented on #68
Ah, good point.

`playerView` strictly deals with state in `G` (and isn't meant to modify any internals in `ctx`), so let's not change it. One option would be to just strip `ctx` of `seed` where `playerView` is called [here](https://github.com/google/boardgame.io/blob/master/src/server/index.js#L68) and [here](https://github.com/google/boardgame.io/blob/master/src/client/client.js#L138).

[2018-02-05 19:09] nicolodavis opened #98 "Python Bots"
General plan to implement a Python client that people can use to write bots. The client will just use a websocket implementation to communicate with the Node server (there will be no changes server-side):
- [ ] Investigate Python websocket implementation.
- [ ] Create an API for people to write bots in both JS and Python.
- [ ] Python bot for Tic-Tac-Toe.
- [ ] JS bot for Tic-Tac-Toe.

[2018-02-05 20:27] Stefan-Hanke commented on #68
I'm ok with this. Unfortunately, there is no obvious way in JavaScript to somehow _functionally_ strip an object from a key - the code is now using `Reflect.deleteProperty` (could as well use `delete` also, I don't care). There already was a `deepCopy` function, so I've copied it to have the duplication stand out.

Currently, the code allows to pass an initial seed from the `setup` method. I'm uns

[2018-02-05 21:28] nicolodavis commented on #68
You don't need to *delete* a key anywhere really. You can just set it to `undefined`, or use the [object spread](https://codeburst.io/use-es2015-object-rest-operator-to-omit-properties-38a3ecffe90) syntax to achieve a delete.

Don't attach functions to `ctx` (it should be a plain serializable object). Sounds like you've already taken this into consideration. About the PNRG internal state, sure, le

[2018-02-05 23:42] nicolodavis commented on #28
Closing this as a duplicate of #92

[2018-02-05 23:42] #28 closed

[2018-02-06 04:58] akaguny commented on #92
it's can be inplemented with simple timeout or react use specific as $timeout in angular?

[2018-02-06 05:33] nicolodavis commented on #92
Yes, a simple timeout would also work (probably not necessary to record anything in `ctx`).

[2018-02-06 06:29] Tacohej opened #99 "OnTurnBegin"
Hi!

Is there a reason for onPhaseBegin, onPhaseEnd, onTurnEnd being implemented but not onTurnBegin? Otherwise,  I would gladly give it a go.

[2018-02-06 06:35] Stefan-Hanke commented on #68
Setting to `undefined` looks quite good. I've tinkered with the object rest spread operator ([SO](https://stackoverflow.com/questions/36553129/what-is-the-shortest-way-to-modify-immutable-objects-using-spread-and-destructur)), which does not mention just setting a key to `undefined`.

The code now stores the `seed` and another variable called `prngstate`. Now, how is this supposed to work at all?

[2018-02-06 06:45] nicolodavis commented on #99
Go for it :) I didn't think of `onTurnBegin`, but I think it would be good for uniformity.

[2018-02-06 16:44] akaguny commented on #98
why pyton?)

[2018-02-06 16:57] nicolodavis commented on #98
Python is an important language for the AI community and will open up many more possibilities.

[2018-02-07 06:24] Stefan-Hanke commented on #68
Let's say we don't care about single player. Here, the reducer fully processes the move.

So we're left with the multiplayer case. For sake of having a concrete example, let's say there is an implementation of Yahtzee, where the player is allowed to click a button to roll the dice.

Currently, the client-side reducer would process the move, but not events that eventually pop up (see [reducer, l.79

[2018-02-07 07:03] nicolodavis commented on #68
**About PNRG issues:**
Maybe use something like https://gist.github.com/blixt/f17b47c62508be59987b instead of `seedrandom` so that you don't have any hidden internal state that can't be persisted in `ctx` easily.

**About client vs. server:**
The library neatly demarcates these zones into `moves` and `flow`. Anything inside `flow` is only ever run on the server in multiplayer mode. This is by desi

[2018-02-07 18:29] nicolodavis opened #101 "Dependencies included in ES bundle"
Redux is bundled in, for example. It's better to treat NPM dependencies as external in the ES module (we should still bundle most things except React in the browser-minified version, though).

Related:
https://www.npmjs.com/package/rollup-plugin-auto-external
https://mixmax.com/blog/rollup-externals

[2018-02-08 00:27] #101 closed

[2018-02-08 03:23] chrisheninger commented on #85
👏 Setting this up in my game now, thank you for adding it! 🙂

[2018-02-08 04:43] Stefan-Hanke commented on #68
Getting the PRNG state is not an issue - sorry if I confused you.

I'm not sure how such API will work out. It looks like an action/command that is transported via `G` since this is what moves return. I'm kind of intrigued by this approach.

In your first example, the `// 2. Call PNRG` code would modify `ctx`. As of now, I think the intention is having code inside moves and flow to **not** modify

[2018-02-08 06:26] Stefan-Hanke commented on #68
https://github.com/google/boardgame.io/pull/103

[2018-02-08 06:30] Stefan-Hanke commented on #68
https://github.com/google/boardgame.io/pull/103

Hmm - I'd expected that the PR reference gets automatically expanded.

[2018-02-08 17:36] nicolodavis commented on #68
The server is the authoritative source of truth, so everything needs to run there. The complication arises from the fact that `moves` are also executed on the client (to update state locally without network lag). This state is still overridden by an eventual server update.

When you have some secret state like `seed`, you cannot reliably run code that depends on it on the client (because it is not

[2018-02-09 06:22] Stefan-Hanke commented on #68
While coding along I've noticed that there are two APIs that are currently inside one module
1. The public-facing API that is to be used by games
2. The internal-facing API that is used to make it work.

I've split these apart into separate modules. Part 1 could be added to `packages/core.js`, Part 2 is only used directly inside the module that performs evaluating the requested random operations.

[2018-02-09 07:11] Stefan-Hanke commented on #68
When embedding `runrandom` inside `processMove`, the _Gamelog rewind_ (inside _log.test.js_) breaks. Something looks fishy here, I can't imagine how it can monitor that operation other than fiddling with the objects. I need to take a look later.

[2018-02-09 18:45] Stefan-Hanke commented on #68
OK. Turns out that test used plain numbers for `G`. I hope you don't mind that I changed it to be an object with one key `arg`.

I'm royally unsure about my changes in the rollup config.

[2018-02-10 05:38] akaguny commented on #92
@nicolodavis what api timer should take?
when i create game i was need pause func(tur on/off activity of timer) and state variable, that take me: How much seconds left. But my time leav in React component and store state in this component
https://github.com/akaguny/alias-boardgame/blob/master/src/App.js#L54

[2018-02-10 05:41] akaguny commented on #92
@nicolodavis i'm agree that we should make a simple one timer for first time. But when we configure it? Configure like maxMoves?

[2018-02-10 08:14] karel1980 commented on #95
Other possibly related features:
Other feature ideas (inspired by online-go.com):
- forking (creating a new game based on a specific game state)
- reviewing: Commenting on moves after the fact
- analysis: Simulate moves to inspect the outcome (not very useful if there is randomness involved)
- planning conditional moves (if x happens, y in my next move - useful for slow paced, correspondence style

[2018-02-10 08:17] karel1980 commented on #95
Just to be clear: these are just brainstorming suggestions, not features I really want or need right now. There's no need for implementation, but maybe they are things which can be taken into account when designing the undo/redo functionality.

[2018-02-10 09:13] akaguny commented on #92
i started work on this feature, please set label tacked or some familiar

[2018-02-10 18:10] weatherfordmat commented on #68
I think it's easier to just wait on this PR to go through before fixing the rollDice (onClick) function in the UI package.

[2018-02-10 18:56] nicolodavis commented on #68
Yep, sounds good. I'm happy to make the necessary changes to your PR before merging it in too.

[2018-02-11 10:37] akaguny opened #107 "CI: up node major version, jest minor version"
Hi, at ci used 7.x.x version, but latest LTS 8, pls bump version.
Also latest major jest version is 22, but currently set 21

[2018-02-12 04:38] nicolodavis commented on #92
@akaguny Yes, let's start simple with something similar to `movesPerTurn` and expand it later. Will take a look at your PR. Thanks for working on this!

[2018-02-13 01:25] #99 closed

[2018-02-13 02:44] #107 closed

[2018-02-13 05:34] Stefan-Hanke commented on #48
@nicolodavis Regarding that automatic rendering: I've not found any code for that - well maybe a thin bit [here](https://github.com/google/boardgame.io/blob/master/examples/modules/phases/components/phases.js#L63). I think this would be a good step towards facilitating writing prototypes. What code exactly were you refering to?

I find that issues like this one make it hard to keep track of things

[2018-02-13 06:24] nicolodavis commented on #48
Hey Stefan. The automatic rendering idea hasn't been implemented yet.

I agree, some ideas can get lost in long threads like this. Maybe going forward, I'll keep the first post in an issue edited and up to date with what we have planned.

I also want to create a Roadmap issue with features that I'd like to see before we're ready for a v1 release.

[2018-02-14 06:12] Stefan-Hanke commented on #48
I've thought about the automatic rendering idea. I think it would be best to have some non-trivial board games before starting it to get a grip for what it could look like, what information already is provided, and what's still needed. Somehow, the UI would need to know what moves are currently possible, and what data they need. I've done some research into this and it all points to very _formish_

[2018-02-14 06:51] Felizardo commented on #48
@Stefan-Hanke "what moves are possible" is very important for AI too. Indeed, I started working yesterday on the AI piece ([as described here](https://docs.google.com/document/d/1RXr12MMOiB6GDw09_h4pfcItZ8t7ocRPxQ0_-etQIY8/edit?usp=sharing)) and I am working right now on making it available to provide this information to the game engine (what are the possible next moves). However, I was envisionin

[2018-02-14 16:10] Stefan-Hanke commented on #48
@Felizardo I think a human player will want to know what he can do given the situation at hand. For me, this is not optional. Well, let's see whether the structure defined for the bots matches the expectations of someone implementing an UI.

[2018-02-16 08:05] Felizardo commented on #98
to make things simpler, we could support some kind of communication between node <---> python, so we would not need to support websockets on python, or change a lot our implementation.
The only (obvious) downside it is that it would not be possible to run those bots in singleplayer/offline mode. But that's expected (until browsers start supporting python :P)

[2018-02-17 02:53] nicolodavis commented on #48
@Stefan-Hanke If you'd like to check in the 3D meeple, feel free to send me a PR. It looks great!

[2018-02-17 03:00] nicolodavis commented on #48
About available moves, I think it will be quite difficult to provide a standard interface for the sake of the UI. I'm ok if we have separate paths for AI and UI.

For example, a card game might just interpret all cards in a `hand` object as playable. Or, the user might associate a boolean with each card object. Adding an extra `availableMoves` object for the sake of the UI is additional burden tha

[2018-02-17 16:27] Stefan-Hanke commented on #68
It's unfortunate that `Math.seedrandom()` was dropped. It looks like we could have saved all hassle by just avoiding `seedrandom` altogether and inline the alea code, which is comprised of [some ten lines of code](https://github.com/davidbau/seedrandom/blob/released/lib/alea.js). I don't know whether the `seedrandom` library itself does not behave like a typical npm module would, or whether it was

[2018-02-17 17:52] virtuoushub commented on #8
FWIW, react native is now under the MIT license. https://github.com/facebook/react-native/commit/26684cf3adf4094eb6c405d345a75bf8c7c0bf88

[2018-02-17 18:04] chrisheninger commented on #8
@virtuoushub I chatted with Nicolo last night– it's in the works under https://github.com/google/boardgame.io/issues/96 👍

[2018-02-18 00:51] nicolodavis commented on #68
The problem is that it relies on a global `this`, which does not play well with Rollup. Yeah, let's consider inlining the PRNG code. I think that would be good.

[2018-02-18 20:08] philihp opened #115 "Random shuffle an array"
Shuffling a deck of cards, or drawing a tile from a bag is a fairly common operation in lots of games. The [Random API](https://github.com/google/boardgame.io/blob/master/src/core/random.js#L101-L111) should include an operation that deterministically shuffles an array.

@Stefan-Hanke thoughts? I'm happy to take on this feature, if you don't have something in mind already.

[2018-02-18 20:19] Stefan-Hanke commented on #115
Take it. This is part of #68 (the last bullet point).
I didn't find a nice way to encode the information which array is to be shuffled.

[2018-02-18 23:00] nicolodavis commented on #115
I'll close this as a duplicate of #68

[2018-02-18 23:00] #115 closed

[2018-02-20 02:54] nicolodavis opened #117 "Nested fields in the Random API"
Just following up on some discussion at https://github.com/google/boardgame.io/pull/116.

Currently, the Random API only allows retrieving random results into fields at the top level of `G`. We should support deeper levels using a syntax like:

[code]

@Stefan-Hanke has some example code in https://github.com/google/boardgame.io/pull/116 that might serve as a good starting point.

[2018-02-20 06:06] Stefan-Hanke commented on #117
I'm on this.

[2018-02-20 07:16] Stefan-Hanke commented on #117
I think having all functions in one file is getting unwieldy. However I won't create a second one since my first tackle has been reverted.

The one thing missing now is accessing arrays using `[]` syntax. Anything else that we are missing for expression evaluation?

[2018-02-20 08:37] nicolodavis commented on #117
Oh, the only reason I merged the two files into one was because I was wrestling with Rollup and wanted to simplify the dependencies. I don't have any objections to splitting the code as long as the other file is named random.something.js (i.e. someone wanting to dive in will not struggle finding where everything is).

Is the `[]` just a nice to have or actually necessary? I'm guessing we can still

[2018-02-20 10:55] nicolodavis commented on #117
Also, I just came across https://github.com/debitoor/dot-prop-immutable. Not sure if it makes sense to use it directly. Just wanted to bring it to your attention in case it makes our implementation cleaner.

[2018-02-20 19:46] Stefan-Hanke commented on #117
This library looks good, and well - it's a drop-in replacement for `deep_get` and `deep_set` which have the very same signatures. The only thing that I would object to that it is yet another dependency. If you're ok with having that dependency, I'd use it.

[2018-02-23 02:35] nicolodavis commented on #117
Obsoleted by #119

[2018-02-23 02:35] #117 closed

[2018-02-23 06:24] nicolodavis commented on #68
The first idea sounds good to me. Having return values that depend on the inputs shouldn't be alien to JS developers.

I'm not sure we should be in the business of parsing string expressions to generate Random calls though. Feels more like an add-on that could live in a separate library and be optionally merged here if it becomes popular.

[2018-02-23 06:54] Stefan-Hanke commented on #68
Well, the function could return a straight number when just calling `Random.D6()`, and always an array when a number argument is provided, even when calling `Random.D6(1)`.

[2018-02-23 08:24] nicolodavis commented on #68
Yes, that's what I was thinking too.

[2018-02-23 15:13] nicolodavis commented on #96
This is now implemented! Happy to review PR's for anyone that wants to add React Native or Vue.

[2018-02-23 15:13] #96 closed

[2018-02-23 15:17] #68 closed

[2018-02-23 15:25] nicolodavis opened #121 "React Native"
Now that the client logic is decoupled from React, and the React [implementation](https://github.com/google/boardgame.io/blob/master/src/client/react.js) is just a tiny wrapper around the [Client](https://github.com/google/boardgame.io/blob/master/src/client/client.js) class, it should be possible to add support for React Native in a similar way.

I have no experience with React Native, but if som

[2018-02-23 15:31] bmayen commented on #96
Or Angular? :)

[2018-02-23 15:41] Stefan-Hanke commented on #121
The other UI stuff is coupled to React. How do you plan to proceed?

[2018-02-24 16:04] chrisheninger commented on #121
@Stefan-Hanke I'd assume the UI stuff will continue to be coupled directly with React for now– and anyone implementing React Native/Vue/Angular will be responsible for bringing their own UI components.

@nicolodavis I gave this a shot about a month back– I'm pretty sure the only things that need changes are converting the `div`s to `View`s, handling the CSS imports + debug UI, and adding an exampl

[2018-02-25 02:26] nicolodavis commented on #121
We'll need to have parallel implementations in React Native / Vue / Angular. However, that doesn't mean they can't share code. @Stefan-Hanke proposes sharing SVG code in https://github.com/google/boardgame.io/pull/111, which I think is a good idea.

I think the UI components are the easy bit. The Debug pane is going to be harder. Reactive Native doesn't need one, but I think it will need to be rew

[2018-02-27 03:46] alex2wong commented on #48
Hi all, I suppose we can add some more features in HexGrid, such as perspective, game background, and **getNearNeighbors**(n: number, obstacle: bool) things..

below is what I am doing (just in design, the Sprites is in bg image, Perspective View is easy to implement)... I think it would be great if we provide comprehensive UI and functions for building this kind of Strategy Battle Game.. What do

[2018-02-27 04:05] nicolodavis commented on #48
Sounds good to me! Feel free to send me a PR.

[2018-02-27 11:14] MOZGIII opened #126 "0.18 release bug"
Hi guys.

Release 0.18 does not include file `dist/react.js` in the npm package. Can you please fix it?

For proof look here: https://registry.npmjs.org/boardgame.io/-/boardgame.io-0.18.0.tgz

UPD: seems like you forgot to add it in the `rollup.npm.js`

[2018-02-27 12:03] nicolodavis commented on #126
Thanks for bringing this to my attention. Fixed.

[2018-02-27 12:03] #126 closed

[2018-02-28 04:08] nicolodavis commented on #6
MongoDB connector is implemented in https://github.com/google/boardgame.io/commit/003fe46cb1a819a2cc0172d3d29ea136238518df.

Need to add some error handling and also expose it in the package.

[2018-02-28 20:06] Stefan-Hanke opened #129 "`lru-native` fails to compile on Win7"
The last commit added - besides the mongo stuff - `lru-native`. This fails to compile since `sys/time.h` cannot be found (see [LRUCache.cc](https://github.com/adzerk/node-lru-native/blob/master/src/LRUCache.cc)).

Has anybody observed the same issue? I should have installed the necessary prerequisites. If you need to know specifics, just ask. (Well, maybe I could try installing cygwin, looks like

[2018-03-01 03:27] nicolodavis commented on #129
Ah, then I'll switch to a different cache implementation.

[2018-03-01 05:39] nicolodavis commented on #48
Also, is anyone implementing drag-and-drop for `Token`?

[2018-03-01 05:51] #129 closed

[2018-03-01 05:51] nicolodavis commented on #129
Replaced with `lru-cache`. Let me know if there are any concerns with using this package instead.

[2018-03-01 11:14] jchristman commented on #48
I was gonna to but life took over, so I currently don’t have time. If you’re trying to decouple from react (which I think i saw some posts saying you might want to), then maybe react-dnd isn’t the right choice? There is a plug-in for react-dnd that adds a SVG backend, Id have to find it again... what are your thoughts on best tech for it? Own implementation or use the widely used solution?

[2018-03-01 11:36] nicolodavis commented on #48
We now already have two client implementations:
- A raw client that's a plain JS object.
- A React client that's a simple wrapper over this.
- Upcoming support for React Native (and maybe Vue / Angular, depending on interest).

The UI components (Token, grids etc.) will need a separate implementation in each library that we support. I think it's ok to use `react-dnd` for the React components. I do

[2018-03-03 21:39] bmayen opened #131 "Angular client"
I'm looking into contributing an Angular client. While it's possible to write Angular in JS, it's really geared to TS. Before I go forward, what are your thoughts on contributing the Angular pieces in TS?

[2018-03-04 00:49] nicolodavis commented on #131
I'm not opposed to it being in TS. If we find that it's difficult to make it work well with our setup here, we can always move it to a separate repo.

[2018-03-04 01:42] saintplay commented on #131
This problem reminds me of how Storybook has their "clients" in its source code.

[Storybook](https://github.com/storybooks/storybook/) has support for [many frameworks](https://github.com/storybooks/storybook/tree/master/app).

They have a directory for each framework

[code]

That way, for example, they can have a Typescript setup just for Angular, that  doesn't mix with the other frameworks set

[2018-03-04 14:25] bmayen commented on #131
A separate repo or monorepo would be preferable IMO. In addition to the TS compilation, there's also the concern about having all of the dependencies in a single, ambiguous package.json.

But for now I'll play around with everything as is and can decide what to do about this down the line.

[2018-03-05 03:21] Felizardo commented on #131
By the way, this might be useful:
https://github.com/Felizardo/turnato/blob/master/%40types/boardgame.io/index.d.ts

it is a first take on typing the boardgame.io api.

[2018-03-06 15:48] janosimas opened #132 "How to create actions for not-current player"
Hi, I'm implementing a game to test the framework and it's great
but I'm having some issues...

How can I create a move that another player execute?
Like, force another player to chose and discard a card.

How to create a turn with fixed phases?
phase 1 -> phase 2 -> end turn
I used endPhaseIf in phase 1 and it goes to phase 2
if I use the endTurnIf in phase 2, the next turn is in phase 2, not in

[2018-03-06 16:26] viranch opened #133 "Random shuffle always gives the same result"
I'm trying to shuffle a deck of cards in my code at setup time:

[code]

But when I look at the resultant array in the debug view, I keep getting the same result on every page refresh and even after yarn server restart. I want to avoid setting up my own seed.

Am I missing something?

[2018-03-06 18:07] Stefan-Hanke commented on #133
No, you don't miss anything. The problem is that for `setup`, the `PRNGState` is not set, so `undefined` is being used as seed.

[2018-03-07 03:14] viranch commented on #133
@Stefan-Hanke does that mean if I do call Random.Shuffle inside a phase instead of setup it will do the real thing?

I can initialize my deck as an empty array in setup, and then the first phase can shuffle the deck inside `onPhaseBegin`, and `endPhaseIf` deck length is greater than 0. Would that work or will that have the same problem?

[2018-03-07 05:56] viranch commented on #133
Looks like `onPhaseBegin` does get a random seed in ctx, but the shuffle output is always the same across reloads no matter the seed value.

See https://codepen.io/viranch/pen/EQqQdb

[2018-03-07 07:12] Stefan-Hanke commented on #133
This runs into the same problem: The call to `setup` and the calls to `startPhase`/`startTurn` happen before the initial call to `PRNGState.set()`. Unfortunately the PR is wrong - it should read `PRNGState.set({seed: game.seed})`. However, this now breaks more than one test...

This behaviour is only when using Random inside setup and the first phase/turn. In all other cases, the Random stuff shou

[2018-03-07 08:42] viranch commented on #133
Is there a way I can call `PRNGState.set()` inside setup or onPhaseBegin for it to work?

[2018-03-07 11:17] Stefan-Hanke commented on #133
`PRNGState` is not exported, so currently don't use Random in setup or the first turn/first phase.

[2018-03-08 06:31] Stefan-Hanke commented on #132
I think a combination of a custom turn order, the FlowWithPhases, and some custom logic inside your game could do the trick. Can you show some code?

[2018-03-08 09:45] janosimas commented on #132
I didn't start this action, as I just started to learn the framework there are a lot of changes I'm making every review.

This is the code repository: https://github.com/janosimas/dominion

The 'normal' turn has two phases, an action phase for playing action cards and a buy phase to buy new cards for your deck. The action cards I'm testing are the more simple ones, draw cards, increase number of a

[2018-03-09 05:53] Stefan-Hanke commented on #132
Yeah, my initial guess was that you're on a Dominion clone and were speaking about the Militia card.

[From the source](https://github.com/google/boardgame.io/blob/master/src/core/flow.js#L333), it looks like returning a phase name from `endPhaseIf` will start that phase instead of flowing to the next.

However, the phase framework was (IIRC) made for games like Catan were you have a dedicated set

[2018-03-09 06:06] Stefan-Hanke commented on #132
The flow of playing Militia would go along the lines:
 - Player A plays Militia
 - This state is stored in G somewhere
 - The [custom Turnorder](https://github.com/google/boardgame.io/blob/master/docs/turn-order.md) make the player that needs to act on Militia the next player
 - That player now is only allowed to drop cards down to three, which finishes his turn
 - The custom Turnorder returns con

[2018-03-09 07:46] #133 closed

[2018-03-09 08:02] nicolodavis commented on #132
Just to add to what @Stefan-Hanke has already addressed here:

The game state is managed by a state machine. It can be in one of many **phases** and the **current player** can be in one of many states. You can model many turns within a phase (Catan), or many phases within a turn (Dominion). The concept of phase and turn are independent of each other.

The framework provides many ways to transition

[2018-03-10 07:59] Felizardo commented on #22
So I am trying to do SSR on my project. This is the code I wrote for SSR:
https://github.com/Felizardo/turnato/blob/ssr/src/server.tsx#L30

This code is in a separate branch (ssr) because it does not work yet. I am getting this error trying to run the server:

`
ReferenceError: window is not defined
    at /home/felizardo/playground/turnato/node_modules/react-json-view/dist/main.js:1:149649
    at

[2018-03-10 14:03] viranch commented on #133
How do I pull this fix into my project?

[2018-03-10 17:09] nicolodavis commented on #133
You'll have to wait for a release, or clone this repo and use the code directly.

[2018-03-10 17:25] janosimas opened #136 "Using Card component"
( Still working on #132 )

I started using the Card component expecting it to simplify a few thing,
first, some example on this would be great 👍
overall it gave me good results but I'm having trouble with the click event,

How can I call a Board (class Board extends React.Component) action from the card?
Or how can I access the G state from a card that doesn't have access to the Board.props?

I'm

[2018-03-10 20:25] janosimas commented on #136
Solved, I was using React the wrong way.
this solved my problem:
`<Card {...cards[index]} key={index} onClick={() => this.props.moves.onClickHand(index)}/>`

[2018-03-10 20:25] #136 closed

[2018-03-10 21:20] jstacoder opened #137 "Docs for events"
After reading through the docs I found I didn’t know enough about `events` to successfully use the framework, and I needed to read the source to really grasp how to utilize them, I think I’ll write a specific section of the docs about events to help others that have that problem

[2018-03-11 04:19] viranch opened #138 "Insufficient documentation/guide on multiplayer"
The [Multiplayer guide](http://boardgame.io/#/multiplayer) mentions that

Apparently, that's not all that is needed. There's some magic server code that needs to be written.

Furthermore, its not specified where exactly the code snippet with `server.run(8000);` is supposed to be put and how it can be executed. The same about the mention of `Koa` app.

I looked at the examples; multiple games and s

[2018-03-11 06:56] nicolodavis commented on #138
The example server code (4 lines or so) shown in the documentation should work as is.

That's all you will need to set up a socket server to handle multiplayer. All the other stuff that you're claiming is necessary is actually not. Sorry if the examples are confusing you.

Everything beyond that is up to individual developers. Some may choose to bundle their apps using Webpack. Others may not. Som

[2018-03-11 07:05] nicolodavis commented on #138
Also, if you're stuck, here is what you need to run the server code shown in the examples:

[code]

I can document this too if it isn't obvious.

[2018-03-11 07:46] viranch commented on #138
So those 4 lines of code goes in a separate `server.js` file? Its not really clear in the documentation, nor is how to run it.

I tried `node server.js` but got the following error:
[code]

So clearly, there's a lot more that the documentation should be specifying, for a beginner who has just finished the tutorial page and wanting to extend the game.

[2018-03-11 07:51] viranch commented on #138
Also, the same error is thrown on running `node server.js` inside examples:

[code]

My node version:
[code]

[2018-03-11 07:54] Felizardo commented on #138
@viranch my understanding is that you need to use `npm run dev` because this JS file needs to go through babel before executing by node. "import" for instance is not supported by node by default, so babel translates it to "require".
But you could, technically, code directly in node.js without the need to run through babel first.

[2018-03-11 07:57] viranch commented on #138
@Felizardo correct. I'm now running the server using `./node_modules/babel-cli/bin/babel-node.js`.

My point here is, the documentation should mention all of this, if not specify how to get it working. Especially the part that says "All you need to do is add multiplayer: true to your client config object" - that's clearly not the case, and there's significant amount of server setup that's required

[2018-03-11 08:01] Felizardo commented on #138
I am not sure if this is the case for better documentation on this framework as this is is the default setup for any node js server, really.
But you are right that the JS landscape right now is overwhelming for who is beginning now, and it still is for me.

Well, I think doing a tutorial with step by step on how to but all the pieces together (with react starter, koa etc) more appropriate.

[2018-03-11 08:05] Felizardo commented on #138
And yes, if you are doing a single player game you dont need a server at all, everything can be in a react component on the client side.
In the case you want multiplayer, then you need to setup a node.js server.

[2018-03-11 08:08] viranch commented on #138
Yep, and the multiplayer guide should mention how to setup the server. There's no mention of where the 4 lines of server code should go (I initially put them in `App.js` itself!) or how to run it. None of them are obvious or straight forward.

I am indeed new to the JS landscape, and my expectation from a piece of documentation may not be inline with the standard in JS world.

I'd appreciate never

[2018-03-11 10:01] nicolodavis commented on #138
You're taking that line out of context. It says that all you need to do is add `multiplayer: true` to "have a multiplayer enabled client." As far as I'm aware, this is the only change that you need to make on the client side for it to work in a multiplayer game.

About the server side, I'll update the documentation with some copy-pastable commands that you can use. Sorry, was on my phone when I ty

[2018-03-11 11:55] viranch commented on #138
Good point. Didn't really work with one/two commands for me, I was probably missing something. Good thing I'll soon find out once the doc is updated :)

[2018-03-12 05:27] Felizardo commented on #22
I got it working! :clap:  Just submitted a PR, also managed to do a test so we make sure we dont break SSR in the future :laughing:

[2018-03-12 08:56] nicolodavis commented on #138
I've added a lot more detail in https://github.com/google/boardgame.io/commit/477aaf3a3dc97de361c2b2b5785b000562d55b58 (you can view them on the docs [here](http://boardgame.io/#/multiplayer)). Let me know if these steps work for you!

The documentation looks a lot better now. Thanks for bringing this to my attention.

[2018-03-12 09:03] viranch commented on #138
@nicolodavis this is amazing!

I'll go through it and try to setup a multiplayer game from scratch using all the commands and instructions and comment here with my feedback.

[2018-03-12 09:18] nicolodavis commented on #137
Sounds good. There is an [example](https://github.com/google/boardgame.io/blob/master/examples/modules/phases/components/diagram.js) in the examples section of the repo that I originally intended as an interactive way to explain events. Perhaps you can embed that in the page you are writing as well.

[2018-03-12 11:34] #22 closed

[2018-03-12 11:50] nicolodavis commented on #133
This is now released in v0.20.1.

[2018-03-12 15:08] nicolodavis opened #141 "Ability to change currentPlayer without ending turn"
There is currently no way to change the current player without ending the turn. However, sometimes you might need other players to execute an action as part of **your** turn.

[2018-03-12 15:11] nicolodavis commented on #132
Closing this in favor of #141

[2018-03-12 15:11] #132 closed

[2018-03-12 15:36] janosimas commented on #141
Maybe create the concept of a sub-turn, phases could have possible sub-turns as they have moves

[2018-03-12 15:41] nicolodavis commented on #141
If we can do it without an additional concept, that would be even better, though. It's less cognitive overload when you only have to think about phases, turns and moves. A move is already essentially a sub-turn. Right now all the moves in a turn have to be made by the same player. This feature request will enable a turn to contain moves from different players.

[2018-03-12 15:51] janosimas commented on #141
This way it will also need a way of blocking and requesting moves from other players.

[2018-03-12 16:11] viranch commented on #133
Thanks for the heads up! Can confirm this issue fixed in v0.20.1.

[2018-03-12 16:24] Stefan-Hanke commented on #141
We could have an _active player_ that is the owner of the current turn, and a _action player_ that is supposed to make a move. It would be beneficial to allow multiple _action players_. The logic for this should reside in `Flow` or the `Game` itself s.t. games can change this behaviour.

[2018-03-12 16:29] nicolodavis commented on #141
I like that idea.

[2018-03-12 16:33] nicolodavis opened #142 "Dispatching events from moves"
There does not exist a direct way to dispatch an event like `endTurn` or `endPhase` from within a move currently. The way to do it at the moment is to use `endTurnIf` or `endPhaseIf`. This can lead to some annoying patterns like setting booleans whose only purpose is to trigger some code elsewhere:

[code]

Rather than that, it would be nice to directly invoke events like this:

[code]

This is an

[2018-03-12 16:37] nicolodavis commented on #141
I also imagine that #142 will be relevant here.

[2018-03-12 16:44] Stefan-Hanke commented on #141
We'd have to modifiy [the server](https://github.com/google/boardgame.io/blob/master/src/server/index.js#L61), where the behaviour (`any` player etc.) is currently hard coded. At that point, `game` is available, and thus the `flow`, so we could move that behaviour to a flow method?

[2018-03-12 17:33] viranch commented on #138
Observed the following issues with the instructions:

1. The `npx babel-node [...]` command doesn't work because it tries to install `babel-node` package, but the command is provided by `babel-cli` package. So the install command should include `babel-cli`.

2. The `const TicTacToe = require('./game').TicTacToe;` line should really be `const TicTacToe = require('./game');`; the former evaluates to

[2018-03-12 18:19] philihp commented on #141
So the `currentPlayer` and the `activePlayer` are different things, yeah? And by default they're always the same, but the `currentPlayer` is the owner of the current turn, while the `activePlayer` is the person with the initiative, and the game is awaiting their move?

I like it.

[2018-03-12 20:07] Stefan-Hanke commented on #141
I'd like to rename _currentPlayer_ to _turnOwner_. The intention is to reduce potential confusion with the player that is supposed to make a move. Since this is a breaking change, we could defer that for now. Thoughts?

@philihp good idea about the default state of _activePlayer_. As stated above, when modifying this, we could just as well allow multiple active players, to enable games that requir

[2018-03-13 03:00] nicolodavis commented on #141
Yes, let's add no additional burden to users that don't care about separating these two concepts, i.e. *activePlayer* should default to an array with *currentPlayer* (*turnOwner*) in it.

Don't worry about making a breaking change. This is still an alpha release after all. I'll just document what's breaking in the changelog when I do a release.

[2018-03-13 04:01] nicolodavis commented on #138
[2] depends on how you export `TicTacToe` in `game.js`. I used:

[code]

This will probably be made clearer by explaining how the code was moved to `game.js` (your point [4]).

[2018-03-13 04:03] nicolodavis commented on #138
About [1], I'm not sure how it's working for me. Perhaps I've installed something globally. I'll fix that.

For [3], did you put `server.js` in `src`, or in the root of the repo? The `KoaStatic` command needs to point to the build directory.

[2018-03-13 04:33] nicolodavis commented on #138
I've fixed some of the stuff in https://github.com/google/boardgame.io/commit/f40d9193ab7e4b7e96c0713b07f22197143b8529.

Is [5] the only remaining concern? I think I started with `multiplayer: true` because it is conceptually the simplest on the client side. I then moved to having a separate socket server because that's simpler on the server side. Then I talk about the more advanced versions. I th

[2018-03-13 04:45] viranch commented on #138
For [3], here's what I'm doing:
[code]
On other terminal:
[code]

I think the command to run the combined server is `serve -s build` and not the `npx babel-node` command?

For [5], I think separate sections on 'single server' and 'separate servers' will give more clarity. May be start off as if separate servers is the only way, and then talk about the single server option under Production section.

[2018-03-13 04:53] nicolodavis commented on #138
`serve -s build` just brings up a regular HTTP server to serve the HTML in the build directory. We want to bring up server.js, which serves both the HTML as well as the socket server.

Can you update `src/server.js` to use the path module like I have in https://github.com/google/boardgame.io/commit/f40d9193ab7e4b7e96c0713b07f22197143b8529? That should fix it for you.

[2018-03-13 06:07] Stefan-Hanke commented on #142
I'd like to point out that currently, `FlowWithPhases` is just _one_ flow implementation. The framework allows to plug other flows by means of the `Game` method. I'm unsure whether givinig it specialized treatment via custom addtional API may reduce the utility of other flows.

This is just a thought, though. It looks like `FlowWithPhases` may be the standard flow that, say, 90% of all games will

[2018-03-13 06:31] Stefan-Hanke commented on #142
For the initial API, I'd suggest the followng methods:

- `endTurn`
- `endPhase`
- `trigger(eventName)`

Should we also include `endGame`? Personally I like the current approach, however for the sake of completeness, I'd add it.

I'm unsure I understood your last sentence. Could you give an example where direct modification of `ctx` is appropriate?

[2018-03-13 06:38] nicolodavis commented on #142
Sounds good.

- Let's add `endGame` as well. It's not an event at the moment, but we can include it.
- About the last sentence, I just meant that dispatching an event essentially modifies `ctx`. We don't want direct modification of `ctx`, which is why we provide an API through `Events` and `Random` to modify it.

[2018-03-13 06:41] nicolodavis commented on #142
About the special treatment of `FlowWithPhases`, I think it's ok as well. Let's still retain the ability for a user to provide a custom flow (in order to cover some rare case that we may not want to bundle in the library here). I'm hoping that most users will not need to implement a custom flow.

[2018-03-13 06:44] nicolodavis commented on #137
Also, take note of #141 and #142, which are going to change the API.

[2018-03-13 07:58] rzulian commented on #141
@Stefan-Hanke not sure if the proposed solution can manage a usual board game turn scenario like this:
In a phase with TurnOrder.skip, in  my turn a make a move ("Build mine"). Before I can do other moves, every other player who is satisfiyng some conditions, in the same turn order, can decide do do or not do a single specific move (Leech power). After every one passed, I will continue my turn.

S

[2018-03-13 08:27] nicolodavis commented on #141
@rzulian The scenario you describe can be modelled like this:

Phase A: Build mine
Phase B: Everyone gets a chance to "Leech power"

On your turn, as soon as you build a mine in Phase A, the game moves to Phase B, and then reverts back to Phase A. The turn does not end even if the phase gets passed around, so all of this happens in the context of a single turn (assuming that we just rotate the *ac

[2018-03-13 08:58] rzulian commented on #141
Ok, but we need to store Phase A status (currentPlayer, playerOrder and passOrder), so you can run phase B with its properties and the restart from when you were. Or am I missing something of the proposed actionPlayer implementation?

[2018-03-13 11:54] Stefan-Hanke commented on #141
@rzulian I am referring to your scenario from above.
 - There is one _action player_ that is building something.
 - Now, since the game knows there could be Leech powers (I think e.g. one of the games in the Tiny Epic series allowed that), this is checked for. Using the yet-to-come Events API, the game sets the _action players_ that may or may not perform that specific move.
 - Now, when the last

[2018-03-13 12:07] rzulian commented on #141
@Stefan-Hanke ok, understood. So _currentPlayer (turnOwner)_ it's only about who is in charge of the current turn. Usually activePlayer is the same user, but you can modify the activePlayer through Events, controlling the available moves through canMakeMoves. Right?

[2018-03-13 12:21] janosimas commented on #141
@Stefan-Hanke you cleared a little confusion I had. For me was the exact opposite.
Wouldn't make sense to have a _subturn_ for this kind of thing?
like:
  - ActivePlayer makes a move
  - trigger a subturn where any player can make a response action
  - back to ActivePlayer normal turn.

For me this subturn would be more phase-like then turn-like. It could have allowed moves, endPhaseIf...

[2018-03-13 13:24] nicolodavis commented on #141
Just to clarify a few things:

- Even though the phase and turn concepts were originally designed for a game where multiple turns are played inside a phase, these are *independent* concepts and can be used the other way around. You can totally have a single turn where the game moves through different phases (Action and Buy phases in Dominion for example). The game is always in one phase and one pl

[2018-03-13 13:28] nicolodavis commented on #141
I think if we just store *currentPlayer*, *actionPlayers* and *phase* in *previous player*, *previous actionPlayers* and *previousPhase* every time one of these values changes, that should facilitate easy restores?

[2018-03-13 14:38] janosimas commented on #141
Looks good.
What kind of restore `Event` are you thinking?

[2018-03-13 15:13] nicolodavis commented on #141
Something like:

- `Events.restorePhase()`: Restores the phase to the previous phase.
- `Events.restorePlayerState()`: Restores `currentPlayer` and `activePlayers`.

We could also do the following instead (in order to have a single API call with options):

- `Events.restore({ phase: true, players: true })`.

[2018-03-13 15:56] janosimas commented on #141
It could have a config for saving the state automatically or with another event:
* `Events.savePhase()`
* `Events.savePlayerState()`

Or with the snapshot:
* `Events.savePhase(key)`
* `Events.savePlayerState(Key)`

----
One question, do players have a secret state? Like the G.secret?
I'll have to deal with that for the player `deck`.

[2018-03-13 16:06] nicolodavis commented on #141
If you'd like to hide a field like `deck` from all players, I would recommend either putting it inside `G.secret` and using `STRIP_SECRETS`, or implementing a custom `playerView` that removes it. More details can be found at: http://boardgame.io/#/secret-state

[2018-03-13 22:50] Stefan-Hanke commented on #141
Thanks for the clarification, nicolo. I'd just like to point out that despite being correct about phases/turns, the order of eventing is such that a phase contains turns (the turn end event always comes before the phase end event). I'd like to have one consistent notion.

I kind of feel I'm loosing the overall picture of this all.

[2018-03-14 11:39] Stefan-Hanke opened #147 "State Id updated on illegal moves"
During tests for #145, I've noticed that [these tests](https://github.com/google/boardgame.io/blob/master/src/core/reducer.test.js#L28) check that each dispatched move increments the `_stateID`. The tests are left untouched in that PR, however following line is left to keep them from breaking (in function `canMakeMoveDefault`):

Do we want to update the state ID on moves where `canMakeMove` should

[2018-03-14 16:08] viranch commented on #138
The new instructions do get rid of the 404. But multiplayer is not working, in either of single server or separate client/socket servers.

I reproduced this several times with roughly the following steps:
[code]

Then put the following in `src/App.js`:
[code]
And following in `src/server.js`:
[code]

Then build & start server:
[code]

Navigating to `http://localhost:8000/` does load the app, but t

[2018-03-14 16:54] viranch commented on #138
Just discovered that changing the first 4 lines of server.js (in my previous comment) to following makes the whole thing work, in both single & separate server modes:

[code]

Not sure how this should matter.

[2018-03-14 18:19] sladwig commented on #95
Since most (all?) of the attributes you can add to the flow object, you can also add to the individual phases, my first attemt was to add `undo: true` to the phase where undo makes sense and so only 'applying' undo to the moves in that phase. I was a bit surprised to find out that I could only apply undo to the whole game, thus making undo not yet usable out of the box for me.

I do however like t

[2018-03-14 18:58] Stefan-Hanke commented on #95
I like how the current Dominion implementation handles Undo: It asks all other players for permission. If everyone is OK with the Undo, it is performed.

[2018-03-14 22:52] sladwig commented on #95
Sounds good, definitely a good scenario to keep in mind. How I see it we shouldn't impose a specific way to undo moves though.
At Backgammon it happens sometimes, that a player moves a stone and then sees another move makes more sense and as long as you are not finished with both moves, you are free to change the first one as you please. So the first move is undoable the second is not...
I don't r

[2018-03-15 06:05] nicolodavis commented on #133
https://github.com/google/boardgame.io/commit/89694336d119a2c8f09c14b6b2aabe48b13bc1c1 was another fix related to this that will be in the next release.

[2018-03-15 06:19] nicolodavis commented on #147
Ah, yes, I think we should not update the state ID for invalid moves (the framework should pretend they never happened).

Eventually, we should also extend this to not just invalid *types* of moves, but also invalid combinations of args. For example, the current tic-tac-toe implementation will update the state ID (and turn I believe) even if someone calls it with a cell that's already filled (the

[2018-03-15 07:02] nicolodavis commented on #138
That's really weird. If you have time, can you upload your *not working* code to a repo so I can try to reproduce? The change from require to import shouldn't make a difference.

[2018-03-15 08:07] sladwig commented on #95
Ok, if nobody is up for it, I will work on the undoableMoves then.

[2018-03-15 08:16] nicolodavis commented on #95
Go for it!

[2018-03-15 12:10] Stefan-Hanke commented on #147
I'm not sure I understand. Currently, #145 already allows a game developer to provide a custom `canMakeMove`, that is called together with all other validations (as part of handling a move inside the reducer). If that method returns `false` the move will not be performed.

E.g., for the TicTacToe-example, we'd have to provide a custom `canMakeMove` as part of its `flow` object that could perform t

[2018-03-15 15:30] nicolodavis commented on #147
Ah, that works too. I'd originally thought we'd use `canMakeMove` to just disallow:
- moves from out-of-turn players
- moves disallowed in the current phase

I'm not opposed to even supporting both. It's nice to have the logic that determines whether a move is invalid in the move itself (some of the computation that's involved might even be redundant with that required to actually execute the move

[2018-03-15 16:59] viranch commented on #138
Here: https://github.com/viranch/tic-tac-toe

I've put 2 servers, `src/server_that_works.js` and `src/server_doesnt_work.js`. I don't get the "Disconnected!" message anymore with not-working server but the moves still don't reflect on the other player.

[2018-03-15 17:27] nicolodavis commented on #141
Yes, but we could actually go the other way around and I don't think it would make a material difference to games (really what's happening is that they're ending *together*, but we still need to pick an order because they can't happen in parallel). We could provide an option to configure phase-before-turn or turn-before-phase, but I think that's overkill. We should just clarify (in the docs) that

[2018-03-15 17:41] janosimas commented on #141
I would be more comfortable with the overkill solution but I don't see a case where it's strictly necessary.

Anyway it needs to be very clear in the docs, I didn't understand the phase-before-turn this way until @Stefan-Hanke said that.

[2018-03-15 19:44] sladwig commented on #95
So about reseting the game: my thoughts are to add a resetGameEvent, which resets the ctx and gamestate, similar to what happens in the [creation of flow](https://github.com/google/boardgame.io/blob/master/src/core/flow.js#L529)?

[2018-03-15 23:10] ArcyFlores opened #150 "Unable to run examples"
Tried running examples and came across unexpected token error at /Users/aflores/Desktop/softDev/practice/boardgame.io/node_modules/koa-static/index.js:39
    return async function serve (ctx, next) {
                 ^^^^^^^^

[2018-03-16 03:01] Stefan-Hanke commented on #150
The library uses babel with the 2015 preset that does not transform async functions. Looks like [Node supports async since version 7.6](https://medium.com/@eli.goldberg/async-await-is-here-node-7-6-0-9f5a9904eb41). Incidentally, that's also the [minimal version](https://github.com/google/boardgame.io/blob/master/package.json#L48) as per the package.json.

What version are you running?

[2018-03-16 04:01] Stefan-Hanke commented on #147
Oh well, I've thought along the _move-is-not-even-defined-by-the-game_ line. E.g. the test I linked in the first post runs an _unknown_ move, that is actually unknown to the game.

Since we already support Approach 2, I'm going to make Approach 1 work.

[2018-03-16 18:24] Baifamonv commented on #138
import path from 'path';
^^^^^^

SyntaxError: Unexpected token import
    ...
I have the same issue. how can i fix it? download bunch of plugin. wont work

[2018-03-16 18:59] ArcyFlores commented on #150
I see, I'm running v6.11.2

[2018-03-16 19:04] #150 closed

[2018-03-16 21:49] nicolodavis commented on #138
What's the command that you ran? You should be using `babel-node`.

[2018-03-16 21:57] sladwig commented on #141
me neither, for me it was clearly `turn > phases`, but I like it a lot that they are somewhat orthogonal and you could also use it the other way around and clearly there are games that need it the other way. It definitely explains some issues I had and I did somehow found it strange that phase end comes after turn end.

btw: I am actually changing `currentPlayer` in the same turn, from `'any'` to

[2018-03-16 22:07] sladwig commented on #95
since we are saving initial state, we could potentially just return that state from the reducer or am I wrong? not sure (yet) how to access it though... will dig deeper in the next couple of days, but am open for suggestions or other ideas.

[2018-03-17 02:45] StevenHeinrich opened #152 "UI: add mouse hover action props to grid, hex, and token"
Just basic `onMouseOver` and `onMouseOver` support, to more easily facilitate highlighting possible grid moves (acceptable move locations).

[2018-03-17 05:32] #152 closed

[2018-03-18 05:45] #147 closed

[2018-03-18 06:44] nicolodavis commented on #95
@sladwig Yes, you could just return the initial state that we already save.

[2018-03-18 08:00] nicolodavis commented on #142
I realized that we don't need `trigger` because the flow implementation contract requires that you return `eventNames`.

[2018-03-18 08:15] #142 closed

[2018-03-18 08:49] nicolodavis opened #154 "Turn Order Customizations"
- [ ] `setActionPlayers` option that allows others to play, but following a turn order (not simultaneously).
- [ ] Retire the Pass move. It's better to just document a pattern on how to implement passing or convert it to an event.

[2018-03-18 08:51] nicolodavis commented on #141
Closing this in favor of #154 to keep the implementation plan more focused. Feel free to continue discussions on this thread.

[2018-03-18 08:51] #141 closed

[2018-03-18 09:03] nicolodavis commented on #138
@viranch Your code doesn't follow the instructions in the documentation. In your version, you just need to change the import line in `sever_doesnt_work.js` to:

[code]

You will notice that the documentation actually uses a named export and doesn't run into this problem.

[2018-03-18 09:04] nicolodavis commented on #138
Assuming that there are no further problems, I'm going to close this. Feel free to re-open if you find any issues in the future (and also to continue discussion here).

[2018-03-18 09:04] #138 closed

[2018-03-18 16:09] viranch commented on #138
@nicolodavis Oh you're right! Thanks for all the work and help. May be setup a Slack team or something for ad-hoc questions/help instead of raising a Github issue?

[2018-03-18 19:44] Stefan-Hanke commented on #154
OK, let's assume we've got a Dominion implementation and want to make Militia work. For this, we'd need the first bullet point. As far as I've understood the new API, we'd need an event that must currently be directly implemented in `FlowWithPhases`, since there is currently no possibility to have events defined by a Game.

If that event existed, a game could dispatch a call to it which would be t

[2018-03-19 00:59] nicolodavis commented on #154
Yes, that's correct.

[2018-03-19 01:33] alex2wong opened #156 "add move range for token"
I am adding move range for token, I suppose it is a common function for hex grid game. here is how it look like
![move range](https://upload-images.jianshu.io/upload_images/1950967-38d0263477ecfe94.gif?imageMogr2/auto-orient/strip%7CimageView2/2/w/548)

for now, I just simply put the highlight and range calculation methods in hex. Before I wanna submit PR, I found there must be a **activeId alike

[2018-03-19 02:44] jstacoder commented on #156
`setState` can also take a function As its second argument, and you are guaranteed this function will not be called until after the state update happens, I think that’s what your looking for?

[2018-03-19 04:58] alex2wong commented on #156
@jstacoder  thx. I would have a try later !

[2018-03-19 05:45] Stefan-Hanke commented on #154
Since this allows concurrent state modifications, we'd need a way to reconcile state on a client with one that is `sync`ed. I don't know whether it's a good idea to let the game handle that process?

_Sidenote about order of players to take actions_: Actually, Dominion must enforce an order of action players since in case of that _Militia_, dropping cards could trigger e.g. _Marktplatz_ (don't kno

[2018-03-19 11:36] nicolodavis commented on #154
What concurrent state modification are you referring to?

[2018-03-19 11:47] nicolodavis commented on #156
@alex2wong Looks great! I'm assuming that you will also be adding some code to display the grid in that perspective?

Also, most of the UI components should be mostly stateless (try not to use state if you can; use props instead). For your use-case, we probably need two things:
- A function to calculate move ranges (for use in the game logic itself, not UI related).
- A way to highlight parts of t

[2018-03-19 11:51] nicolodavis commented on #156
#48

[2018-03-19 12:03] Stefan-Hanke commented on #154
The kind of modification where two states need to be merged somehow. E.g. two players simultaneously click on _Drop Card_, or one player is selecting cards to drop whereas the other one already has selected etc.

[2018-03-19 12:11] nicolodavis commented on #154
That's already taken care of via the stateID mechanism is it not?

[2018-03-19 12:12] nicolodavis commented on #154
An unsynced client cannot make a move basically.

[2018-03-19 13:21] sedobrengocce commented on #92
Greetings, someone is woriking on this issue?
If not I can take it

[2018-03-19 13:45] nicolodavis commented on #92
@akaguny is busy right now, so feel free to take it.

[2018-03-19 18:27] Stefan-Hanke commented on #154
Ah, maybe I don't know the specific multiplayer implementation. I'd like to avoid the case where one player loses part of his move because another is faster and comitted his...

[2018-03-20 07:03] nicolodavis commented on #154
That will only happen if the user plays before the update caused by the other players reaches them, i.e. will only be seen if there is noticeable network lag. Maybe we can build a mechanism in the future to perform a true merge, so that an out of date client can be usable in some cases, but this is what we have right now.

[2018-03-20 07:05] nicolodavis commented on #154
We might have to provide a hook to allow the game developer to specify how the stateID should change, and they could use a major.minor version system to indicate which state updates break old clients and which ones can tolerate a move from a client that hasn't seen the most recent state.

[2018-03-20 08:29] jstacoder commented on #137
#159

[2018-03-20 11:52] sladwig commented on #95
will move undo/redo out then, too.

[2018-03-20 11:53] nicolodavis commented on #95
If you've got the time, that would be great. Thanks!

[2018-03-20 14:02] rzulian opened #161 "Disable a move"
How do we want to manage the following scenario?
You are the activePlayer. Your available moves are moveA, moveB and moveC. You pick to do moveA, but we realise that you don't have the available resources (e.g. money, VPs)  to do it. Can we rollback the move?

[2018-03-20 15:07] nicolodavis commented on #161
moveA can return undefined in this case.

[2018-03-20 15:07] #161 closed

[2018-03-20 15:08] nicolodavis commented on #161
Please ask on the Gitter channel if you need further assistance.

[2018-03-20 20:41] jstacoder opened #163 "Conditional availableMoves"
I think it would be nice if we had a callback we could provide in game config, maybe overridable via phase config, that would take state as an argument, and return the array of availableMoves, that way it would be easy to base that on certain values in G, I’ll submit a pull soon, any ideas?

[2018-03-20 20:44] jstacoder commented on #163
Oh or better yet, let availableMoves be given as a function, and when it’s a function call it to provide the value, that way when an array is given a default function like `()=>availableMoves` could be used by default

[2018-03-21 01:50] nicolodavis commented on #163
Great idea! I like being able to support providing either an array or a function. Let's also make this available both in the global config as well as on a per-phase basis.

[2018-03-21 02:32] jstacoder commented on #163
Cool, I’m working up a pull request now.

[2018-03-21 02:36] jstacoder commented on #163
I think it would be useful for cases like #161

[2018-03-21 05:12] nicolodavis commented on #95
@sladwig Also take note of some bugs with the current Undo / Redo implementation that might be easy to spot during the migration:

- We try to remove the API's from `ctx` before adding them to `_undo` [here](https://github.com/google/boardgame.io/blob/master/src/core/flow.js#L329). However, I'm not sure why it's not removed [here](https://github.com/google/boardgame.io/blob/master/src/core/flow.js

[2018-03-21 08:33] #163 closed

[2018-03-22 20:17] Toktik opened #168 "Redux actions are not sent to server when redux devtools is enabled"
When redux devtools enhancer is enabled, the client does not send events to server because redux devtools encloses the real action into PERFORM_ACTION and boardgame.io whitelists actions here:
https://github.com/google/boardgame.io/blob/master/src/client/multiplayer/multiplayer.js#L59

[2018-03-24 10:59] nicolodavis opened #169 "Log rewind broken (for multiplayer games)"
The log rewind works as follows:
- We restore to the initial state of the game.
- We apply all the moves after that up to the rewind point.

The client essentially applies all the Redux actions over the store in order. This works fine in single player games, but for multiplayer games there are a couple of problems:
- secret state is not available on the client (so it can't replay the game accurate

[2018-03-24 11:06] nicolodavis commented on #168
This should be fixed in `0.20.3`.

[2018-03-24 11:36] raglopa opened #170 "incorrect isMultiplayer prop"
When I use a config object for multiplayer:
`const App = Client({
   ...options,
   multiplayer: { server: 'localhost:8000' }
}`
then in my board component the isMultiplayer prop is false.

But if I create the Client like this:
`const App = Client({
  ...options,
  multiplayer: true
})`
then the isMultiplayer prop is true like should be.

I checked the source code and there is strict equality in t

[2018-03-24 12:31] nicolodavis commented on #170
That line is just out of date. I'll fix it (or happy to look at a PR if you want to send me one).

[2018-03-25 04:35] scally opened #171 "Game Creation / Lobby API"
I've been trying to debug an issue with a multiplayer game this weekend, and encountered the following misunderstanding:

When you provide a playerID to the server today, it *must* be a 0-indexed number corresponding to the number of players -- [0, 1] for 2 players, for instance, is the only possible space. This appears to be due to this: https://github.com/google/boardgame.io/blob/bb9ff3b6dd6c9f8

[2018-03-25 06:30] jstacoder opened #172 "allow passing props to Board from Client?"
it would be very useful for my flow if i could pass a function into the Board component as a prop, maybe through the config object passed to Client? ie:
[code]
so in my Board component i could do `this.props.resetGame()` to completeley reset the whole flow.
or to just update the parent for any reason, (for me its so i can restart the game flow, but it could be for anything) i initially tried the p

[2018-03-25 11:37] nicolodavis commented on #172
I don't understand. Why don't you just pass the prop directly to `GameClient`?

[2018-03-25 15:11] janosimas opened #174 "invalid issue"
I'm having an issue but I still can pin it.

[2018-03-25 15:31] #174 closed

[2018-03-25 17:06] janosimas opened #175 "processMove calling endPhase twice"
I have a situation where I end the turn and the phase at the same time, the new phase has it's own conditions of endTurnIf and endPhaseIf.

- The `processMove` set's the variable `conf` end then activates the `endTurnEvent`. [phase `0`]
- The `endTurnEvent` activates the `endPhaseEvent`. [phase `1`]
- The `processMove` activates the `endPhaseEvent` of the `conf` variable set in the begining. [phas

[2018-03-25 17:15] jstacoder commented on #172
Because it’s defined in client/react.js and in that file the props are not being passed from GameClient into its children, because Client is a hoc and hoc’s hijack the props of the component they wrap unless they pass them through

[2018-03-25 17:16] jstacoder commented on #172
So any props passed to GameClient are just ignored

[2018-03-26 01:14] scally commented on #172
FWIW, I am using React context to accomplish this same thing (passing props into Board from outside), although I suspect just modifying the HOC to accept props would be a more elegant solution.

It does also make me wonder how other people are handling app state outside of what boardgame.io offers. Another separate Redux store? Context? Ensuring everything is expressed via flow/moves?

[2018-03-26 03:26] nicolodavis commented on #175
I didn't quite follow that. Do you have time to express this as a failing unit test in this repo? That would make it much easier to follow and debug (if there is a bug).

Were you expecting `endPhaseIf` to not kick in for the new phase?

[2018-03-26 03:28] nicolodavis commented on #170
Fixed in https://github.com/google/boardgame.io/commit/f76f97e8291b87d236ee9449211d3ea9c4d64c91, which should be available in the next release.

[2018-03-26 03:28] #170 closed

[2018-03-26 12:27] Stefan-Hanke commented on #171
The framework needs to assume something about players in order to allow working with them. I didn't find anything in [multiplayer.md](https://github.com/google/boardgame.io/blob/master/docs/multiplayer.md), so I'd imagine we could add a parapraph about this.

There is currently no notion of an _game instance id_ that comes from the server, associating players to a specific running game. Instead, t

[2018-03-26 14:38] nicolodavis commented on #171
I'll make the documentation clearer about this, but all the playerID/gameID management is currently the responsibility of the user. I'd like to eventually ship a lobby implementation that will do all this for you, but we aren't there yet.

playerID's are '0', '1', etc. as you rightly point out, and deliberately so. Figuring out how to map your notion of a user to these ID's is entirely up to you.

[2018-03-26 20:05] jstacoder commented on #172
I can update the pull request to do that, I think that’s a good idea, I was just thinking in terms of adding config because it seemed less tied to react that way

[2018-03-26 20:24] philihp commented on #172
Isn't this what a move is? A function passed to the board from the client?

[2018-03-27 00:24] janosimas commented on #175
I did create a test but I can't push because it's not passing the tests! :-p
How can I bypass the test check?

I'm having another error:
[code]

Do you know what can it be?

[2018-03-27 01:02] scally commented on #171
@nicolodavis Your response makes sense, but what I'm still a bit lost on is how else to secure the playerID. If it's always deterministic, isn't it pretty easily spoofable?

[2018-03-27 01:07] scally commented on #171
That is, you wouldn't send a session ID to a server with an ID of "1", because it would be super easy to guess the other player IDs and pretend to be them. Without some way of the server identifying you by session, how would you prevent similar tampering?

[2018-03-27 01:51] nicolodavis commented on #171
Yes, it is spoofable at the moment.

#100 was one attempt to add some authentication logic. If you have some ideas along this line, we could probably pick this up again.

[2018-03-27 01:53] jstacoder commented on #175
You should be able to get the test committed by making it expect to fail, instead of it failing an expected success

[2018-03-27 01:57] nicolodavis commented on #171
We need a few things probably:

- Some sort of "create game" logic that creates a game and secrets associated with each player.

- A "join game" call that sends over secrets to a client for a particular player.

- The client then sends over the secret instead of the playerID to play.

- I think we should still support non authenticated games like today for people that don't want any of this securi

[2018-03-27 01:58] janosimas commented on #175
@jstacoder the test should succeed, but the current state of the framework makes it fail.

[2018-03-27 01:59] nicolodavis commented on #175
I think you can also do

`git commit --no-verify`

to commit with failing tests.

[2018-03-27 02:11] scally commented on #171
@nicolodavis thanks for hearing me out. 😄 I'll think on this a bit and see if I can sketch something towards it this week.

[2018-03-27 02:20] janosimas commented on #175
I did the pull request #176

[2018-03-27 04:17] jstacoder commented on #172
@philihp yes, but as I understand it, the purpose of a move is to provide a reducer that returns a new (possibly mutated) G, it can only alter ctx indirectly through events, I want to completely override ctx externally. Which is outside of the scope of moves.

[2018-03-27 04:26] jstacoder commented on #172
@nicolodavis I can pass it through the GameClient, but because you are selectively grabbing GameClients props already ie: gameID, playerID and debug, I would either need to remove those and just pass `{...this.props}` or I would need to extract them, which was my original idea, but the best way I know to do it would be using the rest operator, but it seems like you are avoiding using rest, but it

[2018-03-27 06:55] nicolodavis commented on #175
OK the bug seems clear to me now. Thanks for creating the test! That really helped.

Will work on a fix.

[2018-03-27 06:56] nicolodavis commented on #175
Maybe I'll just fix it in your PR (so we can also see the test pass) and merge it in.

[2018-03-27 07:41] #175 closed

[2018-03-27 16:06] nicolodavis commented on #172
Using rest sounds good to me!

[2018-03-27 17:42] #95 closed

[2018-03-27 17:49] jstacoder commented on #172
ok, updated on #173 to use rest/spread to extract the currently used props, and pass the remainder.

[2018-03-27 18:20] nicolodavis commented on #172
Thanks! Merged.

[2018-03-27 18:20] #172 closed

[2018-03-28 22:19] Toktik opened #177 "Server throwing unhandledRejection"
It happens when doing any move. Using 0.21.5.

[code]

[2018-03-28 22:20] Toktik commented on #168
Thanks for a quick fix! However, still the server will not work, because all redux actions are sent encapsulated inside PERFORM_ACTION and server does not know how to handle.

[2018-03-29 03:04] jstacoder commented on #177
Is there anyway you could provide the object your passing to `Game`? It would help add context to the error.

[2018-03-29 05:45] Stefan-Hanke commented on #177
Please add repro steps, or provide your code.

The multiplayer examples utilizing the server seem to work. I've manually deleted _node_modules_ and _dist_, merged latest, ran _npm i_ and then _npm run examples_. Maybe I've missed something, the command is showing that the dev server is using `0.21.5`.

 The code in question fetches the `phase` from the phase map, and calls `allowedMoves` on it. `a

[2018-03-29 08:04] Toktik commented on #177
Here is the code: https://pastebin.com/a8U4fTBs

I observe that the canMakeMove() is called twice. First time it contains default phase only (not sure what it is), and it throws an error. Second time it contains all my phases.

[2018-03-29 15:42] Stefan-Hanke opened #178 "Cannot toggle Debug pane on example multiplayer games"
When running the examples with `npm run examples`, using <kbd>d</kbd> should toggle the Debug Pane. This works for the singleplayer games, but not for multiplayer ones.

Is this by intention?

[2018-03-29 16:08] Stefan-Hanke commented on #177
Weird. The _default_ phase is only used if no `phases` is passed to the flow. Since the code passes one, you should not see it at all.

Thanks for the code, I'm trying to somehow repro your scenario with it, atm to no avail. Could you share a complete example that demonstrates the issue?

[2018-03-29 16:15] nicolodavis commented on #178
Do they have debug: false in the config? This is working as intended.

[2018-03-29 17:16] Stefan-Hanke commented on #178
Oh my, thanks for the pointer. Opens up the question on why this is done...

[2018-03-29 17:16] #178 closed

[2018-03-29 19:56] sladwig opened #180 "allow setting the next player (and phase) via endPhase"
analogous to [this commit (allow setting the next player via endTurn)](https://github.com/google/boardgame.io/commit/9b0324c), I would want to use similar API for setting the next player via `endPhase`. I think it could clean up my `turnOrder` code a bit, since I wouldn't have to save the result of the first phase in G, to check in `turnOrder`function whose turn it is.

Since with `endPhase` you c

[2018-03-30 03:51] nicolodavis commented on #180
I like this in principle, but I think it would complicate the semantics and the implementation. For example:

- endPhase calls endTurnIf. What happens if these two return conflicting objects?

- similarly, endTurn calls endPhaseIf

I think it's cleaner for endPhase to only deal with phase related stuff and endTurn to deal with turn related stuff.

For your case, can't you use the Events API to cha

[2018-03-30 06:53] sladwig commented on #180
have been trying to update boardgame.io (from v0.20.1), which somehow doesn't work as smooth as expected and trough that stumbled on the commit above and thought it would be nice for consistency... haven't thought about/tried the Events API, will try it and close for now.

[2018-03-30 06:53] #180 closed

[2018-04-01 09:16] nicolodavis commented on #178
That's because having multiple overlapping debug panes (one for each player) can be potentially confusing.

[2018-04-04 03:13] charlestati opened #181 "Add server side calculations"
It would allow this kind of scenario in multiplayer:

1. **Player 1** attacks **Player 2**
2. Start **Player 1** Attack animation (if `optimisticUpdate`)
3. Start **Player 2** Hurt animation (if `optimisticUpdate`)
4. Calculate damages on the server
5. Update the health state on both clients

From what I've seen, the server strips the `_random` API from `ctx` so it stays server side. Maybe it coul

[2018-04-04 03:28] nicolodavis commented on #181
[onMove](https://github.com/google/boardgame.io/blob/master/src/core/flow.js#L171) is already calculated on the server side. Does this solve your use-case?

[2018-04-04 03:37] charlestati commented on #181
Yes, but it is still visible client-side, right?
It would be an issue if, for some reason, the calculation must be kept secret.

Also, it works for simple moves but for games with hundreds of different moves (such as role-playing games) each player would download lots of unnecessary data.

[2018-04-07 15:05] nicolodavis commented on #131
React Native is now supported as of https://github.com/google/boardgame.io/pull/128. This could serve as a good reference for how to add other UI frameworks.

[2018-04-07 15:44] sedobrengocce commented on #131
I can handle vue client if noone take it

[2018-04-07 23:05] nicolodavis commented on #131
That would be great!

[2018-04-08 04:37] nicolodavis commented on #181
The framework currently does not allow any secret logic, just secret data. Maybe we should just add an option to strip away everything in the `flow` object on the client side (at the expensive of optimistic updates). That way you can just use `onMove` to do secret computations and they aren't visible on the client side.

[2018-04-08 04:59] charlestati commented on #181
Yes, when `optimisticUpdate` is disabled stripping away everything in the `flow` could be a solution!

Thank you for your help!

[2018-04-13 14:46] nicolodavis commented on #48
I'm going to spend some time on UI this weekend. I think I have a satisfactory solution for drag-and-drop that works for both divs and SVG.

[2018-04-17 00:58] MInner commented on #138
Hi,

I am also struggling with setting up a proper websocket server. I have the following `server.js`

[code]

that prints
[code]
so it must be exported properly in `/Game.js`.

but `http://localhost:9000/` keeps returning only `Not Found`. Before that I was trying to set them up separately, but websocket server would silently receive connections and not reply anything.  Could anyone point me towa

[2018-04-18 01:40] scally opened #185 "Enhancers don't work for React Native clients"
If you use the new React Native client and pass it an enhancer to debug your local redux actions, it won't work as currently the RN client doesn't accept one to pass along to its RawClient.

[2018-04-18 01:41] scally commented on #185
I've added a PR to fix this issue. #184

[2018-04-18 02:50] #185 closed

[2018-04-19 20:31] pociej opened #186 "ctx api,"
Hi,
Tell me if im wrong, but from what i read for now :
a) framework makes decision what server backed i should use
b) ctx id read only.
I would like to use other server in backend but client from framework. I need game to be in same state after refresh and i want to allow player to save the game in current state and back to it later, additionally i want data of saved games to be accessible on ser

[2018-04-19 21:36] MInner commented on #138
Hi, does anyone read this?

[2018-04-20 05:52] jstacoder commented on #186
it is entirely backend agnostic, what you are referring to, the `Server`, is a helper supplied by the framework to maintain state between clients via a websocket connection. It does not serve your app for you, although like you said, you have that taken care of, and you don’t need to use the websocket helper provided, you are always free to reimplement it. You just need to supply something with a

[2018-04-20 06:43] philihp commented on #138
@MInner yes of course :) perhaps it would help for someone to reproduce the error if you push up your repo for them to see? Feel free to ask on Gitter https://gitter.im/boardgame-io/General

[2018-04-20 08:53] pociej commented on #186
@jstacoder thx for your reply. Yeah i read how server is implemented and you are right. Anyways main problem i described in orginal issue description is still here. I want to be able to leave game and back to it at any point of time, but : https://github.com/google/boardgame.io/blob/master/src/core/flow.js#L619-L627 . It sees that Flow ctx is hardcoded here and there is no api to be able start gam

[2018-04-20 15:10] jstacoder commented on #186
Yes, the default Flow implementation (`FlowWithPhases`) does hardcode that, but that is because it works for 90% of use cases, although the reason the `Flow` object is abstracted from the `Game` is so that if it doesn’t work for you you can reimplement the base Flow class to allow for the flow you need, ie you can let it take the current player or turn as a parameter or w/e, but that is what you w

[2018-04-20 17:39] pociej commented on #186
Yeah i see that reimplementation is not a hard piece of work. Im just surprised its not the part of default, and even more surprised that, based on your words, for 90% of use case its ok. Is there any important reason to have it implemented like it is now, or you are open for pull request. Maybe it should be separate class not reimplementation `FlowWithPhases`? Also im going to make meteor.js serv

[2018-04-21 21:52] Kikketer opened #187 "Tutorial Multiplayer Not Functioning"
I feel bad asking this but I'm unable to get the multiplayer portion working with the tutorial.  Clicking the cell works for player one and the "reducer" modifies the state but it doesn't seem to get to the server and the "end turn" function doesn't seem to fire.

Here's the repo: https://github.com/Kikketer/octosock

So the only differences I can see are the fact that I put the server code into t

[2018-04-21 21:56] janosimas opened #188 "Issues with multiplayer"
I having some trouble on how to create the multiplayer version, first let me tell that I have no experience with js so I may be doing something very basic wrong.

The client-only version is working fine.
I tried to create a server and a separated client just like the tutorial, when I debug I can see the `isConnected: true` and `isActive: false`, the current player seems ok too.
No connection error

[2018-04-22 03:37] nicolodavis commented on #188
Do you have a repo that I can use to reproduce your problem?

I'll mark this as a duplicate of #187 (let's discuss there).

[2018-04-22 03:37] #188 closed

[2018-04-22 04:00] nicolodavis commented on #171
@scally My post above describes how to prevent spoofing, i.e. clients that pretend that they're part of a particular game and execute moves.

What you're describing is a reasonable implementation for a lobby / leaderboard. boardgame.io is designed so that you can integrate it into your own user data without imposing a structure to that data. You can implement your own user authentication system (o

[2018-04-22 07:05] nicolodavis commented on #187
Change your server file from:

[code]

to

[code]

Additional reading: [link](https://stackoverflow.com/questions/33704714/cant-require-default-export-value-in-babel-6-x)

Feel free to reopen if you think there is a bug in the tutorial that needs to be fixed.

[2018-04-22 07:05] #187 closed

[2018-04-22 07:14] nicolodavis commented on #186
@pociej This should hopefully clear a few things up:

- State that you want persisted should go to a database like Mongo: http://boardgame.io/#/multiplayer?id=database
- If you want to write a connector for another database, that is also possible by implementing [one](https://github.com/google/boardgame.io/blob/master/src/server/db.js#L63).
- The game restores state from the DB, which is why you d

[2018-04-22 07:14] #186 closed

[2018-04-22 07:15] nicolodavis commented on #177
Closing this for now. @Toktik Feel free to ask at https://gitter.im/boardgame-io/General if you continue to have any problems.

[2018-04-22 07:15] #177 closed

[2018-04-22 07:37] nicolodavis commented on #98
@francoijs This looks like a good first step in this direction!

Here are my thoughts:

It would be nice to have a Python API that abstracts away how the bot communicates with the server. For example:

[code]

I personally think that it's much less messy if the bot just uses [websockets](https://pypi.org/project/socketIO-client/) behind the scenes and communicates with the server like any other JS

[2018-04-22 10:55] janosimas commented on #187
@nicolodavis I created a branch with a test [server](https://github.com/janosimas/dominion/tree/test-server)

I using to run the server:
`npx babel-node --presets es2015 src/server.js`
and to run the client:
`npm start`

[2018-04-22 14:27] Kikketer commented on #187
Thanks for the response!  I was able to get it to work by going 100% ES6, I realized I did this on my other projects but wasn't paying attention when building this one.  Here's what the updated server code could look like if using ES6:

[code]

Obviously some extra stuff in there like the `dotenv` but you get the idea.  Also i'm using `env` as my babel preset:

[code]

It might be worth having the

[2018-04-22 19:46] scally commented on #171
@nicolodavis Is it fair to say then that there's two issues/PR's here? One for game join/creation logic and another for lobbying/persistence?

[2018-04-22 19:49] scally commented on #171
Hmm, I might be misunderstanding this separation a bit. Let me look over your answer some more.

[2018-04-22 23:12] nicolodavis commented on #171
Yes, there are two components which would fit naturally into two PRs.

[2018-04-22 23:14] nicolodavis commented on #171
I think the lobby that we should bundle in should be fairly straightforward, though. No real persistence. Just have the user fill in their username (no password) and have some UI to create games and allow others to join.

[2018-04-25 23:17] scally commented on #171
@nicolodavis I have a super sketchy PR for this to see if this is sort of on the right track for what you were thinking. It creates routes for the two named API actions on a separate Koa app, and then has some non-working code that documents the approach. Please let me know if this is the right direction or not.

https://github.com/google/boardgame.io/pull/189

[2018-04-26 08:47] shirakaba commented on #121
What's the status of RN integration now? I'll be attempting a RN project with this soon, and would be willing to contribute if anything's missing.

That, and/or TypeScript support.

[2018-04-26 09:27] shirakaba opened #190 "TypeScript integration"
I don't see any TypeScript definition files, nor an `@types/boardgame.io` module on `npm`.

1. Would addition of TypeScript definition files be welcomed *(this would be totally non-intrusive, and can be done incrementally, but would have to be maintained every time any JS API updates)*?
2. Would actually migrating all the JS source to TypeScript be welcomed *(the type definitions would be future-p

[2018-04-26 12:26] nicolodavis commented on #121
It is already on NPM. Would welcome some testers though (I haven't checked if it works correctly).

[2018-04-26 16:09] chrisheninger commented on #190
@shirakaba if you'd like a starting point– @Felizardo has a file in his turnato repo:

https://github.com/Felizardo/turnato/blob/master/%40types/boardgame.io/index.d.ts

There was also a little discussion around TS when discussing the Angular client: https://github.com/google/boardgame.io/issues/131

[2018-04-26 17:13] shirakaba commented on #190
@chrisheninger That's invaluable, thank you!

Would a single-file declaration describing the whole codebase via many `declare module "x" {}` statements be preferable to declaration files alongside each JS file, then?

[2018-04-26 23:30] shirakaba commented on #190
For now, I've had to do declaration files alongside each JS file because I'm unsure how else to make test files for the typings. The test files are similarly littering the UI folder. I've also been incrementally adding the types into one global declaration file so that we have both options. You can see my progress [on my fork, on the shirakaba/typescript branch](https://github.com/shirakaba/boardg

[2018-04-27 08:39] shirakaba commented on #48
A heads-up for when we come to implementing drag-and-drop for React Native UI components: From React Native 55, the `Animated.Tracking` module supports usage of the native drivers for a JS-thread-independent [silky-smooth experience](https://twitter.com/kzzzf/status/958362032650244101).

Expo should be releasing their v27.0.0 SDK sometime this month (which will add support for said version of Reac

[2018-04-28 19:42] shirakaba commented on #190
I figured it out with a little reference to https://github.com/piotrwitek/react-redux-typescript-guide#component-typing-patterns and some guesswork.

I now have `Logo` and `Card` typings that permit all the patterns used in `logo.test.js` and `card.test.js`, but I've stumbled across a question for more experienced React developers:

Should each of these UI elements accept **all** props specified f

[2018-04-28 22:15] shirakaba commented on #190
Typings for `server` folder provided now. Some left as `any` as I need to type the core before I can get more specific with some values.

[2018-04-29 00:33] scally commented on #190
@shirakaba Is the intent that these typings ship with boardgame.io instead of in DefinitelyTyped? I see that they're in the repo now in your fork, but wasn't sure if that was a temporary thing as you worked on the typings.

[2018-04-29 01:15] shirakaba commented on #190
@scally I'd ideally prefer to ship them with boardgame.io directly, so that maintainers can keep the JS typings definitely in step for each given version of the repo. Otherwise, it becomes unclear which version of the typings one would need to install to match, say, v1.2.3 of the repository (a common headache for TS devs).

More than anything though, I'm not sure how to concatenate individual typi

[2018-05-01 00:43] shirakaba commented on #190
I've now written typings for all the JS in `src` (having just finished typing the `client` module). 🎉

On reflection, I've just noticed that I could write typings for the four CSS files, too 🤔 could try, I guess.

Blockers:

* I'll need to do another pass to add the (fairly insubstantial) typings tests for `core` and `client`, but the hard part is done now, at least.

* I should try applying the t

[2018-05-01 00:47] shirakaba commented on #131
@bmayen @Felizardo I've now fully-typed the repo on my own branch; will likely need to spend another week on it before I can make a pull request, but, as TypeScript users, I would greatly welcome either/both of you reviewing the pull request when it comes, if you possibly could.

[2018-05-01 01:08] Felizardo commented on #131
@shirakaba Thank you! I will try to use your version on my project because it seems more complete :), and if I can improve it in anyway I will contribute upstream :D

[2018-05-01 08:15] nicolodavis commented on #171
Some thoughts after looking through your PR (sorry about the delay in getting to this):

There are going to be two distinct "databases" (in reality they will most likely be two tables within one database, but I just want to make the conceptual difference stand out).

##### DB 1
This holds the game data. This is what we already have today. We even have an API (`db.set` and `db.get`) that allows any

[2018-05-02 00:53] scally commented on #171
@nicolodavis Is your expectation right now that "joining" a game is just adding a named label to an ordinal player? Does it have some other meaning?

[2018-05-02 01:39] nicolodavis commented on #171
The lobby API we're building (create game and join game) should do everything we expect as far as these operations are concerned. I'm hoping that a lobby implementation will just use these two calls under the hood. Which means that if we don't do all the secret generation here, we're pushing the burden onto the lobby implementation, which should only be concerned with logging in users and such. No

[2018-05-02 23:36] MrRhodes opened #191 "Network transport of data stripping methods from objects."
In my state I am storing a series of objects that I have created a `toString` method on...

[code]

The problem I have is once this has gone through the network, into mongo and back, it has lost the `toString` method.

Are there any plans to add a hydration step when loading the state back if I want to re-initialise these objects? (_or have I missed this feature in the documentation?_)

[2018-05-02 23:37] MrRhodes commented on #191
...actually maybe this could be carried out in one of the phases, `flow.onTurnBegin` maybe..

[2018-05-02 23:46] MrRhodes commented on #191
...nope :/

[2018-05-03 00:09] MrRhodes commented on #191
I've realised the error of my ways, state should no contain these methods, just be raw JSON... .

[2018-05-03 00:09] #191 closed

[2018-05-03 21:46] shirakaba commented on #121
Seems to work!

<img width="273" alt="screen shot 2018-05-03 at 22 39 26" src="https://user-images.githubusercontent.com/14055146/39604169-efc1ed3c-4f22-11e8-9f05-46adeac1116f.png">

This screenshot is actually my port of the react-native tic-tac-toe example to TypeScript. It's made as a non-Expo app, for some variety. The port is not quite ready to show yet, as I first need to figure out how to d

[2018-05-03 22:02] shirakaba commented on #190
@nicolodavis Sorry for the late reply.

Is there a timescale in mind for this? Naturally I worry about my types drifting out of sync and become obsolete if there's too much change to catch up with, but I'll do my best if TypeScript integration is a real goal.

For now, I'm happy to fill up a separate repo with TypeScript examples and refining the types.

It's looking like the path of least resista

[2018-05-03 23:33] Felizardo commented on #121
That looks amazing, great work!

[2018-05-04 00:09] scally commented on #171
@nicolodavis summarizing my understanding:

create_game -> creates a game & a boardgame.io player secret for each player in the game.
join_game -> associates the player to a name, returns the boardgame.io player secret in its response

Is this accurate?

[2018-05-04 03:25] nicolodavis commented on #190
Thanks @shirakaba!

Yeah, I do think this will be the easiest way to make progress going forward until we hit v1.0 (I'll probably upload a roadmap for this so people have a general sense of the timeline). In the meantime, once you're satisfied with your typings, let me know so I can link to your repo from the documentation here.

[2018-05-04 03:27] nicolodavis commented on #171
Yep!

[2018-05-05 06:16] scally commented on #171
@nicolodavis Still working on this. Were you thinking the secrets would be stored to `db2` in your example?

[2018-05-05 07:55] nicolodavis commented on #171
Yeah, that sounds good. Right now, this is what our DB looks like:

[code]

We could add the game metadata in a parallel table like this:

[code]

One way to achieve the separation of the key space would be to do something like this:

[code]

We could in theory also change our DB API to support the concept of a table, so we can do:

[code]

[2018-05-05 15:30] shirakaba commented on #190
I've now combined all the individual-file declarations into one whole-repo `index.d.ts` modules declaration file (same structure as your original):

https://github.com/shirakaba/boardgame.io/tree/shirakaba/typescript-examples

    yarn add https://github.com/shirakaba/boardgame.io.git#shirakaba/typescript-examples

However, I'm getting the classic packaging cache problem: https://github.com/facebo

[2018-05-05 18:20] qsona opened #193 "Turn goes twice when phase is end"
Hi, I'm facing a problem. I set `endTurnIf` hook to always return true. When phase is end, it seems that the turn automatically goes twice.

- `ctx.turn` is added by 2
- `ctx.currentPlayer` goes twice

I've not dug deeply yet, but I found that the `endTurn` event is dispatched in `function endPhaseEvent` and `endPhase` event is dispatched in `function endTurnEvent` in `src/core/flow.js` . I feel t

[2018-05-05 22:56] scally commented on #171
@nicolodavis  thanks. I used the `gameid:metadata` version for now, we can upgrade to something more like the table-based version later perhaps? I updated my PR, could you please take a look and see if you feel that it's going in a good direction? 😄

[2018-05-06 06:27] scally commented on #190
@shirakaba Just in case the DefinitelyTyped option could save you some hassle, I researched some of the pain points you mentioned.

Some type definitions include a version at the top indicating which release it matches, like this:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L1

It looks like it might be defined per-package like this:

https://github.com/D

[2018-05-07 21:30] francoijs commented on #98
The prototype was updated: it now connects to the server using the Socket.IO python client and can emit actions until game is over. Next: emitting 'endTurn' and 'endPhase' events to support more complex games.

[2018-05-08 09:24] pociej opened #194 "endPhase"
.. method in ctx. It would be useful to be able to call `ctx.endPhase` at any point without need of updating state and then check `endPhaseIf`

[2018-05-08 11:42] nicolodavis commented on #194
Try ctx.events.endPhase(). You can also call other events like endTurn the same way.

[2018-05-08 11:42] #194 closed

[2018-05-09 20:50] francoijs commented on #193
It seems like this change of behavior was introduced between versions 0.21.3 and 0.21.4.
Before version 0.21.4, we had to manually _endPhase_ at the end of a turn, so that the next turn (of next player) begins at the proper phase.

[2018-05-10 12:17] titanxxh commented on #169
Hi, I met a strange problem. When I call props.undo, I find that the state remains not changed. Then I use the redux dev tools to debug, I found the _undo list never changes (only an initial state which you add in flow.js startTurn). Do I misunderstand the usage of undo? Or there are something I forget?

gitter message copied to here. Maybe my problem is related to this issue?

[2018-05-10 13:51] #193 closed

[2018-05-10 13:51] nicolodavis commented on #193
Fixed now. Thanks again for the report!

[2018-05-10 14:01] nicolodavis commented on #98
Looks good @francoijs! Do you want to send me a PR to merge it in this repo? Just keep it in a directory called python at the root level.

One comment:
You should look at `actionPlayers` and not `currentPlayer` to determine if it is the bot's turn to play.

[2018-05-10 21:13] francoijs commented on #98
Here it is: [https://github.com/google/boardgame.io/pull/195](url)

[2018-05-11 06:41] nicolodavis commented on #131
@bmayen @sedobrengocce Just wanted to check in and ask if you guys are still working on the Angular / Vue clients respectively? Let me know if I can be of any assistance.

[2018-05-11 09:54] sedobrengocce commented on #131
@nicolodavis I'm sorry, but at the moment i've some work issue and i cannot work on vue client.

[2018-05-11 12:37] nicolodavis commented on #131
No problem! Just wanted to check if I could make a call for other volunteers that may want to contribute in this space.

[2018-05-15 17:41] scally opened #197 "Simple web lobby implementation"
As a followup to #189 , we will need a simple implementation of a web lobby utilizing the new API

[2018-05-16 09:18] nicolodavis commented on #7
I'll spend some time in the next few weeks working on AI stuff (in addition to UI stuff).

My general plan at the moment is to bundle in a generic [MCTS](https://en.wikipedia.org/wiki/Monte_Carlo_tree_search) bot that is able to play the game with increasingly higher skill depending on how much information the developer provides:

#### Level 1:
- The user just **enumerates** the next moves, given

[2018-05-16 23:54] scally opened #198 "Protect lobby API"
Followup for #189 , as it stands today it's possible for anyone to call the lobby API.

Some ideas:

1. Shared token between lobby webserver & lobby API
2. ???

[2018-05-17 09:56] nicolodavis commented on #198
Shared token sounds good to me.

Another option would be to expose **create game** and **join game** as just normal JS functions. A lobby implementation can then just use them directly as wrappers over `db.set` to create games. The ACL's are now provided at the DB level to prevent the outside world from calling them directly.

We can still expose them through a RESTful API like #189 does, but mayb

[2018-05-18 13:53] Crepepepe opened #200 "Translate api docs to Korean"
Hello, I want to translate api docs to Korean.
Would I make folder like `docs/api/ko/*.md`?

[2018-05-18 14:29] Crepepepe commented on #200
@nicolodavis Chrome's translate is good when just translate listed words, but pretty bad for complex sentence. Because Korean has different word order. For syncing, I will keep updating api docs.

[2018-05-18 20:43] philihp commented on #7
^love this.

[2018-05-18 22:46] scally commented on #190
Just out of curiousity @nicolodavis is there a particular thing keeping you from wanting to use Typescript for this project? It seems like it might be the path of least resistance to integrating types here.

[2018-05-18 23:29] shirakaba commented on #190
One thing to add/clarify: I can't get a single-file `index.d.ts` to work with the bundled js (so DefinitelyTyped is out of the question unless someone can figure it out to unblock me), but the typings would work just fine if the project were to distribute its individual .js files and distribute the respective .d.ts files alongside those.

[2018-05-18 23:30] shirakaba commented on #190
Thus, DefinitelyTyped could be considered if the js source were to be distributed as individual files rather than bundles.

[2018-05-19 00:07] rwforest commented on #6
@nicolodavis any plan /ETA on Firebase?

[2018-05-19 00:18] nicolodavis commented on #6
Nobody is working on Firebase at the moment. Looking for contributors.

[2018-05-19 00:29] nicolodavis commented on #190
For me, it's just a lack of knowledge of Typescript that wants me to keep it separate for now. That and the fact that I think the somewhat fluid API at the moment will be harder to modify with more things to keep in sync. I'm totally open to getting it in after we reach v1.0.

Which is also a reminder for me to get started on documenting the roadmap to v1.0.

[2018-05-19 03:53] nicolodavis commented on #200
I did some research on how other projects handle localization. Redux, for example, has translators host the docs in separate [repositories](https://github.com/camsong/redux-in-chinese). React also does the [same](https://github.com/discountry/react), although they might be moving to a more formal process for localization soon.

I think I'd like to follow a similar model, where we can link to the K

[2018-05-19 07:53] nicolodavis commented on #98
I just realized that for bots to be useful, they need some mechanism to simulate future moves. Do you have any thoughts on how we might do this for Python bots, given that the game engine is in JavaScript?

[2018-05-19 15:42] jstacoder commented on #98
If you need to call functions from the engine in python you can use PyExecJs, which gives you access to the js runtime, so you can call JavaScript functions and return the results to the calling python code.

[2018-05-20 15:58] PiotrZakrzewski opened #201 "Dev setup Documentation"
Hi! I have tried to link the package to my own project with `yarn link` but I could not quite get it to work. Are there any steps that one needs to take to prepare boardgame.io source for local linking?

[2018-05-20 16:12] Crepepepe opened #202 "Wrong style docs/api/Game.md"
https://github.com/google/boardgame.io/blame/master/docs/api/Game.md#L18
Why this line starts with one space and uses `-` not `:`?
Can I make PR for this line?

[2018-05-21 00:04] nicolodavis commented on #202
Sure!

[2018-05-21 00:05] nicolodavis commented on #201
Have you tried a Babel alias? That's what this repo uses. Take a look at the babelrc. Let me know if you have trouble understanding it!

[2018-05-21 00:05] #201 closed

[2018-05-21 02:12] #202 closed

[2018-05-26 05:51] scally commented on #198
I'll start with the token idea, I'm not sure I fully understand the other option atm.

[2018-05-27 22:34] iamchristopher commented on #168
@nicolodavis This is still an issue with `0.22.1`.

[2018-05-28 01:02] scally commented on #198
@nicolodavis a PR is up for this at #204 . It's branched from #189, so it will require a rebase whenever #189 lands, but if you want to see the real diffs for it for now, it's in the last commit.

[2018-05-29 02:42] nicolodavis commented on #200
I'll close this for now. Please re-open it once you are done and I'll add a link to the documentation.

[2018-05-29 02:42] #200 closed

[2018-05-29 02:43] nicolodavis commented on #156
Closing this for lack of activity.

[2018-05-29 02:43] #156 closed

[2018-05-29 04:49] nicolodavis opened #206 "Need to show endPhase in the log"
`endPhase` is currently not handled by the game log.

[2018-05-29 09:55] #198 closed

[2018-05-29 09:56] nicolodavis commented on #171
I'll close this now that we have whatever we discussed on this thread in. I'll open another issue to track future work.

[2018-05-29 09:56] #171 closed

[2018-05-29 09:58] nicolodavis opened #207 "Game Creation API"
- [x] `create` and `join` calls #189
- [x] ability to protect API with a secret #204
- [ ] ability to pass arbitrary data to the `create` call that is eventually passed as an argument to `Game.setup`.
- [ ] simple web lobby implementation #197
- [ ] ability to assign a bot to a player.

[2018-05-29 11:56] MrRhodes commented on #197
Has anyone picked this up ?

[2018-05-29 13:31] nicolodavis commented on #197
I'm not sure if @scally posted this as a way of documenting what he would work on next, or if this is open. Let's check with him.

[2018-05-29 14:58] titanxxh commented on #154
The Events API is still under development? No docs for it, right?

[2018-05-29 15:00] nicolodavis commented on #154
There is a pending PR to add some documentation. I'm just waiting to get some time to add some interactive examples as well before I get that in.

[2018-05-30 09:01] nicolodavis commented on #197
I'm a big fan of minimalist (mostly text) UI that provides hooks for people to customize if they want a different look and feel. Here are some thoughts on what it could look / behave like:

- there is a text field somewhere on the page (top right perhaps?) that allows you to enter your handle name
- the middle area should probably have a list of currently active games (separated into different tab

[2018-05-31 10:52] titanxxh commented on #154
Actually, I have a question about the best case for Phase. I’d like to know which one below is the best practice?
1. Game is divided into different phases. In each phase players can take their turns one by one. For example, Agricola game can have setting, drafting, round, harvest... phases.
2. The turn of a player can divided into small phases. Let’s take Agricola for example again, one can do man

[2018-05-31 13:38] nicolodavis commented on #154
@titanxxh An easy way to fix your problem would be for the framework to not accept `endTurn` from any player other than `currentPlayer`.

[2018-06-02 01:46] titanxxh commented on #154
But this will not solve the `endPhase` triggered in one player's moves problem.

[2018-06-02 02:00] nicolodavis commented on #154
But that's actually necessary in most cases (and in your case it doesn't actually matter if we don't allow the subsequent `endTurn`, correct?).

[2018-06-03 06:09] drsirmrpresidentfathercharles opened #211 "allowedMoves is set incorrectly if phase is ended as the result of a move"
At [this line](https://github.com/google/boardgame.io/blob/8db26d292113944b3c5446c6a50d2f0e4d0077da/src/core/flow.js#L544) in flow, if the phase ends during the move, although the phase is updated in the state, the allowedMoves property is set [here](https://github.com/google/boardgame.io/blob/8db26d292113944b3c5446c6a50d2f0e4d0077da/src/core/flow.js#L563) based on the previous phase because the `

[2018-06-03 06:12] nicolodavis commented on #211
Thanks for the report! Do you want to send me a tiny fix for this? (I'll get to it eventually if you don't have the time).

[2018-06-03 06:18] drsirmrpresidentfathercharles commented on #211
Sure! I'll get a pull request in soon.

[2018-06-03 06:40] #211 closed

[2018-06-03 06:40] nicolodavis commented on #211
Thanks a lot!

[2018-06-04 12:53] francoijs commented on #98
@jstacoder: thanks for the hint, that could prove useful
@nicolodavis: By 'simulating future moves', do you mean implementing the game logic to process the transition from one game state G to another, given any action? (just like in the methods Game.moves.*).
Would it mean providing an equivalent to the base class 'Game' in Python ?

My initial need for the python bot was a mean of connecting an e

[2018-06-04 14:02] nicolodavis commented on #7
Level 1 is done! The tutorial now demonstrates how to add AI.

[2018-06-05 04:14] chrisheninger opened #213 "React-Native Client: Error with Android"
Hi @nicolodavis! 👋

I've been working on a React-Native version of matchimals.fun over the past few weeks! In the process, I discovered a bug that we've ran into before.

When we were initially writing the React-Native Client (#128)– we found that for some strange reason `for...of` loops weren't getting transpiled properly– and while iOS is okay– Android doesn't know how to handle them.

<img widt

[2018-06-05 06:21] nicolodavis commented on #213
Sure!

[2018-06-07 06:19] jstacoder opened #214 "Add api endpoint to list available games, stats etc..."
I think since `games` is an argument you pass to the game api server when you create it, (ie since that data is a part of the api implementation) it would be nice if it had an endpoint to list available games, and possibly stats about the players? Maybe high scores or w/e, I think I’ll issue a pull request for the game list endpoint If it sounds like a good idea?

[2018-06-10 01:24] iamchristopher opened #217 "Flow vs FlowWithPhases"
According to comments left in the code, `FlowWithPhases` is intended to be a "very customizable game flow". However, in practice I've found myself quite hamstrung with it's implementation. Overall, `FlowWithPhases` has a larger number of options but `Flow` has some advanced options that aren't shared between the two (specifically, `ctx` and `canMakeMove`).

It's possible that I may be interpreting

[2018-06-10 03:10] nicolodavis commented on #217
For flows, there are actually three possible ways you can go about customizing:

### 1. Write a raw flow all by yourself

This involves creating a flow reducer like this:

[code]

This is the return value of `Flow()` and allows you to do whatever you want basically. Most users will not want to do this.

### 2. Use Flow()

I don't recommend this either. `Flow()` is now more or less just an implemen

[2018-06-10 03:10] #217 closed

[2018-06-10 03:10] nicolodavis commented on #217
(let's continue this discussion on Gitter rather than on the Issue Tracker)

[2018-06-10 03:36] nicolodavis opened #218 "isActive bug on slow connections"
The multiplayer Tic-Tac-Toe example demonstrates that you can:
1. disconnect the server
2. make a move

and the move will fill the cell, and yet allow you to continue filling other cells (because the endTurn event hasn't been processed).

We should probably rethink the early bail-out [here](https://github.com/google/boardgame.io/blob/master/src/core/reducer.js#L172).

[2018-06-11 14:08] lw1990 opened #219 "endPhaseIf prevents endTurnIf from working if they 'trigger' at same time"
Here is a code sandbox of an example of this problem, modified from the tic-tac-toe example.

https://codesandbox.io/s/24p2r93z7y

There are two phases in this example, phase 1 and phase 2. Phases change when G.hasClicked === true.
Turns are supposed to increment when G.hasClicked === true as well, but endPhaseIf prevents endTurnIf from being called.

By commenting out both endPhaseIf lines, endTu

[2018-06-13 04:35] #219 closed

[2018-06-13 07:33] nicolodavis commented on #98
https://github.com/PiotrDabkowski/Js2Py also looks promising if we want to leverage existing game logic written in JS in a Python bot.

[2018-06-15 21:00] darekkay opened #221 "create-react-app build fails because of async/await"
I've created a `create-react-app` project (as suggested in your docs) and added boardgame.io. In dev mode ( `npm run start`), everything works fine. However, a production build (`npm run build`) [fails to minify](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify). The error message points to `boardgame.io/dist/react.js`

[2018-06-16 03:59] nicolodavis commented on #213
Great! I'll start fixing the for of loops anyway. Is there anything else we need to fix in the short-term or is your workaround a good enough solution for you?

[2018-06-16 15:23] bennygenel opened #222 "AI debugging info isn't serialized properly on save"
Hi;
I noticed an error while saving on tic-tac-toe single player example. Error is below. It occurs when you want to `save` after you use `step` and it doesn't happen if you manually play.

[code]

[2018-06-16 15:45] bennygenel commented on #6
@nicolodavis I would like to add my contribution by working on Firebase.

I created a similar class to Mongo for Firebase/Firestore. Is this something you would like to add to the project?

[code]

[2018-06-17 01:13] nicolodavis commented on #6
@bennygenel that would be great!

[2018-06-19 15:31] bennygenel commented on #6
@nicolodavis I'm planing for SQL integration as we talked but I have one question in mind.

Package dependencies are getting pretty big in my opinion. For someone just going to use mongodb having all other db packages downloaded is really unnecessary. After sequelize integration there is going to be 6 packages in total added to the project just for databases.

Is there something we can do about th